.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .head{
    padding: 10px;
    background-color: #ffb500;
  }
  .top{
    margin-top:80px;
    display: flex;
    flex-direction: column;
   
  }
  .topMob{
    margin-top: 80px;
  }
  
  .titleStyle {
    font-family: 'HelveticaNeue';
  }
  a{
    font-size: 16px;
    padding: 10px;
color: black;
  }

  