<div *ngIf="!isSignUp">

  <mat-icon (click)="close()" style="cursor: pointer">clear</mat-icon>
  <mat-dialog-content>
   
    <!-- <p> We will get back to you soon</p> -->
    <!-- [formGroup]="signInForm" -->
    <form [formGroup]="signInForm" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-12">
            <h6 >Login To Ucchal Fashion</h6>
            <br>
            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
              <div class="row registerSetup">
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-6 col-6  text-center ">


                  <button id="googleBtn" class="btn box1 ifont">
                    <img src="../../../assets/images/google.png" width="20px">
                    Google</button>
                </div>
                <!-- <div class="col-md-2"></div>  (click)="facebookLoginSubmit()"-->
                <div class="col-md-6 col-6 text-center ">
                  <button  class="btn btn-social btn-facebook ifont box1" (click)="facebookLoginSubmit()">
                    <img src="../../../assets/images/facebook.png" width="20px">
                    Facebook</button>
                </div>
                <!-- <div class="col-md-1"></div> -->
                <br>
                <div class="col-md-12 col-sm-12 col-12 mt-3 pt-2">
                  <mat-form-field>
                    <mat-label>Email-Id</mat-label>
                    <!-- formControlName="emailId" -->
                    <input matInput placeholder="Email-Id" formControlName="emailId" required>
                    <mat-icon matSuffix mat-icon-button aria-label="Email-Id">email</mat-icon>
                    <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                      Email-Id is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-12">
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <!-- formControlName="password" [type]="showPassword ? 'text': 'password'"  (click)="checkPassword()"-->
                    <input matInput placeholder="Password"  formControlName="password"
                    [type]="showPassword ? 'text': 'password'"   required>
                    <mat-icon matSuffix mat-icon-button aria-label="Password" (click)="checkPassword()" >remove_red_eye
                    </mat-icon>
                    <mat-error *ngIf="signInForm.controls['password'].errors?.required">
                      Password is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-12">
                  <div *ngIf="pwdError === true">
                    <p style="color: red">Invalid Account</p>
                  </div> 
                <!-- (click)="!signInForm.invalid && onSubmit()" -->
                  <button class="registerButton" 
              
              mat-raised-button  color="primary" type="submit" (click)="!signInForm.invalid && onSubmit()">Login</button>
                </div>
                <div class="col-md-6 col-6">
                  <div class="pt-4"><a >Forgot Password?</a></div>
                  <!-- <button class="registerButton" (click)="forgetPassword()" mat-raised-button  color="primary" type="submit">Login</button> -->
                </div>
                <div class="col-md-6 col-6">
                  <div class="pt-4"><a (click)="signup()">Dont have an account?<span style="cursor: pointer;"> Sign Up</span> </a></div>
                </div>

              </div>
            </div>
            <!-- <mat-dialog-actions>
              <button  (click)="close()">Close</button>
              <button> Login </button>
            </mat-dialog-actions> -->
          </div>
          <div class="col-md-6 col-12">
              <img width="100%" src="../../../assets/images/category/67712818_1234192370093866_1588173659487918574_n.jpg" *ngIf="!showMobileView">
            </div>
        </div>
        
      </div>
    </form>


  </mat-dialog-content>


</div>


<div *ngIf="isSignUp">
    <mat-icon (click)="close()" style="cursor: pointer">clear</mat-icon>
  <mat-dialog-content>
    <h6>Sign Up to Ucchal Fashion</h6>
    <form [formGroup]="regForm" novalidate>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-12">

            <br>
            <div class="col-md-12 col-sm-12 col-xs-12 col-12">
              <div class="row registerSetup">
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-6 col-6  text-center ">


                  <button id="googleBtn" class="btn box1 ifont">
                    <img src="../../../assets/images/google.png" width="25px">
                    Google</button>
                </div>
                <!-- <div class="col-md-2"></div>  (click)="facebookLoginSubmit()"-->
                <div class="col-md-6 col-6 text-center ">
                  <button  class="btn btn-social btn-facebook ifont box1" (click)="facebookLoginSubmit()">
                    <img src="../../../assets/images/facebook.png" width="25px">
                    Facebook</button>
                </div>
                <!-- <div class="col-md-1"></div> -->
              
                
                
                <div class="col-md-12 col-sm-12 col-12 mt-3 pt-2">
                  <mat-form-field>
                    <mat-label>Email-Id</mat-label>
                    <!-- formControlName="emailId" -->
                    <input matInput placeholder="Email-Id" formControlName="emailId" required>
                    <mat-icon matSuffix mat-icon-button aria-label="Email-Id">email</mat-icon>
                    <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                      Email-Id is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-sm-12 col-12 ">
                  <mat-form-field>
                    <mat-label>Mobile Number</mat-label>
                    <input matInput placeholder="Mobile Number" maxlength="10" formControlName="mobileNumber"   required>
                      <mat-icon matSuffix mat-icon-button aria-label="Mobile Number">phone</mat-icon>
                      <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                       Mobile Number is
                        <strong>required</strong>
                      </mat-error>
                      <!-- pattern="^[1-9]\d{9}$" <mat-error *ngIf="signInForm.controls['emailId'].errors?.required">
                        Mobile Number Should be 10
                       </mat-error> -->
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-12">
                  <mat-form-field>
                    <mat-label>Password</mat-label>
                    <!-- formControlName="password" [type]="showPassword ? 'text': 'password'"  (click)="checkPassword()"-->
                    <input matInput placeholder="Password"   formControlName="password"
                    [type]="showPassword ? 'text': 'password'"   required>
                    <mat-icon matSuffix mat-icon-button aria-label="Password" (click)="checkPassword()" >remove_red_eye
                    </mat-icon>
                    <mat-error *ngIf="signInForm.controls['password'].errors?.required">
                      Password is
                      <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-12 col-12">
                  <!-- <div *ngIf="pwdError === true">
                    <p style="color: red">Invalid Account</p>
                  </div> 
                (click)="!signInForm.invalid && onSubmit()"-->
                  <button class="registerButton" 
              
              mat-raised-button  color="primary" type="submit" (click)="!regForm.invalid && onRegister()" >Sign Up</button>
                </div>
                <div class="col-md-12 col-12">
                  <div class="pt-4">Already have an account?<a style="cursor: pointer;" (click)="login()"> Login</a></div>
                  <!-- <button class="registerButton" (click)="forgetPassword()" mat-raised-button  color="primary" type="submit">Login</button> -->
                </div>
                <div class="col-md-6 "></div>

              </div>
            </div>
            <!-- <mat-dialog-actions>
              <button  (click)="close()">Close</button>
              <button> Login </button>
            </mat-dialog-actions> -->
          </div>
          <div class="col-md-6 col-12">
              <img width="100%" src="../../../assets/images/category/67712818_1234192370093866_1588173659487918574_n.jpg" *ngIf="!showMobileView">
            </div>
        </div>
        
      </div>
    </form>
  </mat-dialog-content>
</div>