<h5 class="titleVal text-center" *ngIf="alsoModel?.length !==0" >
  YOU MAY ALSO LIKE
</h5>
<!-- <h5 class="text-center viewAll" routerLink="/product/supercategory/{{alsoModel?.superCategoryId}}/brandproduct/{{alsoModel?.brandId}}">View all</h5> -->
<div class="container">
<div class="text-center" *ngIf="alsoModel?.length !==0">
  <app-carousel-item>
    
    <div appCarouselItem class="col-md-3 pr-2 pl-2 col-6 "    *ngFor="let product of alsoModel">
          <div class="productBox"  
      appHoverItem>
          <div class="productImg" >
              <div class="grumpy-image-wrapper">
            <!-- <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249); 
            cursor: pointer;"> -->
              <img class="grumpy-image" (click)="getView(product._id, product.superCategoryId, product.subCategoryId)" [src]="product.productImage[0].productImageName"  (click)="getProduct(product)">
              <img src="../../../../assets/images/ucchal leaf 2.png"  class="imgleaf">
              <p class="discountcount" [ngClass]="{'discountcountMob':showMobileView===true}"> {{product.discount}}%</p>
              <p class="discountcountoff" [ngClass]="{'discountcountoffMob':showMobileView===true}">  OFF</p>
            </div>
          <!--   <div class="productTesting" [class.displayNone]="product.display !== true" 
            [class.displayBlock]="product.display === true"> -->
              <!-- <div (click)="closeToBagLikedProduct(product._id, brandProductData)" class="sizeHeader  pull-right">
                <mat-icon>clear</mat-icon>
              </div> -->
              <!-- <div class="sizeTesting">
                <button class="oneSize" [disabled]="size.sizeQuantity === 0" (click)="skuProductAddToCart(product._id, size)" *ngFor="let size of product.productVariant">
                  <span >{{size.sizeName}}</span>
                </button>
              </div> -->
           <!--  </div> -->
           <!--  <div class="productActionLeft" (click)="checkLoginUser(product)" 
            [ngClass]="{'changeMatIconColor': product.wishList,'mob':showMobileView1 }"  [style.display]="'none'">
              <span class="wishProduct"  ><span class="aligned-with-icon-relative">Wishlist
                 </span></span> -->
             <!--  <span class="addtoProduct" (click)="addToBag(product._id)"><span class="aligned-with-icon-relative">Add To Bag</span></span> -->
          <!--   </div> -->
            <!-- <div class="productActionRight"   [style.display]="'none'" [ngClass]="{'mob':showMobileView1}"> -->
              <!-- <span class="wishProduct"  (click)="checkLoginUser(product)"><span class="aligned-with-icon-relative">Wishlist
                 </span></span> -->
              <!-- <span class="addtoProduct" (click)="addToBagLikedProduct(product._id, brandProductData)"><span class="aligned-with-icon-relative">Add To Bag</span></span>
            </div> -->
          </div>
          <div class="productDetails">
            <h3 class="productName text-center">{{product.productName}}</h3>
            <div class="productPriceBox">
                    
              <h6 class="productPrice">{{product.price  | converter | localeCurrency}}
                  <span class="fullPrice" >{{ product.sp * 100/( 100 - product.discount) | converter | localeCurrency}}</span>
              </h6>
              <p class="text-center">You Save: <span>{{product.sp * (100/( 100 - product.discount)) - product.sp | converter | localeCurrency}}</span></p>
            </div>
            <!-- <div class="productPriceBox"> -->
              <!-- <p  class="text-center productPrice textShape"><span  style="font-size: 14px; color: #3B3B3B;font-family: 'sans-serif';">&#x20B9;</span><span style="font-family: 'Montserrat-SemiBold'"> {{product.price | number: '0.0-0'}} </span> -->
                <!-- <span  style="font-family: 'sans-serif'">&#x20B9; </span><span class="oldPrice" [ngClass]="product.discountStyle">{{product.price}}</span> -->
                <!-- <span [hidden]="product.discount === 0 || product.discount === undefined" class="pull-right offerText" style="color: #666666">{{product.discount}} off</span> --><!-- </p> -->
           <!--  </div> -->
          </div>
        </div>
    </div>
</app-carousel-item>
  </div>
  </div>