.addToCartButton
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
    background-color: #11172b;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    min-height: 45px;
}
.applyBtn {
    float: left;
    padding: 4px 16px;
    position: absolute;
    color:#181818;
    border: 1px solid #181818;
    border-radius: 3px;
    text-transform: none;
    cursor: pointer;
    font-weight: 600;
    right: 0;
    background: #fff;
}
.optionsHeader {
    font-size: 12px;
    font-weight: 600;
    color: #7e818c;
    font-family: 'Montserrat-Regular';
}
.optionsBorder {
    border-bottom: 2px solid #eee;
}
.optionSubHeader {
    font-family: 'Montserrat-Regular';
    font-size: 13px !important;
}