.fontSty {
    /* font-family: 'Montserrat-Regular'; */
    font-size: 10px;
}
.deliveryAddress {
    font-size: 15px;
}
.textHead {
    font-size: 13px;   
}
.clickLink:hover {
    text-decoration: underline !important;
    cursor: pointer;
    color: tomato;
}