<div class="row gridRow border p-2" *ngFor="let order of orderModel">
    <div class="col-md-2">
      <div class="text-secondary">
        <strong>Date: </strong><span>{{order.orderDate | date}}</span>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-secondary">
        <strong>Order ID: </strong><span>{{order.orderId}}</span>
      </div>
      <div class="text-secondary" *ngIf="order.orderStatus === 'Out For Delivery'">
       <button  type="submit" (click)="trackTheOrder(order.awbNo, order.orderId)"> Track the order </button>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-secondary fontSty">
        <strong>Total: </strong><span>{{order.total | converter | localeCurrency }}</span> 
      </div>
    </div>
    
    
    <div class=" col-md-4">
      <!-- <div class="row" *ngFor="let orderItem of order.orderedProducts; let i = index">
        <div class="col-md-12" *ngFor="let product of orderItem">

         
          <div class="row" (click)="viewProduct(product._id)">
              
            <div class="col-md-4 col-6 pb-2"><img class="img-fluid" 
            [src]="product.productImage[0].productImageName">
        </div>
        <div class="col-md-7 col-6">
          <p class="product-name fontSty"><strong>{{product.productName}}</strong></p>
          <div *ngFor="let sizes of order.cart; let j = index">
             <div *ngFor="let purchasedsku of product.child"> 
               <p class="product-name fontSty" *ngIf="sizes.INTsku === purchasedsku.INTsku && i === j">Size:{{purchasedsku.sizeVariant}} </p>
              
             </div>
          </div>
          <p class="product-name fontSty"><span class="textHead">Color:</span><strong>{{product.color}}</strong></p>
          <p class="product-name fontSty" *ngFor="let cart of order.cart; let j = index" [hidden]="i !== j"><span class="textHead">Body Height:</span><strong>{{cart.bodyHeight}}</strong></p>
          
          <div *ngFor="let cart of order.cart">
            <div *ngFor="let child of product.child">
              <div *ngIf="child.INTsku === cart.INTsku">
                <p *ngIf="cart.tailoringService === true">
                    <span *ngFor="let val of order.measurement">
                    <a *ngIf="cart.isMeasurement === true && cart.serviceId === val._id" 
                    (click)="getMeasurment(val)">Measurement</a></span>
                  <a *ngIf="cart.isUnstitched === true">Unstitched</a></p>
                  <p *ngIf="cart.tailoringService === false">None</p>
                </div>
            </div>
          </div>
        </div>
      
        </div>
        <div>
      
          <div *ngIf="order.isReview === false">
        <a (click)="createReview(product._id , order.orderId)"> <label>Review & Rating</label></a>
      </div>
        </div>
      

      </div>
    </div> -->
    <div class="row" *ngFor="let orderItem of order.orderedProducts; let i = index">
      <div *ngFor="let cart of order.cart; let j = index">
        <div class="col-md-12" *ngFor="let product of orderItem">
          <div class="row" *ngFor="let child of product.child">
            <div class="col-md-4" *ngIf="child.INTsku === cart.INTsku && i === j" >
                <img class="img-fluid" 
                [src]="child.productImage[0].productImageName">
            </div>
            <div class="col-md-8" *ngIf="child.INTsku === cart.INTsku && i === j" >
              <ul style="list-style-type:none;">
                <li class="product-name fontSty"><strong>{{child.productName}}</strong></li>
                <li class="product-name fontSty">Size:{{child.sizeVariant}} </li>
                <li class="product-name fontSty"><span class="textHead">Color:</span><strong>{{child.color}}</strong></li>
                <li class="product-name fontSty" ><span class="textHead">Body Height:</span><strong>{{cart.bodyHeight}}</strong></li>
                <p *ngIf="cart.tailoringService === true">
                    <span *ngFor="let val of order.measurement">
                    <a *ngIf="cart.isMeasurement === true && cart.serviceId === val._id" 
                    (click)="getMeasurment(val)">Measurement</a></span>
                  <a *ngIf="cart.isUnstitched === true">Unstitched</a></p>
                  <div *ngIf="cart.isReview !== true">
                    <a (click)="createReview(product._id , order.orderId, cart._id)"> <label class="clickLink">Review & Rating</label></a>
                  </div>
                  <div *ngIf="cart.isReview === true"> Reviewed</div>
                  <!-- <p *ngIf="cart.tailoringService === false">None</p> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-md-2">
      <div class="row" *ngFor="let detail of order.addressDetails; let i = index">
          <div class="col-md-12 fontSty deliveryAddress"><strong>Delivery Address:</strong> </div>
          <div class="col-md-12 fontSty">
            {{detail.name}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.building}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.streetAddress}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.landmark}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.city}} - {{detail.pincode}}
          </div>
          <div class="col-md-12 fontSty">
            {{detail.state}}
          </div>
        </div>
      </div>
  </div>
