<div class="row">
    <div class="col-md-12  border">
      <h4 class="p-auto">Review</h4>
      <form [formGroup]="reviewForm" novalidate (ngSubmit)="!reviewForm.invalid && onSubmit()">
        <div class="form-row">

          <div class="form-group col-md-8">
            
            <label><h5>{{productData?.productName}}</h5></label>
            <input type="text" class="form-control" placeholder="Country" formControlName = "country" >

            <fieldset class="rating">
                <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
                <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
              
                <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
                <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
              
                <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
                <label title="Ok" (click)='onClick(3)'>3 stars</label>
              
                <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
                <label title=" bad" (click)='onClick(2)'>2 stars</label>
              
                <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
                <label title="Very bad" (click)='onClick(1)'>1 star</label>
              </fieldset>
          </div>
          <div class="form-group col-md-4" >
              <img class="img-fluid" style="height: 150px; width: auto"
              [src]="productData.productImage[0].productImageName">
          </div>
          <!-- <div class="form-group col-md-4">
            
          </div>
          <div class="col-md-8 form-group"></div> -->
          <!-- <div class="form-group col-md-12">
            <fieldset class="rating">
              <input type="radio" [name]="inputName" value="5" [checked]="rating===5" />
              <label title="Rocks!" (click)='onClick(5)'>5 stars</label>
            
              <input type="radio" [name]="inputName" value="4" [checked]="rating===4" />
              <label title="Pretty good" (click)='onClick(4)'>4 stars</label>
            
              <input type="radio" [name]="inputName" value="3" [checked]="rating===3" />
              <label title="Ok" (click)='onClick(3)'>3 stars</label>
            
              <input type="radio" [name]="inputName" value="2" [checked]="rating===2" />
              <label title=" bad" (click)='onClick(2)'>2 stars</label>
            
              <input type="radio" [name]="inputName" value="1" [checked]="rating===1" />
              <label title="Very bad" (click)='onClick(1)'>1 star</label>
            </fieldset>
          </div> -->
          <div class="form-group col-md-12">
            
              <textarea class="form-control" placeholder="Enter Your Review here"
              style="height: 100px"
               formControlName="review" type="text" required></textarea>
            
          </div>
        </div>
        
       
     
        <div class="form-row">
          <div class="col-md-6">
            <button mat-raised-button type="button" (click)="dialogRef.close(false)" class="button">Cancel</button>
          </div>
          <div class="col-md-6">
            <p class="float-right">
              <button mat-raised-button class="button" type="submit">Save</button>
            </p>
          </div>
        </div>
      </form>
    </div>
  </div>