<nav class="navbar-light">
  <ul class="navbar-nav">
    <div class="nav-item filterHeaderTop" [class.opened]="!filter.categoryFilter">
      <a class="nav-link textType" (click)="viewCategories(filter)" style="font-family: 'HelveticaNeuelLTStd-Roman';color: #808285">Categories
        <mat-icon *ngIf="!filter.categoryFilter" class="float-right">remove</mat-icon>
        <mat-icon *ngIf="filter.categoryFilter" class="float-right">add</mat-icon>
      </a>
    </div>
    <ul class="filterSub"
     [class.closed]="filter.categoryFilter"
     [class.opened]="!filter.categoryFilter">
      <li *ngFor="let maincat of mainCategory">
        <a class="filterAll"><span class="paddingDiv"
            routerLink="/product/supercategory/{{cat.catId}}/maincategory/{{maincat._id}}"
             (click)="closeFunc()">{{maincat.mainCategoryName | titlecase}}
            <!-- <small
             {{class="filterCount">({{main.count}})</small> --></span></a>
      </li>
    </ul>
    <div class="nav-item filterHeader" [class.opened]="!filter.subCategoryFilter ">
      <a class="nav-link" (click)="viewSubCategories(filter)">Collections
        <mat-icon *ngIf="!filter.subCategoryFilter" class="float-right">remove</mat-icon>
        <mat-icon *ngIf="filter.subCategoryFilter" class="float-right">add</mat-icon>
      </a>
    </div>
    <ul class="filterSub" [class.closed]="filter.subCategoryFilter" [class.opened]="!filter.subCategoryFilter">
      <li *ngFor="let subcat of subCategoryData?.subCategory">
        <a class="filterAll"><span class="paddingDiv"
            routerLink="/product/supercategory/{{cat.catId}}/maincategory/{{cat.mainCatId}}/subcategory/{{subcat._id}}" (click)="closeFunc()">{{subcat.subCategoryName | titlecase}}
          </span></a>
      </li>
    </ul>
    <div class="nav-item filterHeader" [class.opened]="!filter.brandFilter">
      <a class="nav-link" (click)="viewBrand(filter)">Brand
        <mat-icon [ngClass]="{'displayNone': filter.brandFilter}" class="float-right">remove</mat-icon>
        <mat-icon [ngClass]="{'displayNone': !filter.brandFilter}" class="float-right">add</mat-icon>
      </a>
    </div>
    <ul class="filterSub" [class.closed]="filter.brandFilter" [class.opened]="!filter.brandFilter">
      <li *ngFor="let bra of brandModel">
        <a (click)="brandFilter(bra._id)" class="filterAll" ><span (click)="closeFunc()">{{bra.brandName | titlecase}}</span></a>
      </li>
    </ul>

    <div class="nav-item  filterHeader" [class.opened]="!filter.colorFilter">
      <a class="nav-link"  (click)="viewColor(filter)">Colour
        <mat-icon [ngClass]="{'displayNone': filter.colorFilter}" class="float-right">remove</mat-icon>
        <mat-icon [ngClass]="{'displayNone': !filter.colorFilter}" class="float-right">add</mat-icon>
      </a>
    </div>
    <!-- <ul class="filterSub" [class.closed]="filter.colorFilter" [class.opened]="!filter.colorFilter">
       <li *ngFor="let col of color">
        <a (click)="colorFilter(col)" class="filterAll"><span>{{col | titlecase}}</span></a>
      </li>
      <li class="colour-listItem" *ngFor="let col of color">
        <label class="common-customCheckbox">
            <span data-colorhex="black" 
            style="background-color: rgb(54, 69, 79);"></span>
        
        <input class="form-check-input"  (change)="onChange(col, $event.target.checked)"
        [value]="col.colorName"
          type="checkbox">
          
          {{col.colorName}}
        </label>
      </li>
    </ul> -->
    <ul class="filterSub" [class.closed]="filter.colorFilter" 
    [class.opened]="!filter.colorFilter">
      <li class="form-check pt-1 pointerClass" *ngFor="let col of color" >
        <label class="filterAll">
          <input class="form-check-input"  (change)="onChange(col.colorName, $event.target.checked)"
            type="checkbox">
        <small  class="colour-colorDisplay" 
        [ngStyle]="{'background-color': col.colorCode}" (click)="closeFunc()"></small>
        
        {{col.colorName}}
          </label>
        </li>
    </ul>
    <div class="nav-item  filterHeader" [class.opened]="!filter.sizeFilter">
      <a class="nav-link" (click)="viewSize(filter)">Size
        <mat-icon [ngClass]="{'displayNone': filter.sizeFilter}" class="float-right">remove</mat-icon>
        <mat-icon [ngClass]="{'displayNone': !filter.sizeFilter}" class="float-right">add</mat-icon>
      </a>
    </div>

    <ul class="filterSub" [class.closed]="filter.sizeFilter" [class.opened]="!filter.sizeFilter"
      *ngFor="let option of productOption">
      <!--  <li *ngFor="let col of color">
          <a (click)="colorFilter(col)" class="filterAll"><span>{{col | titlecase}}</span></a>
        </li> -->
      
      <li class="form-check pt-1" *ngFor="let size of option?.optionValue">
        <label class="filterAll">  
        <!--       <mat-checkbox class="form-check-input"  (change)="onChange(col, $event.target.checked)" type="checkbox" style="color: green "></mat-checkbox> -->
        <input class="form-check-input"
          (change)="onChangeSize(size.optionValueName, $event.target.checked)" type="checkbox" (click)="closeFunc()">
      
          <small class="colour-label colour-colorDisplay"></small>{{size.optionValueName}}
        </label>    
      </li>
    </ul>
    <div class="nav-item  filterBottom">
      <a class="nav-link">Price</a>
    </div>
    <ul class="filterPrice  mb-5">
      <li class="nav-item filterPriceDiv">
        <div class="rangeBox">
          <!-- <div class="sliderBox">
            <input class="slider0to50" type="range" 
            (change)="selectSliderStartPrice($event.target.value)"
              [step]="500"
              [min]="endPrice[0].name"
              [max]="endPrice[6].name"
              [value]="selectMinValue"
              [style.left.%]="selectMinValue / endPrice[6].name * 100"
              >
            <input class="slider51to100" type="range" 
            (change)="selectSliderEndPrice($event.target.value)"
            [step]="500"
            [min]="endPrice[0].name"
            [max]="endPrice[6].name"
            [style.left.%]="selectMaxValue / endPrice[6].name * 100"
            [value]="selectMaxValue"
            >
          </div> -->
          <div class="range-slider">
              <span class="incl-range"></span>
              <input name="rangeOne"
              [min]="endPrice[0].name"
              [style.padding-left.%]="selectMinValue / endPrice[6].name * 100"
              (change)="selectSliderStartPrice($event.target.value)"
              [max]="endPrice[6].name"  step="500"
                  type="range"
              [value]="selectMinValue" 
                  >
              <input name="rangeTwo" 
              [min]="endPrice[0].name"
              step="500"
              (change)="selectSliderEndPrice($event.target.value)"
              [max]="endPrice[6].name" 
              [style.padding-right.%]="selectMaxValue / endPrice[6].name * 100"
              [value]="selectMaxValue"
                  type="range">
          </div>
          <div class="inputRange">
            <div class="min">
              <select placeholder="Min" [(ngModel)]="selectMinValue"
               (change)="selectStartPrice($event.target.value)">
                <option [value]="item.name" 
                
                *ngFor="let item of startPrice; let i = index"
                 [hidden]="item.show || item.name === startPrice[6].name">{{item.name | converter | localeCurrency}}
              </option>
              </select>
            </div>
            <div class="centerText">
              <span>to</span>
            </div>
            <div class="max">
              <select placeholder="Max" [(ngModel)]="selectMaxValue"
               (change)="selectEndPrice($event.target.value)">
                <option [value]="item.name" 
                [hidden]="item.show || item.name === endPrice[0].name"
                 *ngFor="let item of endPrice">{{item.name | converter | localeCurrency}}</option>
              </select>
            </div>
          </div>
        </div>
      </li>
    </ul>
   <!--  <div class="nav-item  filterAttributeTop"  *ngFor="let attributeMain of attributeModel">
      <a class="nav-link">{{attributeMain.fieldName | titleCase | titlecase}}</a>
      <ul class="filterSubAttribute"  *ngFor="let sub of attributeMain?.fieldValue">
      <li class="form-check pt-1">
        <label class="filterAttribute">  
        
        
        <input class="form-check-input" [checked]="sub.correct"
          (change)="onChangeVariant(attributeMain._id, $event.target.value, $event.target.checked)" type="radio"
           (click)="closeFunc()" [value]="sub._id">
      
          {{sub.fieldAttributeValue}}
        </label>    
      </li>
    
    </ul>
   </div> -->
   
  </ul>
</nav>