/* .borderZ{
    border: 1px solid rgb(221, 220, 220);
    box-shadow: 0 0 14px rgb(219, 219, 219);
    } */
    .gridCtrl{
        width: auto;
        height: auto;
    }
    .eitdZ{
        padding: 10px;
        font-size: 14px;
        font-family:'HelveticaNeue';
    }
    .button {
        background-color: white;
        border: none;
        color: black;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        margin-left: 25px;
        width: 200px;
        height: 40px;
      }
      .inforMation{
          /* padding-left: 25px;
          margin-top: 20px; */
          padding: 10px;
          /* border-bottom: 1px solid rgb(199, 199, 199); */
          font-family: 'HelveticaNeue';
          color: black !important;
          background-color: #ffb500;
      }
      .adetLs{
        padding-left: 25px;
        font-family: 'HelveticaNeue';
        padding: 8px;
        background-color: #ffb500;
        font-size: 20px;
        /* border-bottom: 1px solid rgb(199, 199, 199); */
      }
    
      .gridCtrl{
    position: relative;
    /* left: 25%; */
    /* padding: 30px; */
      }
      .frmCtrl{
          margin-top: 40px !important;
      }
      .buttonFont {
        font-family: 'HelveticaNeue';
      }
      .btnn {
        margin: 4px 30px !important;
      }
      mat-form-field.mat-form-field {
        font-family: 'HelveticaNeue';
        font-size: 15px;
        padding: 10px;
      }