<div class="container-fluid" style="margin-top: 60px">
  <h2 class="text-center"> Privacy Policy</h2><br>
  <div class="col-md-12">
    <p>This Privacy Policy describes how your personal information is collected, used, 
      and shared when you visit or make a purchase from <a href="www.ucchalfashion.com">https://www.ucchalfashion.com™</a>.</p>
      <br>
      <p>When you visit the Site, we automatically collect certain information about your device, including information about your web browser, 
        IP address, time zone, and some of the cookies that are installed on your device. 
        We may also collect information about you through social media sites you use to access our 
        Site depending on the permissions you have given for access to your information.</p>
        <p>Additionally, as you browse the Site, we collect information about the individual web pages or 
          products that you view, what websites or search terms referred you to the Site, and information about how you interact with 
          the Site. We refer to this automatically-collected information as “Device Information.”</p>
          <br>
          <p>
              This privacy policy discloses the privacy practices for (<a href="www.ucchalfashion.com">https://www.ucchalfashion.com</a>). 
              This privacy notice applies solely to information collected by this website. It will notify you of the following:
            </p><ol>
             <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
              <li>What choices are available to you regarding the use of your data.</li>
              <li>The security procedures in place to protect the misuse of your information.</li>
              <li>How you can correct any inaccuracies in the information.</li>
              </ol>

          <br>
          <h4>Information Collection, Use, and Sharing</h4>
            <p>
                We are the sole owners of the information collected on this site.
                 We only have access to/collect information that you voluntarily give us via email or while signing up on our website or other direct contact from you.
                 We will not sell or rent this information to anyone.
            </p>
           
            <p>
                We will use your information to respond to you, regarding the reason you contacted us. 
                We will not share your information with any third party outside of our organization, 
                other than as necessary to fulfil your request, e.g. to ship an order.
            </p>
     
            <p>
                Unless you ask us not to, we may contact you via email in the future to tell you about specials, 
                new products or services, or changes to this privacy policy.
            </p>
            
            <p>
                Your Access to and Control over Information
                you may opt out of any future contacts from us at any time. 
                You can do the following at any time by contacting us via the email address or phone number given on our website:                
            </p>
            <ul>
              <li>See what data we have about you, if any.</li>
              <li>Change/correct any data we have about you.</li>
              <li>Have us delete any data we have about you.</li>
              <li>Express any concern you have about our use of your data.</li>
            </ul>
              
            <br>

            <h4>Security</h4>
            <p>We take precautions to protect your information. 
              When you submit sensitive information via the website, your information is protected both online and offline.
                Wherever we collect sensitive information (such as credit card data), 
                that information is encrypted and transmitted to us in a secure way. 
                You can verify this by looking for a lock icon in the address bar and looking for "https" at the beginning of the address of the Web page.
                </p>
            <p>While we use encryption to protect sensitive information transmitted online, we also protect your information offline. 
              Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. 
              The computers/servers in which we store personally identifiable information are kept in a secure environment.</p>

            <p>If you feel that we are not abiding by this privacy policy, 
              you should contact us immediately via telephone at <b>+91-6366815455</b> or via <b>customercare@ucchalfashion.com</b></p>

              <br>
            <h4>Orders</h4>
            <p>we request information from you on our order form. 
              To buy from us, you must provide contact information (like name and shipping address) and financial information 
              (like credit card number, expiration date). 
              This information is used for billing purposes and to fill your orders. If we have trouble processing an order, 
              we'll use this information to contact you.</p>

          <br>
          <h4>Cookies</h4>
          <p>we use "cookies" on this site. 
            A cookie is a piece of data stored on a site visitor's hard drive to help us improve your access to our site and identify 
            repeat visitors to our site. 
            For instance, when we use a cookie to identify you, you would not have to log in a password more than once, thereby saving time while on our site.
             Cookies can also enable us to track and target the interests of our users to enhance the experience on our site. 
             Usage of a cookie is in no way linked to any personally identifiable information on our site.</p>

        <br>
        <h4>Sharing</h4>
        <p>we share aggregated demographic information with our partners and advertisers. 
          This is not linked to any personal information that can identify any individual person.
        </p>
        <p>
        And/or:<br>
        We use an outside shipping company to ship orders, and a credit card processing company to bill users for goods and services. 
        These companies do not retain, share, store or use personally identifiable information for any secondary purposes beyond filling your order.
        </p>
        <p>And/or:<br>
         We partner with another party to provide specific services. When the user signs up for these services, we will share names, 
         or other contact information that is necessary for the third party to provide these services. 
         These parties are not allowed to use personally identifiable information except for the purpose of providing these services.
        </p>

        <br>
        <h4>Links</h4>
        <p>this website contains links to other sites. 
          Please be aware that we are not responsible for the content or privacy practices of such other sites. 
          We encourage our users to be aware when they leave our site and to read the privacy statements of any other site that collects personally identifiable information.</p>
        
        <br>
        <h4>Survey & Contests</h4>
        <p>From time-to-time our site requests information via surveys or contests. 
          Participation in these surveys or contests is completely voluntary and you may choose whether or not to participate and therefore disclose this information. 
          Information requested may include contact information (such as name and shipping address), and demographic information (such as zip code, age level). 
          Contact information will be used to notify the winners and award prizes. 
          Survey information will be used for purposes of monitoring or improving the use and satisfaction of this site.</p>
          <br><br>
  </div>
  
  </div>