<div class="form-group ctrlAll1 backg">
  <div class="col-md-12 " style="padding: 5px;">
    <div class=" text-center" style="justify-content: center">
      <p style="color: black;" class="mt-2">Shipping Across India</p>
      <hr color="#29495B">
      <div class="centerCol shaP">
        <div class="form-group shaP cen">
          <button mat-stroked-button (click)="addToCartItem(productModel?._id)"
           class="addToCartButton">Add to cart</button>
        </div>
      </div>
      <div class="leftCol shaP">
        <!--   <div class="form-group">
                        <button mat-stroked-button style="color:#29495B">
                        <mat-icon 
                        [ngClass]="{'changeMatIcon': productModel?.wishList}" >favorite</mat-icon>Add to Wishlist
                      </button>
                    </div> -->
      </div>
      <hr color="#29495B">
      <div>
        <p style="color: black;" class="mt-2">Check Delivery Options</p>
        <input type="text"> <button class="btn btn-default">Check</button>
      </div>
    </div>
  </div>
</div>