.backg{
    border-radius: 5px;
    background-color: #F1F1F1;
    margin: auto;
  }
  .ctrlAll1{
    margin-top: 100px;
  }
  .addToCartButton{
    outline: none;
    width: auto;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #29495B;
    text-transform: uppercase;
    /* font-family: 'Montserrat-RegularCn'; */
    color: #ffffff;
    letter-spacing: 2px;
  }