

 .btn {
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 13px;
    cursor: pointer;
    border: none; 
    padding: 10px 5px 5px 5px;
    background-color: #28334f;
    height: 40px;
    width:100%;  
    letter-spacing: 0.1em;
  }
.updateBtn{
  display: block;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border: none;
  padding: 10px 5px 5px 5px;
  background-color: #28344f;
  height: 40px;
  width:auto;  
  letter-spacing: 0.1em;
}
.textStyle1 {
  /* font-family: 'HelveticaNeue'; */
  font-size: 13px;
}
  
