.checkout_button{
  /* display:block; */
  position: fixed;
  z-index: 1024;
  top:auto;
  bottom: 0;
  left:0;
  width:100% !important;
  height: 50px;
  outline: none;
    
    /* font-size: 15px; */
    background-color: white;
    text-transform: uppercase;
  
    color: #ffffff;
    letter-spacing: 2px;
}

.addC{
  /* display:block; */
  position: fixed;
  z-index: 1024;
  top:auto;
  bottom: 0;
  right:0;
  width:80% !important;
  height: 50px;
  outline: none;
    
    font-size: 15px;
    background-color: #29495B;
    text-transform: uppercase;
  
    color: #ffffff;
    letter-spacing: 2px;
}
.brandTitle {
    position: relative;
    margin-bottom: 20px;
    border-bottom: 2px solid #333;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.1em;
  }
  .backg{
    border-radius: 5px;
    background-color: #F1F1F1;
    margin: auto;
    padding: 12px;
  }
  .col-md-12{
    padding: 20px;
  }
  
  
  .productText {
    text-align: left;
    color: #000;
    margin-bottom: 10px;
  }
  
  .productPrice {
   /*  margin: 2px 0;
    line-height: 8px; */
    color: #333;
    /* font-size: 23px; */
    /* line-height: 10px; */
    margin: 2px 0;
    line-height: 18px;
    font-family: 'subfont';
    font-size: 17px;
  }
  .spd {
    padding-bottom: 30px;
    position: relative;
  }
  
  .productInformation {
    position: relative;
    margin: 15px 0 0;
  }
  
  .productWishlist {
    position: absolute;
    top: -10px;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    line-height: 20px;
    cursor: pointer;
    text-align: center;
    color: #333;
    border: none;
    background: transparent;
  }
  
  .sizeGuide {
    margin-bottom: 10px;
    text-decoration: underline;
    color: #B3B3B3;
    font-family: 'Montserrat-Regular';
  }
  
  .sizeList {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: 45px;
  }
  
  .itemSelected {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    overflow: hidden;
    min-width: 50px;
    height: 45px;
    margin: 0 10px 10px 0;
    padding: 1px 0;
    font-size: 13px;
    line-height: 38px;
    cursor: pointer;
    color: #333;
    border: 2px solid black;
    border: 2px solid rgb(0, 0, 0) !important;
  
  }
  .itemSelected{
    background: #000;
    color: white;
    border: 2px solid rgb(0, 0, 0);
  
  }
  .productName{
    font-family:'Montserrat-Regular';
    text-transform: capitalize;
    font-size: 14px;
    margin-bottom: 25px;
    color: #666666;
    letter-spacing: 2px;
  }
  .productDescription {
    text-transform: capitalize;
    font-size: 12px;
    margin-bottom: auto;
    margin-top: auto;
    height: auto;
    font-family:'Montserrat-RegularCn';
    text-align: left;
  }
  /* 
  .btn-default {
    border-radius: 0rem;
      outline: none;
      box-shadow: none;
  } */
  
  .btn.btn-default:focus {
    border-radius: 0rem;
      outline: none;
      box-shadow: none;
    }
  .sizeItem {
    letter-spacing: 0.1em;
    text-transform: uppercase;
    overflow: hidden;
    min-width: 50px;
    font-size: 12px;
    height: 45px;
    margin: 0 10px 10px 0;
    padding: 1px 0;
    font-size: 13px;
    line-height: 38px;
    cursor: pointer;
    color: #808080;
    outline: none;
    border: 1px solid #808080;
  }
  .sizeItem:hover{
    border: 2px solid rgb(0, 0, 0);
  }
  .wishListButton {
    outline: none;
    border-radius: 0px;
    font-size: 18px;
    text-transform: uppercase; 
    display: block;
    align-items: center;
    justify-content: center;
    color: #808080;
    font-size: 18px;
    min-width: 50px;
    width: 50 px;
    cursor: pointer;
    border: 1px solid #808080;
    padding: 0px 0px;
    background-color: transparent;
    height: 45px;
  }
  .addToCartButton{
    outline: none;
    width: auto;
    height: 45px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #29495B;
    text-transform: uppercase;
    font-family: 'Montserrat-RegularCn';
    color: #ffffff;
    letter-spacing: 2px;
  }
  .ctrlAll{
    margin-top: 15px;
  }
  .ctrlAll1{
    margin-top: 30px;
  }
  .cen{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media only screen and (max-width: 900px) {
    .ctrlAll{
      margin-top: -20px;
    }
  }
  .top-space {
    margin-top: auto;
  }
  .space{
    margin-top:50px;
  }
  .textOffer {
    line-height: 30px;
    padding-left: 10px;
    color: #666666;
  }
  .priceText {
    padding-right: 7px;
    color: #4D4D4D;
    padding-left: 4px;
     font-size: 30px;
     margin-bottom: 25px;
  }
  .dashText {
    color: #B3B3B3;
    font-size: 22px;
  }
  .descText {
    color: #808080;
  }
  .textFam {
    font-family:'Montserrat-RegularCn';
  }
  .sizeText {
     line-height: 2;
     color: #B3B3B3;
     padding-top: 10px;
     font-family: 'Montserrat-Regular';
  }
  .checkText {
    font-family:'Montserrat-RegularCn';
    color: #B3B3B3;
  }
  .btn {
    /* color: #B3B3B3; */
    font-size: 13px;
    font-family:'Montserrat-RegularCn';
  }
  .shaP {
    padding-right: 0px;
    padding-left: 0px;
  }
  .roughCol {
    width: 3%;
  }
  /* .leftCol {
    width: 11%;
  } */
  .centerCol {
    width: 100%;
  }
  .rightCol {
    width: 10%;
  }
  .gapCol {
    width: 4%;
  }
  ::placeholder {
    text-align: center; 
  }
  .itemEmptyStock {
    background-color: #edeeee;
    pointer-events: none;
    border: 1px solid #e1e1e1;
  
  }
  .changeMatIcon{
    color: #ff4081;
  }
  .wish{
    width: 24%;
    margin-bottom: 0;
    font-size: 20px;
    margin-left: 18px;
    margin-top: 5px;
  }
  .mat-stroked-button:not([disabled]){
    border: none;
  }


  