.categoryFilter {
    line-height: 30px;
    padding-left: 20px;
    /* text-align: center; */
    border: 1px solid #d1d1d1;
}
::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d1d1d1; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #888; 
  }
.categoryFilter {
    /* background: #fff; */
    /* border-bottom: 1px solid #d1d1d1; */
    color: #000;
    height: 30px;
    font-size: 15px;
    position: relative;
    cursor: pointer;
    /* border-bottom: 1px solid #d1d1d1; */
}
.categoryFilter:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 10px;
}
.categoryFilter:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    right: 18px;
}
.categoryFilterFields {
    border-bottom: 1px solid #d1d1d1;
    /* border-radius: 20px; */
    height: auto;
    margin-bottom: 10px;
    /* width: 80%; */
}
.categoryFilter:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 10px;
}
.nav-item .list {
    /* border-left: 1px solid #d1d1d1; */
    min-height: 35px !important;
    max-height: 115px !important;
    height: auto;
    overflow: auto !important;
    background: white;
    display: none;
    text-align: left;
    line-height: 25px;
}
.open .list {
    /* border-radius: 20px; */
    display: block !important;
    border-bottom: 1px solid #d1d1d1;
    border-left: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
}
.categoryFilter:after, .categoryFilter:before {
    background: #28334f;
    content: "";
    display: inline-block;
    height: 1px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    width: 10px;
}
.open > .categoryFilter:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.open > .categoryFilter:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
ul{
    padding-inline-start: 5px;
}