<!-- <div class="container gridSpace">
    <h5 class="ourCetego" style="font-family: HelveticaNeue"> LATEST NEWS</h5>
    <div class="row">
        <div appCarouselItem class="col-md-4 col-lg-4 col-xl-4 col-12">
            <mat-card>
            <div class="threeCtrl">
                <div class="box">
                    <img src="../../../assets/images/News latter/n1.jpg" class="img-fluid">
                    <div class="box-content">

                    </div>
                </div>
                    <h5 class="newsLaters" style="font-family: HelveticaNeuelLTStd-Cn">
                        A Video Blog Post
                    </h5>
                    <p class="newsLine" style="font-family: HelveticaNeuelLTStd-Cn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa.
                        Fusce ante magna, [...]</p>
                    <p class="comment" style="font-family: HelveticaNeuelLTStd-Cn">1 COMMENT</p>
                
            </div>
        </mat-card>
        </div>



        <div appCarouselItem class="col-md-4 col-lg-4 col-xl-4 col-12">
                <mat-card>
            <div class="threeCtrl">
                <div class="box">
                    <img src="../../../assets/images/News latter/n2.jpg" class="img-fluid">
                    <div class="box-content">

                    </div>
                </div>
                <h5 class="newsLaters" style="font-family: HelveticaNeuelLTStd-Cn">
                    A Video Blog Post
                </h5>
                <p class="newsLine" style="font-family: HelveticaNeuelLTStd-Cn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa.
                    Fusce ante magna, [...]</p>
                <p class="comment" style="font-family: HelveticaNeuelLTStd-Cn">1 COMMENT</p>
            </div>
        </mat-card>
        </div>



        <div appCarouselItem class="col-md-4 col-lg-4 col-xl-4 col-12">
            <mat-card>
            <div class="threeCtrl" >
                <div class="box" style="cursor: pointer">
                    <img src="../../../assets/images/News latter/n3.jpg" class="img-fluid">
                    <div class="box-content">

                    </div>
                </div>
                    <h5 class="newsLaters" style="font-family: HelveticaNeuelLTStd-Cn">
                        A Video Blog Post
                    </h5>
                    <p class="newsLine" style="font-family: HelveticaNeuelLTStd-Cn">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed vulputate massa.
                        Fusce ante magna, [...]</p>
                    <p class="comment" style="font-family: HelveticaNeuelLTStd-Cn">1 COMMENT</p>
               
            </div>
</mat-card>

        </div>
        
    </div>
</div>


<button mat-mini-fab color="warn" *ngIf="isShow" (click)="gotoTop()" class="moveUp">
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
  </button>


  -->

  
  <!-- <div class="container b-2">
    <h5 class="mensColect" style="font-family: Montserrat-Regular; margin-top: 35px;margin-bottom: 15px">LATEST NEWS</h5>
    <app-carousel-item>
      <div *ngFor='let blog of blogDetails' appCarouselItem class="col-md-3 pr-2 pl-2 contentType">
        <div class="productBox">
          <div class="productImg">
            <div style="width: 100%; padding-top: 100%; background: rgb(247, 246, 249);
                   cursor: pointer;">
              <img [src]="blog.imageUrl">
            </div>
          </div>
          <div class="productDetails">
            <h3 class="productName pr-2 pl-2" style="font-family: Montserrat-Regular;">
              {{blog.title.rendered}}
            </h3>
            <div class="productPriceBox   pr-4 pl-4" style="font-family: Montserrat-Regular;  font-size: 10px"
              [innerHtml]="blog.excerpt.rendered">
              <h6 class="productName">
  
              </h6>
            </div>
          </div>
        </div>
      </div>
    </app-carousel-item>
  </div> -->


  <div class="text-center header-text">
    <h4> FROM OUR BLOG </h4>
  </div>
  
  <app-carousel-item>
    <div appCarouselItem class="container-fluid gridRows">
  
      <div class="row mainclass ">
        <div class="col-md-4 col-6 gridNow text-center">
          <div class="image-box">
            <img src="../../../assets/images/category/blog1.jpg" class="img-fluid "></div>
          <div class="blog-content">
            <h3 class="blog-text mt-3">Gretchen has been featured in the PBS series It’s Sew Easy, and
                has found great success through her blog titled “Gertie’s New
                Blog for Better Sewing.” premier fabric collection inspired by
                her unique sensibility. </h3>
            <div >
              <button class="readmore-button" mat-raised-button> READMORE</button>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-6 gridNow text-center">
            <div class="image-box">
              <img src="../../../assets/images/category/BLOG2.webp" class="img-fluid "></div>
            <div class="blog-content">
              <h3 class="blog-text mt-3">Gretchen has been featured in the PBS series It’s Sew Easy, and
                  has found great success through her blog titled “Gertie’s New
                  Blog for Better Sewing.” premier fabric collection inspired by
                  her unique sensibility. </h3>
              <div >
                <button class="readmore-button" mat-raised-button> READMORE</button>
              </div>
            </div>
          </div>
        <div class="col-md-4 col-6 gridNow text-center">
          <div class="image-box">
            <img src="../../../assets/images/category/blog3.webp" class="img-fluid "></div>
          <div class="blog-content ">
            <h3 class="blog-text mt-3">Gretchen has been featured in the PBS series It’s Sew Easy, and
              has found great success through her blog titled “Gertie’s New
              Blog for Better Sewing.” premier fabric collection inspired by
              her unique sensibility.
            
            </h3>
            <div >
              <button mat-raised-button class="readmore-button"> READMORE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-carousel-item>