<div class="container-fluid" style="margin-top: 60px">
    <h2 class="text-center"> Return & Refund Policy</h2><br>
    <div class="col-md-12">
    <p>Thanks for shopping at <a href="https://www.ucchalfashion.com">www.ucchalfashion.com</a>.
        If you are not entirely satisfied with your purchase, we&#39;re here to help.</p>
        <br>
       <h6><b> Returns </b></h6>
<p>
The way we have gained utmost trust from our physical store customers for decades, we have launched our Online E-Commerce Portal with the same motto, spirit.
We know the quality of our products with years of service – for which we are confident to offer 7 days of return policy (Selective Products) that you buy from our Online Portal. 
You don’t like the product after you buy it – no problem, we exchange it! 

You need to notify us of returning an item within 24 hours of receipt the purchase product.

To be eligible for a return, be unused and in the same condition that you received it.
Your item must be in the original packaging.Your item needs to have the receipt or proof of purchase and the price tag intact.
</p>


<h6><b>Refunds</b></h6>
<p>
Once we receive your item, we will inspect it and notify you that we have received your returned item. We will immediately notify you on the status of your refund after inspecting the item.

If your return is approved, we will initiate a refund to your (original method of payment).

You will receive the credit within a certain amount of days, depending on your card issuer's policies.</p>

<h6><b>Shipping</b></h6>
<p>
You will be responsible for paying for your own shipping costs for returning your item. Shipping costs are non-refundable.

If you receive a refund, the cost of return shipping will be deducted from your refund.</p>

<h6><b>Contact Us</b></h6>
<p>
If you have any questions on how to return your item to us, contact us.</p>



    </div>
</div>  