<div class="top" *ngIf="shopModel.length === 0">
  <mat-card class="text-center">
    <h1 style="font-size:20px;">Your cart is empty</h1>
    <button class="continueShopping" routerLink="/home/welcome">Continue To Shopping</button>
  </mat-card>
</div>
<!-- <div class="container">
 <div *ngIf="shopModel.length !== 0">
   <div class="row">
     <div class="col-md-12 mt-2">
       <h1 class="content">SHOPPING BAG</h1>

     </div>
     <div class="col-md-12 mt-2">
       <p class="small-content">ORDER DETAILS</p>
     </div>

     <div class="col-md-12 mt-2" style="border-style: groove; border-width: thin;padding-top:15px;">
       <div class="row">
         <div class="col-md-7">
         </div>
         <div class="col-md-2">
           <h6>
             <small style="color:gray;">QUANTITY</small>
           </h6>
         </div>
         <div class="col-md-1">
           <h6 class="text-center">
             <small style="color:gray;">PRICE</small>
           </h6>
         </div>
       </div>
       <div style="padding-top:20px;border-top: groove; border-width: thin;padding-bottom:10px;"
         *ngFor="let shop of shopModel">

         <div class="row" *ngFor="let cart of shop?.cart_product; let i = index">

           <div class="col-md-2" [hidden]="!localImageUrlView"><img class="img-fluid"
               style="height: 150px; width: 150px" [src]="productImageUrl +  cart._id +'/'+  cart.productImageName[0]">
           </div>

           <div class="col-md-2" [hidden]="localImageUrlView"><img class="img-fluid"
               style="height: 150px; width: 150px" [src]="productImageUrl +  cart._id +'/'+ cart.productImageName[0]">
           </div>
           <div class="col-md-5">
             <h6><span>{{cart.productName}}</span></h6>
             <h6>
               <small style="color:gray;">COLOR</small>
               <span>

                 <b> {{ cart.color }}</b>
               </span>
               <small style="color:gray;">SIZE</small><span *ngFor="let name of cart?.productVariant">

                 <b [hidden]="shop.items.INTsku !== name.INTsku"> {{ name.sizeName }}</b>
               </span>
             </h6>
           </div>
           <div class="col-md-2">
             <span class="input-group-btn">
               <button type="button" class="btn btn-sm btn default  btn-number"
                 (click)="actionMinus(cart._id, shop.items.INTsku)" [disabled]="shop.items.qty === 1">
                 <span>-</span>
               </button>
             </span>
             {{shop.items.qty}}
             <input type="text" hidden [disabled]="true" min="1" [value]="shop.items.qty"
               class="mb-2 text-center input-number" size="1">
             <span class="input-group-btn">
               <button type="button" class="btn btn-sm btn default btn-number"
                 (click)="actionPlus(cart._id, shop.items.INTsku)">
                 <span>+</span>
               </button>
             </span>
             <h6>
               <small class="classAction text-center" (click)="removeCart(shop.items._id, shop.items.INTsku)"
                 style="cursor: pointer; color:gray">REMOVE</small>
             </h6>

           </div>
           <div class="col-md-1">
             <h6 class="text-center"><span *ngFor="let name of cart?.productVariant">
                 <b [hidden]="shop.items.INTsku !== name.INTsku">
                   <span>&#x20B9;</span>{{ name.sizePrice * shop.items.qty }}</b>
               </span>
             </h6>
           </div>

           <div class="col-md-2">
             <h6>
               <small class="classAction" style="cursor: pointer; color: gray">MOVE TO WISHLIST</small>
             </h6>

           </div>
         </div>
       </div>
     </div>
     <div class="col-md-12 mt-4" style="border-style: groove; border-width: thin;padding-bottom:15px;">

       <div class="col-md-12 mt-2">
         <h4 style="text-align:left;font-size:20px;">PROMOTIONAL CODE</h4>
         <form [formGroup]="shoppinBagForm">
           <div class="form-group col-md-6 ">
             <input placeholder="Promo Code" formControlName="promoCode">
           </div>
         </form>

       </div>
       <div class="col-md-12 mt-4">
         <div style="border-bottom:groove;border-width: thin;padding-bottom:15px;">

           <h4 style="text-align:left;font-size:20px;"> ORDER SUMMARY </h4>
         </div>
         <div>
           <app-price-summary [totalItems]="totalItems" [subTotal]="subTotal"></app-price-summary>
         </div>
       </div>
       <div class="col-md-12 mt-2 pb-5">

         <div class="col-md-5 float-left text-center">
           <span (click)="continueShopping()" class="shopping">
             <h4 style="font-size:14px;letter-spacing: 0.1em;" class="mt-1">CONTINUE SHOPPING</h4>
           </span>
         </div>
         <div class="col-md-5 float-right text-center">
           <span (click)="placeOrder()" class="addToCartButton">
             <h4 style="font-size:14px;letter-spacing: 0.1em;" class="mt-1">PROCEED TO CHECKOUT</h4>
           </span>
         </div>
       </div>

     </div>
   </div>
 </div>
</div>  -->


<!-- <div class="container mb-2" (window:resize)="getWindowSize()">
<div *ngIf="shopModel.length !== 0">
  <div class="row">

    <div class="col-md-7 mt-4 bagBorder">
      <div class="myBag mb-3 mt-2">
        <span> <b>My Shopping Bag</b></span>

      </div>
      <div *ngFor="let shop of shopModel" class="shopBorder">
        <div class="row mb-1 mt-2 productline" *ngFor="let cart of shop?.cart_product; let i = index">

          <div class="col-md-3 col-6">
            <span *ngFor="let name of cart?.child" >
              <img class="img-fluid" [hidden]="shop.items.INTsku !== name.INTsku"
              [src]="name?.productImage[0]?.productImageName">
            </span>
          </div>
          
          <div class="col-md-9 col-6 float-left">
            <div class="row">
              <div class="col-md-9 productName" >
                <span style="padding-left: 14px;"><b>{{cart.productName}}</b></span>
              </div>
              <div class="col-md-3 float-right price"
               [ngClass]="{'priceMob':displayMobile===true}"> 
                <h6><span *ngFor="let name of cart?.child">
                    <b [hidden]="shop.items.INTsku !== name.INTsku">
                      <p><span [ngClass]="cart.displayClass"style="font-family: 'Montserrat-Regular'">
                        {{name.price * shop.items.qty   | converter | localeCurrency }}</span> -->
                       <!-- <span [hidden]="name.discount === 0 || name.discount === undefined" style="padding-left: 5px">
                        {{name.discount * shop.items.qty   | converter | localeCurrency }}</span>
                       <span [hidden]="name.discount !== 0 && name.discount !== undefined" style="padding-left: 5px">
                        {{name.price * shop.items.qty | converter | localeCurrency}}</span> -->
                       <!-- </p> -->
                       <!-- <p  class="text-center textShape"><span [ngClass]="product.discountStyle">&#x20B9;{{name.sizePrice}}</span><span 
                         style="padding-left: 5px; font-size: 14px; color: #3B3B3B;font-family: 'HelveticaNeuelLTStd-Roman';">&#x20B9;{{product.price | number: '0.0-0'}}</span><span 
                         [hidden]="product.discount === 0 || product.discount === undefined " class="pull-right offerText" style="color: red">{{product.discount}} off</span></p> -->
                     <!-- </b>
                     
                  </span>
                </h6>
              </div>
              <div class="col-md-12 shapeHeight" *ngIf="!displayMobile">
                 <h6><span *ngFor="let name of cart?.productVariant">
                     <b [hidden]="shop.items.INTsku !== name.INTsku">
                       <p><span [ngClass]="cart.displayClass"style="font-family: 'Montserrat-Regular'">
                        {{name.price  | converter | localeCurrency }}</span>
                        <span [hidden]="name.discount === 0 || name.discount === undefined" style="padding-left: 5px;font-family: 'Montserrat-Regular'">{{name.discount  | converter | localeCurrency}}</span>
                        <span [hidden]="name.discount !== 0 && name.discount !== undefined" style="padding-left: 5px;font-family: 'Montserrat-Regular'">{{name.price   | converter | localeCurrency}}</span>
                        </p>
                      </b>
                      
                   </span>
                 </h6>
              </div>
            </div>

            <div class="row mt-1">
              <div class="col-md-4 col-6">
                <small class="item-Size-Qty">Size:</small>
                <span class="sizeFont" *ngFor="let name of cart?.child">
                  <b [hidden]="shop.items.INTsku !== name.INTsku"> {{ name.sizeVariant }}</b>
                 
                </span>
              </div>
              <div class="col-md-8 col-10">
                <small class="item-Size-Qty">Qty: </small>
                 <span class="sizeFont" *ngFor="let name of cart?.child">
                     <b [hidden]="shop.items.INTsku !== name.INTsku">
                         <span class="input-group-btn">
                             <button type="button" class="btn btn-sm btn default  btn-number"
                               (click)="actionMinus(cart._id, shop.items.INTsku)"
                                [disabled]="shop.items.qty === 1">
                               <span>-</span>
                             </button>
                           </span> 
                        {{shop.items.qty}}
                        <input type="text" hidden [disabled]="true" min="1" 
                        [value]="shop.items.qty"
             class="mb-2 text-center input-number" size="1">
           <span class="input-group-btn">
             <button type="button" class="btn btn-sm btn default btn-number"
             [disabled]="shop.items.qty === name.sizeQuantity"
               (click)="actionPlus(cart._id, shop.items.INTsku)">
               <span>+</span>
             </button>
           </span>
                       </b>
                   </span>
                
              </div>

            </div>

            <div class="row actionBtn topSpace" [ngClass]="{'textMobile': showMobileView === true, 'topSpaceMob':displayMobile === true}">
               <div class="col-md-2 col-6 text-center pt-1">
                 <b class="classAction text-center" (click)="removeCart(shop.items._id, shop.items.INTsku)"
                 style="cursor: pointer; color:gray; font-size: 9px ">REMOVE</b>
               </div>
               <div class="col-md-10 col-6 pt-1 wishlistBtnBorder">
                   <b class="classAction text-center" 
                   (click)="checkLoginUser(cart._id, shop.items.INTsku)"
                   style="cursor: pointer; color:gray; font-size: 9px">MOVE TO WISHLIST</b>
                 </div>
             </div>
             
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-5 mt-4">

      <div class="col-md-12 mt-4"> -->
       <!--  <div>
          ORDER SUMMARY
        </div> -->
        <!-- <div>
          <app-price-summary [totalItems]="totalItems" [subTotal]="subTotal"></app-price-summary>
        </div>
      </div>
      <div class="col-md-12 mt-2 pb-5 text-center">

        <span (click)="placeOrder()" class="addToCartButton">
          <h4 style="font-size:14px;letter-spacing: 0.1em;" class="mt-1">PLACE ORDER</h4>
        </span>
      </div>

    </div>
  </div>
</div>
</div>  -->

<div class="container mb-4" *ngIf="shopModel.length !== 0">

<div class="row " >
<div class="col-md-12 top" [ngClass]="{'topMob':displayMobile}"> <h4>Shopping Bag</h4></div> <br> <br>
<div class="col-md-8" *ngIf="!displayMobile">
<div (window:resize)="getWindowSize()" *ngIf="!displayMobile">
  <table class="table table-bordered"  *ngFor="let shop of shopModel;" >
    <thead>
      <tr>
        <th scope="col">
          Product(s)
        </th>
        <th scope="col">
          Description
        </th>
        <th scope="col">
          Quantity
        </th>
        <th scope="col">
          Price
        </th>
        <th scope="col">
          Discount
        </th>
        <th scope="col">
          Extra Charge
        </th>
       <!--  <th scope="col">
          Shipping Fees
        </th> -->
        <th scope="col">
          Total
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let cart of shop?.cart_product; let i = index">
      <tr>
        <td *ngFor="let name of cart?.child" [hidden]="shop.items.INTsku !== name.INTsku">
          <img class="img-fluid" width="150px"
           [src]="name?.productImage[0]?.productImageName">
        </td>
        <td *ngFor="let name of cart?.child" [hidden]="shop.items.INTsku !== name.INTsku">{{name.INTsku}} <br>
          {{name.productName}}
          <span *ngIf="name.ttsPortalenable">
            <p class="readytoship"> (Ready to Ship) </p>
           </span>
        <!--  <span class="colr" *ngIf="name.serviceActive"> ({{name.serviceType}} {{name.serviceAmount * ( 100 - name.serviceDiscount)/100 | converter | localeCurrency}})</span> -->
         <p class="colr" *ngIf="shop.items.bodyHeight !== 'None'"> Body Height: {{shop.items.bodyHeight}}</p>
           </td>
        <td>  
          <span *ngFor="let name of cart?.child">    
              <b [hidden]="shop.items.INTsku !== name.INTsku">         
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn default  btn-number"
              (click)="actionMinus(cart._id, shop.items)" 
              [disabled]="shop.items.qty === 1">
              <span>-</span>
            </button>
          </span>
          {{shop.items.qty}}
          <input type="text" hidden [disabled]="true" min="1" [value]="shop.items.qty"
            class="mb-2 text-center input-number" size="1">
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn default btn-number"
            [disabled]="shop.items.qty === name.quantity"
              (click)="actionPlus(cart._id, shop.items)">
              <span>+</span>
            </button>
          </span>
          </b>
        </span>
          <span class="sizeFont" [hidden]="shop.quantityCheck !== 0">
              <div class="cartProductActions error">
                Product is sold out
              </div>
            </span>
        </td>
        <td *ngFor="let name of cart?.child"  [hidden]="shop.items.INTsku !== name.INTsku"> {{name.totalPrice   | converter | localeCurrency }}</td>
        <td *ngFor="let name of cart?.child"  [hidden]="shop.items.INTsku !== name.INTsku"> {{name.savePrice   | converter | localeCurrency }}</td>
        <td *ngFor="let name of cart?.child"  [hidden]="shop.items.INTsku !== name.INTsku"> {{(name.serviceAmount *  100 - name.serviceDiscount) / 100 * shop.items.qty  | converter | localeCurrency }} <br>
          <span class="colr" *ngIf="name.serviceActive"> ({{name.serviceType}} {{name.serviceAmount * ( 100 - name.serviceDiscount)/100 | converter | localeCurrency}})</span>
          <span class="colr" *ngIf="name.sizeIncApply"> ({{name.sizeIncType}} {{name.sizeWisePrice | converter | localeCurrency}})</span>
        </td>
        <!-- <td *ngFor="let name of cart?.child"  [hidden]="shop.items.INTsku !== name.INTsku"> {{name.shippingCharege   | converter | localeCurrency }}</td> -->
        <td *ngFor="let name of cart?.child"  [hidden]="shop.items.INTsku !== name.INTsku">  {{name.price * shop.items.qty   | converter | localeCurrency }}</td>
      </tr>
      <tr >
        <td colspan="3"> <b class="classAction text-center"
           (click)="removeCart(shop.items._id, shop.items)"
          style="cursor: pointer;float: right;">REMOVE</b>
        </td>
      
      <td colspan="3">
        <b class="classAction text-center" 
                   (click)="checkLoginUser(cart._id, shop.items.INTsku)"
                   style="cursor: pointer;">MOVE TO WISHLIST</b>
      </td>
    </tr>
    </tbody>
  </table>
  <button class="continueShopping" routerLink="/home/welcome" style="float: right">Continue To Shopping</button>
</div> 
</div>


<div class="col-12" *ngIf="displayMobile">
  <!-- <table class="table table-bordered"  *ngFor="let shop of shopModel;" >
    <thead>
      <tr>
        <th scope="col">
          Product(s)
        </th>
        <th scope="col">
    
          Details
        
        </th>
       
        <th scope="col">
          Total
        </th>
      </tr>
    </thead>
    <tbody *ngFor="let cart of shop?.cart_product; let i = index">
      <tr>
        <td *ngFor="let name of cart?.child" [hidden]="shop.items.INTsku !== name.INTsku">
          <img class="img-fluid" width="150px"
           [src]="name?.productImage[0]?.productImageName">
           <br>
       
          <span *ngIf="name.ttsPortalenable">
            <p class="readytoship"> (Ready to Ship) </p>
           </span>
        
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn default  btn-number"
              (click)="actionMinus(cart._id, shop.items)" 
              [disabled]="shop.items.qty === 1">
              <span>-</span>
            </button>
          </span>
          {{shop.items.qty}}
          <input type="text" hidden [disabled]="true" min="1" [value]="shop.items.qty"
            class="mb-2 text-center input-number" size="1">
          <span class="input-group-btn">
            <button type="button" class="btn btn-sm btn default btn-number"
              (click)="actionPlus(cart._id, shop.items)">
              <span>+</span>
            </button>
          </span></td>
        <td *ngFor="let name of cart?.child"  [hidden]="shop.items.INTsku !== name.INTsku"> <span> {{name.totalPrice   | converter | localeCurrency }} </span>
        <span> {{name.savePrice   | converter | localeCurrency }}</span>
        <span > {{(name.serviceAmount *  100 - name.serviceDiscount) / 100 * shop.items.qty  | converter | localeCurrency }} </span> <br>
          <span class="colr" *ngIf="name.serviceActive"> ({{name.serviceType}} {{name.serviceAmount * ( 100 - name.serviceDiscount)/100 | converter | localeCurrency}})</span>
        </td>
        <td *ngFor="let name of cart?.child"  [hidden]="shop.items.INTsku !== name.INTsku">  {{name.price * shop.items.qty   | converter | localeCurrency }}</td>
      </tr>
      <tr >
        <td colspan="2"> <b class="classAction text-center"
           (click)="removeCart(shop.items._id, shop.items)"
          style="cursor: pointer;float: right;">REMOVE</b>
        </td>
      
      <td colspan="3">
        <b class="classAction text-center" 
                   (click)="checkLoginUser(cart._id, shop.items.INTsku)"
                   style="cursor: pointer;">MOVE TO WISHLIST</b>
      </td>
    </tr>
    </tbody>
  </table> -->
  <div  *ngFor="let shop of shopModel;">
  <div *ngFor="let cart of shop?.cart_product; let i = index">
    <div *ngFor="let name of cart?.child">
  <p  >
    <b>{{name.productName}} </b>
  </p>
  <div class="row">
  <div class="col-4">
      <img class="img-fluid" width="150px"
      [src]="name?.productImage[0]?.productImageName">
  </div>
  <div class="col-8">
      <span class="colr" *ngIf="name.serviceActive"> ({{name.serviceType}} {{name.serviceAmount * ( 100 - name.serviceDiscount)/100 | converter | localeCurrency}})</span>
      <br>
      <span *ngIf="name.ttsPortalenable">
          <p class="readytoship"> (Ready to Ship) </p>
         </span>
      
        <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn default  btn-number"
            (click)="actionMinus(cart._id, shop.items)" 
            [disabled]="shop.items.qty === 1">
            <span>-</span>
          </button>
        </span>
        {{shop.items.qty}}
        <input type="text" hidden [disabled]="true" min="1" [value]="shop.items.qty"
          class="mb-2 text-center input-number" size="1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-sm btn default btn-number"
            (click)="actionPlus(cart._id, shop.items)">
            <span>+</span>
          </button>
        </span> <br>
        <p><b>Sub Total: {{name.price * shop.items.qty   | converter | localeCurrency }} </b></p>
        <b class="classAction" 
        (click)="checkLoginUser(cart._id, shop.items.INTsku)"
        style="cursor: pointer;">MOVE TO WISHLIST</b>
    </div>
    <br>
    <div class="col-4">
  
      </div>
    <div class="col-6">
        <b class="classAction text-center"
        (click)="removeCart(shop.items._id, shop.items)"
       style="cursor: pointer;">REMOVE</b>
    </div>
   
  </div>
  </div>
  </div>
  </div>
</div>
<div class="col-md-4 col-12">
    <app-price-summary [firstPurchase]="firstPurchase" [totalItems]="totalItems" [subTotal]="subTotal" [totalAmount]="totalAmount"
    [couponType]="couponType" [couponValue]="couponValue" (removeCoupon)="removeCoupon($event)"
    [totalShipement]="totalShipement"
    (sendCoupon)="checkLogInForCoupon($event)"></app-price-summary>
    <div class="text-center">
        <div
        class="errorHolder"
        [ngStyle]="{ display: checkSoldOutEnable === true ? 'block' : 'none' }"
        style="background-color: transparent; margin: 0px;"
      >
        <div class="error">Some items sold out</div>
        <br />
      </div>
    <span (click)="placeOrder()" class="addToCartButton">
      <h4 style="font-size:14px;letter-spacing: 0.1em;" class="mt-1">PLACE ORDER</h4>
    </span>
    </div>
</div>
</div>
</div>