<!-- <div class="container">
<p class="titleVal text-center">
  YOU MAY ALSO LIKE
</p>
<h5 class="text-center viewAll">VIEW ALL</h5>
<div class="row grid  text-center">
    <app-carousel-item>
        <div appCarouselItem class="col-md-3 col-6 pr-2 pl-2" *ngFor="let data of promotion">

              <div class="productBox"  
              appHoverItem>
              <div class="productImg">
                <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249); cursor: pointer;">
                  <img [src]="data.img">
                </div>
                <div class="productTesting" >
                  <div  class="sizeHeader  pull-right">
                    <mat-icon>clear</mat-icon>
                  </div>
                   <div class="sizeTesting">
                    <div class="oneSize" *ngFor="let size of product.productVariant">
                      <span (click)="skuProductAddToCart(product, size)">{{size.sizeName}}</span>
                    </div>
                  </div> -->
                <!-- </div>
                <div class="productActionLeft"  
       
          [style.display]="'none'">
          <span class="wishProduct"  ><span class="aligned-with-icon-relative">Wishlist
             </span></span>
         <  <span class="addtoProduct" (click)="addToBag(product._id)"><span class="aligned-with-icon-relative">Add To Bag</span></span> -->
        <!-- </div>
        <div class="productActionRight"   [style.display]="'none'"> -->
          <!-- <span class="wishProduct"  (click)="checkLoginUser(product)"><span class="aligned-with-icon-relative">Wishlist
             </span></span> -->
        <!-- <span class="addtoProduct" ><span class="aligned-with-icon-relative">Add To Bag</span></span>
        </div>
              </div>
              <div class="productDetails">
                <h3 class="productName pr-1 pl-1">{{data.name}}</h3>
                <div class="productPrice">
                  <p  class="text-center textShape">
                    <span style="font-family: 'sans-serif'">&#x20B9; </span><span >{{data.price}}</span>
                    </p>
                </div>
              </div>
            </div>
        </div>
    </app-carousel-item>
  </div>

  <p class="titleVal text-center">
      RECENTLY VIEWED
    </p>
    <h5 class="text-center viewAll">VIEW ALL</h5>
    <div class="row grid botTom text-center"> -->
        <!-- <app-carousel-item>
            <div appCarouselItem class="col-md-3 col-6 pr-2 pl-2" *ngFor="let data of promotion">
    
                <div class="productBox"  
                appHoverItem>
                <div class="productImg">
                  <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249); cursor: pointer;">
                    <img [src]="data.img">
                  </div>
                  <div class="productTesting" >
                    <div  class="sizeHeader  pull-right">
                      <mat-icon>clear</mat-icon>
                    </div>
                    <div class="sizeTesting">
                      <div class="oneSize" *ngFor="let size of product.productVariant">
                        <span (click)="skuProductAddToCart(product, size)">{{size.sizeName}}</span>
                      </div>
                    </div> -->
                  <!-- </div>
                  <div class="productActionLeft"  
         
            [style.display]="'none'">
            <span class="wishProduct"  ><span class="aligned-with-icon-relative">Wishlist
               </span></span> -->
           <!--  <span class="addtoProduct" (click)="addToBag(product._id)"><span class="aligned-with-icon-relative">Add To Bag</span></span> -->
          <!-- </div>
          <div class="productActionRight"   [style.display]="'none'"> -->
            <!-- <span class="wishProduct"  (click)="checkLoginUser(product)"><span class="aligned-with-icon-relative">Wishlist
               </span></span> 
            <span class="addtoProduct" ><span class="aligned-with-icon-relative">Add To Bag</span></span>
          </div>
                </div>
                <div class="productDetails">
                  <h3 class="productName">{{data.name}}</h3>
                  <div class="productPrice">
                    <p  class="text-center textShape">
                      <span style="font-family: 'sans-serif'">&#x20B9; </span><span >{{data.price}}</span>
                      </p>
                  </div>
                </div>
              </div>
            </div>
        </app-carousel-item>
      </div>
    </div> -->

    <div class="container" >
      <p class="titleVal text-center">
        YOU MAY ALSO LIKE
      </p>
      <h5 class="text-center viewAll" routerLink="/product/supercategory/{{productModel?.superCategoryId}}/brandproduct/{{productModel?.brandId}}">View all</h5>
      <div class="row grid  text-center">
        <app-carousel-item>
          
          <div appCarouselItem class="col-md-3 pr-2 pl-2 col-6 "  [ngClass]="{'col-6':displayMobile}"  *ngFor="let product of brandProductData">
                <div class="productBox"  
            appHoverItem>
                <div class="productImg" >
                  <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249); 
                  cursor: pointer;">
                  
                    <img [src]="productImageUrl + product._id + '/' + product.productImageName[0]"  (click)="getProduct(product)">
                  </div>
                  <div class="productTesting" [class.displayNone]="product.display !== true" 
                  [class.displayBlock]="product.display === true">
                    <div (click)="closeToBagLikedProduct(product._id, brandProductData)" class="sizeHeader  pull-right">
                      <mat-icon>clear</mat-icon>
                    </div>
                    <div class="sizeTesting">
                      <button class="oneSize" [disabled]="size.sizeQuantity === 0" (click)="skuProductAddToCart(product._id, size)" *ngFor="let size of product.productVariant">
                        <span >{{size.sizeName}}</span>
                      </button>
                    </div>
                  </div>
                  <div class="productActionLeft" (click)="checkLoginUser(product)" 
                  [ngClass]="{'changeMatIconColor': product.wishList,'mob':showMobileView1 }"  [style.display]="'none'">
                    <span class="wishProduct"  ><span class="aligned-with-icon-relative">Wishlist
                       </span></span>
                   <!--  <span class="addtoProduct" (click)="addToBag(product._id)"><span class="aligned-with-icon-relative">Add To Bag</span></span> -->
                  </div>
                  <div class="productActionRight"   [style.display]="'none'" [ngClass]="{'mob':showMobileView1}">
                    <!-- <span class="wishProduct"  (click)="checkLoginUser(product)"><span class="aligned-with-icon-relative">Wishlist
                       </span></span> -->
                    <span class="addtoProduct" (click)="addToBagLikedProduct(product._id, brandProductData)"><span class="aligned-with-icon-relative">Add To Bag</span></span>
                  </div>
                </div>
                <div class="productDetails">
                  <h3 class="productName text-center"><b>{{product.productName}}</b></h3>
                  <div class="productPriceBox">
                    <p  class="text-center productPrice textShape"><span  style="font-size: 14px; color: #3B3B3B;font-family: 'sans-serif';">&#x20B9;</span><span style="font-family: 'Montserrat-SemiBold'"> {{product.price | number: '0.0-0'}} </span>
                      <span [ngClass]="product.discountStyle" style="font-family: 'sans-serif'">&#x20B9; </span><span class="oldPrice" [ngClass]="product.discountStyle">{{product.oldPrice}}</span>
                      <span [hidden]="product.discount === 0 || product.discount === undefined" class="pull-right offerText" style="color: #666666">{{product.discount}} off</span></p>
                  </div>
                </div>
              </div>
          </div>
      </app-carousel-item>
        </div>
      
        <p class="titleVal text-center" *ngIf="!showRecent">
            RECENTLY VIEWED
          </p>
          <h5 class="text-center viewAll" (click)="getViewAll()" *ngIf="!showRecent">View all</h5>
          <div class="row grid botTom text-center" *ngIf="!showRecent">
              <app-carousel-item>
                  <div appCarouselItem class="col-md-3 pr-2 pl-2 col-6" [ngClass]="{'col-6':displayMobile}" *ngFor="let product of recentPrdouctData">
                        <div class="productBox"  
                    appHoverItem>
                        <div class="productImg">
                          <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249);
                          cursor: pointer;">
                            <img [src]="productImageUrl + product._id + '/' + product.productImageName[0]" (click)="getProduct(product)">
                          </div>
                          <div class="productTesting" [class.displayNone]="product.display !== true" 
                          [class.displayBlock]="product.display === true">
                            <div (click)="closeToBagRecentProduct(product._id, recentPrdouctData)" class="sizeHeader  pull-right">
                              <mat-icon>clear</mat-icon>
                            </div>
                            <div class="sizeTesting">
                              <button class="oneSize" [disabled]="size.sizeQuantity === 0" (click)="skuProductAddToCart(product._id, size)" *ngFor="let size of product.productVariant">
                                <span >{{size.sizeName}}</span>
                              </button>
                            </div>
                          </div>
                          <div class="productActionLeft" (click)="checkLoginUser(product)" 
                          [ngClass]="{'changeMatIconColor': product.wishList,'mob':showMobileView1 }"  [style.display]="'none'">
                            <span class="wishProduct"  ><span class="aligned-with-icon-relative">Wishlist
                               </span></span>
                           <!--  <span class="addtoProduct" (click)="addToBag(product._id)"><span class="aligned-with-icon-relative">Add To Bag</span></span> -->
                          </div>
                          <div class="productActionRight"   [style.display]="'none'" [ngClass]="{'mob':showMobileView1}">
                            <!-- <span class="wishProduct"  (click)="checkLoginUser(product)"><span class="aligned-with-icon-relative">Wishlist
                               </span></span> -->
                            <span class="addtoProduct" (click)="addToBagRecentProduct(product._id, recentPrdouctData)"><span class="aligned-with-icon-relative">Add To Bag</span></span>
                          </div>
                        </div>
                        <div class="productDetails">
                          <h3 class="productName text-center"><b>{{product.productName}}</b></h3>
                          <div class="productPriceBox">
                            <p  class="text-center productPrice textShape"><span  style="font-size: 14px; color: #3B3B3B;font-family: 'sans-serif';">&#x20B9;</span><span style="font-family: 'Montserrat-SemiBold'"> {{product.price | number: '0.0-0'}} </span>
                              <span [ngClass]="product.discountStyle" style="font-family: 'sans-serif'">&#x20B9; </span><span class="oldPrice" [ngClass]="product.discountStyle">{{product.oldPrice}}</span>
                              <span [hidden]="product.discount === 0 || product.discount === undefined" class="pull-right offerText" style="color: #666666">{{product.discount}} off</span></p>
                          </div>
                        </div>
                      </div>
                  </div>
              </app-carousel-item>
            </div>
          </div>