p {
  font-family: Lato;
}
.img-zoom-result {
  border: 1px solid #d4d4d4;
  width: 500px;
  height: 550px;
  margin-left: 390px;
  margin-top: -371px;
  z-index: 1000;
  background-color: white;
}
@media only screen and (max-width: 900px) {
  .img-fluid {
    width: 1720 ;
    height: auto !important;
    padding: 0px !important;
    margin-top: 20px !important;
  }
  .smallImg {
    width: 40px !important;
    margin: 5px !important;
    padding-left: 3px;
 
  }
  .newOne{
    margin-left: 0px !important;
  }
  .prevSlider,
  .nextSlider {
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    font-weight: bold;
    font-size: 30px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
    outline: none;
  }
  
.list-group-item {
  margin: 12.5px !important; padding: 0px !important;
   border-radius: 0px !important;

} 
}

/* ============================================= */

.normalImage img {
  width: 100%;
  height: auto;
  cursor: pointer;
  
}
.middleImage {
  max-height: 400px;
  overflow: hidden;
}
.topImage {
  height: 400px;
  overflow: hidden;
}
.active {

  opacity: 1;
  
}


.column {
  float: left;
  width: 16.66%;
}

.prevSlider {
  margin-bottom: 10px;
  left: 25px;
  z-index: 100;
  
}

.nextSlider {
  
  right: 22px;
  z-index: 100;
}
.previsSlid {
  cursor: pointer;
  transform: scale(0.5);
  margin-left: 10%;
  margin-right: 10%;
}
.nextSlid {
  cursor: pointer;
  transform: scale(0.5);
  margin-left: 10%;
  margin-right: 10%;
}
.resize{
  margin-left: -50px;
}
.col-12{
  padding-left: 0px !important;
  padding-right: 0px !important;
  width:100%;
  height: auto;
  /* margin-top: -0.5rem!important; */
}

@media only screen and (min-width: 900px) {
  .prevSlider {
    cursor: pointer;
    /* position: are; */
    top: 0;
    width: auto;
    transform: scale(0.5);
    /* font-weight: normal; */
    font-size: 30px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
    outline: none;
  }
  .nextSlider {
    cursor: pointer;
    position: absolute;
    top: 72%;
    margin-top: 80px;
    transform: scale(0.5);
    width: auto;
    /* font-weight: bold; */
    font-size: 30px;
    transition: 1s ease;
    border-radius: 0 3px 3px 0;
    user-select: contain;
    display: block;
    outline: none;
    z-index: 5;
  }
}
.float-right {
  margin-top: 10px;
  z-index: 8;
}
.imgWidth {
  width: 100%;
  height: auto;
}

.mat-icon {
  height: 48px !important;
  width: 48px !important;
  font-size: 48px !important;
}

.mat-button-focus-overlay {
  background-color: transparent !important;
}

.img-responsive {
  width: 70px;
}
.img-fluid {
  min-width: 100%;
  height:520px;
  padding: 0px 30px 32px 0px;
  margin-top: 10px;
  padding-left: 28px;
}
.smallImg {
  width: 100%;
  height: 60px;
  position: relative;
  padding: 4px;
}
.img {
  overflow: hidden;
}

.list-group-item {
  margin: 8.5px; padding: 0px; border-radius: 0px;
}

.newOne{
  margin-left: 100px;
  margin-top: 90px;
}

.ctrlWl{
  margin-top: 0px;
}
.imageBig {
  width: 100%;
  /* height: 500px; */
}
.imageBigMob {
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  padding-top: 75px;
}
.thumbRow {
  overflow: hidden;
}
.slidePosition {
  margin-left: 15%;
}
.topRow {
  margin-top: 11%;
}
.topOrder {
  margin-top: 0%;
  margin-left: 10%;

}
.topOrderMob{
  margin-top:0%;
  margin-left:0%;
  padding-left: 0px;
  padding-right: 0px;
}
.mainTab {
  width: 100%
}
.leftTab {
  width: 30%;
}

.halfsize {
  -moz-transform:scale(0.5);
  -webkit-transform:scale(0.5);
  transform:scale(0.5);
}

.discountcount{
  display: block !important;
  font-size: 14px;
  position: absolute !important;
  bottom: 78%;
  margin-left: 6%;
  color: #fff;
}
.discountcountoff{
  display: block !important;
  font-size: 12px;
  position: absolute !important;
  bottom: 76%;
  margin-left: 8%;
  color: #fff;
}
.imgleaf {
  display: block !important;
  height: 16% !important;
  position: absolute !important;
  top: 70px;
  width: 17% !important;
}
