<div class="row" (window:resize)="getWindowSize()">
<div class="col-md-12 col-12">
<div class="row topOrder " [ngClass]="{'topOrderMob':displayMobile}">
  
  <div class="col-md-2 col-lg-2 col-xl-2 col-4 pt-2 " (window:resize)="getWindowSize()" *ngIf="!displayMobile" >



   <!--  <div *ngFor="let dat of productModelImage; let i = index;">
      <ul class="list-group normalImage" *ngIf="i < 6" [ngClass]="{'active': slideIndex === i}">
        <li class="list-group-item">
          <img [src]="productImageUrl + productModel._id + '/' + dat.name"  class="smallImg">
        </li>
      </ul>
    </div> -->
    <div class="previsSlid">
        <a (click)="clickLeft(productModelImage, slideIndex)">
            <mat-icon>expand_less</mat-icon>
        </a>
      </div>
<div class="middleImage">
    <div  *ngFor="let dat of productModelImage; let i = index;"  >
      


        
        <div class="normalImage" (click)="clickCenter(productModelImage, i)" *ngIf="i < 6" [ngClass]="{'active': slideIndex === i}">
            <img [src]="dat.productImageName"  class="smallImg" >

        </div>
    </div>
    
  </div>
  <div class="nextSlid">
      <a  (click)="clickRight(productModelImage, slideIndex)">
          <mat-icon>keyboard_arrow_down</mat-icon>
      </a>
    </div>
</div>
  <div class="col-md-9 col-12 " *ngFor="let dat of productModelImage; let i = index;" 
  [ngClass]="dat.display">
    <!-- <div class="float-left">
      <a class="prevSlider" (click)="clickLeft(productModelImage, slideIndex)">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </a>
    </div> -->
    <div class="form-group" [ngClass]="{'col-12':displayMobile}">
        <!-- <a (click)="clickLeft(productModelImage, slideIndex)" *ngIf="displayMobile">
            <i class="material-icons material-icons1">
                keyboard_arrow_left
                </i></a> -->
                <!-- <div [hidden]="!imageLoader">Loading...</div> -->
                <!-- <div class="table" *ngIf="!displayMobile">
                    <app-image-zoom [imgPath]="dat.productImageName" (click)="selectedZoom(slideIndex)" ></app-image-zoom>  </div> -->
                    <!-- <img [hidden]="!imageLoader" src="../../../../assets/images/giphy.gif" /> -->
                    <app-image-zoom *ngIf="!displayMobile" class="imageBig" [img]="dat.productImageName" 
                    [zoom]="3.3" [lenSize]="250" [imgWidth]="370"   [divZoomed]="divZoomed" [discount]="productModel.discount"
     (mouseover)="mouser()" (mouseout)="over()" ></app-image-zoom>

          <div  #divZoomed class="img-zoom-result" [style.display]="show === true ? 'inline-block':'none' " ></div>
          <img *ngIf="displayMobile" src="../../../../assets/images/ucchal leaf 2.png"  class="imgleaf">
          <p *ngIf="displayMobile" class="discountcount">{{productModel.discount}}%</p>
           <p *ngIf="displayMobile" class="discountcountoff">  OFF</p>
          <img *ngIf="displayMobile"  (click)="selectedZoom(slideIndex)" class="imageBigMob" 
         
           [src]="dat.productImageName" >
      <!-- <img   (click)="selectedZoom(slideIndex)" class="imageBig" 
      [src]="dat.productImageName" [hidden]="displayMobile===true" (load)="this.imageLoader = false;"> -->
      <!-- <img src ="../../../../assets/images/12.jpeg" class="imageBig"> -->
      <!-- <a (click)="clickRight(productModelImage, slideIndex)" *ngIf="displayMobile"> 
        
          <i class="material-icons material-icons2">
              keyboard_arrow_right
              </i></a> -->
    </div>
    <!-- <div class="float-right">
      <a class="nextSlider" (click)="clickRight(productModelImage, slideIndex)">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </a>
    </div> -->
  </div>

</div>
</div>
</div>