
<div class="conatiner">
  
  <div class="row">
      <div class="col-md-12 col-12">
          <img src="../../../assets/images/5141-.jpg" class="cen img-fluid">
        </div>   
        <div class="col-md-12 col-12">
          <div class="container">
        <h2 class="text-center m-auto">WHO WE ARE</h2> <br> 
        <p style="text-align: center;font-size: 15px;">The journey of Ucchal Fashion™ embarked on the idea of wholesaling ethnic treasure in the year 2008. Our main office is based in the Garden city of India i.e., Bengaluru. 
          The world's preferred choice is Indian Ethnic Fashion nowadays. 
          Knowing the fashion trends, we aim to set new standards of customer delight in the western world. 
          Our associations with hundreds of looms are across India, gives tremendous chance to design and create from astonishing fabric with specialized craftsmanship. 
          We have a huge base of skilled workforce with no intervention of agents to execute all our businesses.</p>
        </div>
        <br>
        
        </div>

        <div class="col-md-12">
            <div class="container1  mid">
                <div class="icon mid">
                    <img src="../../../assets/images/Icons/support.png" width="80px" class="mid pt-2">
                  </div>
<!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->

            <h5 class="text-center m-auto">WHAT WE STAND FOR</h5><br>
            <p style="text-align: center;font-size: 15px;">
                We are a one-stop webshop offering the widest variety of authentic and trendy ethnic fashion. 
                Our online platform offers it all - sarees, salwar kameez, lehengas, contemporary Indo Westerns with an exquisite collection of accessories.
            </p>
            </div>
          </div>
          
          <div class="col-md-12">
              <div class="container1 mid">
                <div class="icon mid">
                  <img src="../../../assets/images/Icons/goal.png" width="80px" class="mid ">
                </div>
              <h5 class="text-center m-auto">OUR MISSION</h5><br>
              <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
              <p style="text-align: center;font-size: 15px;">
                  We are here to bring you fine quality and craftsmanship in our ethnic collection accompanied by swift and secure processes from purchase to product delivery. 
                  Our mission is to take the unfound glory of ethnicity to the rest of the world and offer you the delight of an international online shopping experience with us.
              </p>
              </div>
            </div>
  
            <div class="col-md-12">
                <div class="container1 mid">
                    <div class="icon mid">
                        <img src="../../../assets/images/Icons/vision.png" width="80px" class="mid pt-2">
                      </div>
                    <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                <h5 class="text-center m-auto">OUR VISION</h5> <br>
                <p style="text-align: center;font-size: 15px;">
                    We envisage providing our global customers a spectacular shopping experience where they can have true exposure to the rich Indian artistry through authentic fashion statements of ethnicity. Our objective is to spread the magical vibes of ethnicity to the world outside India. 
                    We are very keen to merge and mingle other communities who got the taste of ethnic fashion and style.
                </p>
                </div>
              </div>
     
  </div>
  
  

  </div>