.div2{
    height: 300px;
    background-color: #2d2d2d;
    color: white;
    font-size: 25px;
    padding: 50px;
    text-align: center;
}
.div1{
    padding-left: -15px;
    padding-right: -15px;
}
.cen{
    margin: auto;
    display: block;
}

.icon{
    background-color: #FFB500;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.mid{
    display: block;
    margin:auto;
}
.container1{
    max-width: 720px;
}