.gridContainer {
  background: #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}
.abtn { 
display: block;
width: 80%;
margin: 0 auto;
line-height: 38px;
letter-spacing: 0.025em;
color: #000;
border: 1px solid #000;
text-align: center;
background: transparent;
}
.backColor {
  background-color: #f0f0f0;
  
}
.topSize {
  padding-top: 5%;
}