.grumpy-image-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 144.7%;
  border: 2px solid white; /* simply to show you the collapsed state for this demo */
}
.grumpy-image {
  width: 100%;
}
.top{
  padding-top: 70px;
}
.top{
  padding-top: 60px;
}
.continueShopping
{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
    background-color:#28334f;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
    border: none;
    padding: 8px 10px;
    min-height: 45px;
}
.productBox .productImg {
  height: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.productBox .productImg img:last-child {
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

.productBox .productImg img {
  width: 100%;
}

.productBox .productImg img:first-child {
  display: block;
  height: 100%;
  width: 100%;
}

.productAction {
  left: 0;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 7%;
  padding-right: 7%;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #ffff;
  background: #28334f;
  cursor: pointer;
}
.removeProduct mat-icon{
  color: red;
  font-size: 16px !important;
}
.productBox .productImg .productSize {
  position: absolute;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 7%;
  padding-right: 7%;
  right: 80%;
  top: 0;
  left: 80%;
  width: 100%;
  cursor: pointer;
}
.selectSize {
margin: 0 0 5px;
}
select {
  display: block;
  color: #333;
  border: none;
      border-bottom-color: currentcolor;
      border-bottom-style: none;
      border-bottom-width: medium;
  border: 1px solid #a3a3a3;
  border-radius: 0;
  background: transparent;
  width: 100%;
  height: 24px;
  padding: 2px 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 0.2s ease-in-out;
  box-shadow: none;
  background: transparent url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAzMSAzMiI+PHBhdGggZD0iTTE2IDI0TDAgOWwxLTEgMTUgMTRMMzAgOGwxIDF6IiBmaWxsPSIjMzMzIi8+PC9zdmc+) no-repeat right 8px center;
  background-size: 10px 10px;
}
/* select {
  border-radius: 0;
  border-color: #000;
  margin: 0 auto;
  width: 100%;
  height: 20px;
} */
.productBox .productDetails .productPriceBox {
  color: rgba(45, 45, 45, .5);
  font-size: 12px;
  line-height: 18px;
  padding: 5px 0;
  position: relative;
}

.productBox .productDetails {
  overflow: hidden;
  padding: 5px 0 0;
  width: 100%;
}


.productBox .productImg .productAction .addtoProduct {
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #ffff;
}

.productBox .productImg .productAction .wishProduct {
  cursor: pointer;
  float: left;
  font-size: 14px;
  text-align: center;
  color: #ffff;
}

.productBox {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
}

mat-icon {
  font-size: 14px !important;
  height: 16px;
  width: 16px;
}

.productBox .productImg .productAction .wishProduct:after {
  border-right: 2px solid white;
  content: "";
  display: block;
  width: 1px;
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 50%;
  right: 50%;
}

.aligned-with-icon-relative {
  position: relative;
  top: 0px;
  margin-left: 5px;
  /* optional */
}

.productBox .productDetails .productName {
  /* line-height: 16px;
    font-weight: 600; */
  font-size: 10px;
  font-weight: 300 !important;
  margin-bottom: 0% !important;
  text-align: center;
  color: #808285;
  font-family: 'Montserrat-Regular';
}

.productBox .productDetails .productPriceBox .productPrice {
  color: #2d2d2d;
  text-align: center;
  font-size: 10px;
}