<div class="row" *ngIf="!data">
  <div class="col-md-12 py-5 border">
    <h4 class="p-3 fontSty">Add New Address</h4>
    <form [formGroup]="addressForm" novalidate (ngSubmit)="!addressForm.invalid && onSubmit()">
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Name" formControlName="name" required>
            <mat-error *ngIf="addressForm.controls['name'].errors?.required">
              Name
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Mobile Number" formControlName="mobileNumber" pattern="^[1-9]\d{9}$" required>
            <mat-error *ngIf="addressForm.controls['mobileNumber'].errors?.required">
              Mobile Number
              <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="addressForm.controls['mobileNumber'].errors?.pattern">Should containe digits</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="form-row">
        
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Building No" formControlName="building" required>
            <mat-error *ngIf="addressForm.controls['building'].errors?.required">
              Building No
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Street Address" formControlName="streetAddress" required>
              <mat-error *ngIf="addressForm.controls['streetAddress'].errors?.required">
                Street Address
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="LandMark" formControlName="landmark" required>
            <mat-error *ngIf="addressForm.controls['landmark'].errors?.required">
              Land Mark
              <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="City" formControlName="city" required #name>
              <mat-error *ngIf="addressForm.controls['city'].errors?.required">
                City is
                <strong>required</strong>
              </mat-error>
              <!-- <mat-label>Select your State</mat-label>
              <mat-select formControlName="state" (selectionChange)="getState($event)" required>
                <mat-option *ngFor = "let state of states?.states" [value]="state.state">{{state.state}}</mat-option>
              </mat-select>
              <button mat-button matSuffix aria-label="state">
              </button> -->
            </mat-form-field>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="State" formControlName="state" required>
                <mat-error *ngIf="addressForm.controls['state'].errors?.required">
                  State is
                  <strong>required</strong>
                </mat-error>
                <!-- <mat-label>Select your City</mat-label>
              <mat-select formControlName="city"  required>
                <mat-option *ngFor ="let dis of districts" [value]="dis">{{dis}}</mat-option>
              </mat-select>
              <button mat-button matSuffix aria-label="city">
              </button> -->
               
              </mat-form-field>
            </div>
        
        <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="PinCode" formControlName="pincode" pattern="^\d{6}$" max-length="6" required #name>
              <mat-error *ngIf="addressForm.controls['pincode'].errors?.required">
                PinCode is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="addressForm.controls['pincode'].errors?.pattern">Enter a Valid Pincode</mat-error>
            </mat-form-field>
          </div>
          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Country" formControlName="country" required>
              <mat-error *ngIf="addressForm.controls['country'].errors?.required">
                Country
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 col-6">
          <button mat-raised-button class="btn fontSty" type="button" (click)="dialogRef.close(false)" >Cancel</button>
        </div>
        <div class="col-md-6 col-6">
        
            <button mat-raised-button class="btn fontSty float-right" type="submit">Save</button>
       
        </div>
      </div>
    </form>
  </div>
</div>

<div  class="row" *ngIf="data">
    <div class="col-md-12 py-5 border">
        <h4 class="pb-4">Edit Address</h4>
    
  <form [formGroup]="addressForm" novalidate (ngSubmit)="!addressForm.invalid && onSubmit()">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Name" [value]="data.name || null" formControlName="name" required #name>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="mobile number" [value]="data.mobileNumber || null" formControlName="mobileNumber"
            #mobileNumber required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="building" [value]="data.building" formControlName="building" #building required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="streetAddress" [value]="data.streetAddress" #streetAddress
            formControlName="streetAddress" required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="landmark" [value]="data.landmark" formControlName="landmark" #landmark required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="City" [value]="data.city" formControlName="city" #city required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="State" [value]="data.state" formControlName="state" #state required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Pincode" [value]="data.pincode" formControlName="pincode" #pincode required>
        </mat-form-field>
      </div>
      <div class="col-md-6">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Country" [value]="data.country" formControlName="country" #country required>
        </mat-form-field>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 actionClass">
            <button mat-raised-button class="button fontSty" 
            (click)="updateAddress(data, name, mobileNumber, building, streetAddress, landmark, city, state, pincode )"
            type="submit">Update</button>
          </div>
          <div class="col-md-6 actionClass" (click)="dialogRef.close(false)">
              <button mat-raised-button type="button fontSty" (click)="dialogRef.close(false)" class="button"> Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
</div>