<form [formGroup]="regForm" (ngSubmit)="!regForm.invalid && onSubmit()" (window:resize)="getWindowSize()" novalidate>
  <div class="row" (window:resize)="getWindowSize()">

    <mat-card class="card col-md-6 col-6 col-sm-6" [ngClass]="{'mat-cardMob':showMobileView}">
      <img src="../../../assets/images/logo/Zinc Cotton Logo (1).png" class="img-fluid">

      <div class="col-md-12 col-sm-12">
        <p style="color: crimson">{{holder?.result }}</p>
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <mat-form-field>
              <mat-label>Your Email Address</mat-label>
              <input matInput placeholder="email" formControlName="emailId" required>
                <mat-icon matSuffix mat-icon-button aria-label="email">email</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <mat-form-field>
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Mobile Number" maxlength="10" formControlName="mobileNumber" required>
                <mat-icon matSuffix mat-icon-button aria-label="Mobile Number">phone</mat-icon>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <mat-form-field appearance="legacy">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password" [type]="showPassword ? 'text': 'password'"
               formControlName="password" required>
                <mat-icon matSuffix mat-icon-button aria-label="User Name" (click)="checkPassword()">remove_red_eye</mat-icon>
              <mat-error *ngIf="regForm.controls['password'].errors?.required">
                Password is
                <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-md-12 col-sm-12">
            <button class="registerButton" type="submit" [ngClass]="{'regButtonMob':showMobileView}">Register</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</form>