<div class="container-fluid">
  <div class="row ctrlRow">
    <div  class="col-md-4" *ngFor='let data of image'>
      <div>
        <img  [src]="data.images" class="img-fluid hvr-pop">
        <h4 class="name-class">{{data.text}}</h4>
        <h6>{{data.para}}</h6>
      </div>
    </div>
  </div>
</div>
