<div>
    <mat-icon (click)="close()" style="cursor: pointer">clear</mat-icon>

    <app-attribute-filter 
    (attributeFilterData)="filterAttributeMultiAll($event)"
     [fieldAttributePush]="fieldAttributePush"

     [attributeModel]="attributeModel"
                        
   ></app-attribute-filter>

</div>