<div class="row" style="margin-top: 50px">
  <div class="col-md-4 mb-2" *ngFor="let address of addressModel; let i = index">
    <div class="gridAddress" [class.selected]="selected === i">
      <div class="text-secondary textStyle1">
        <strong>
          <label>
            <input type="radio" name="address.name" [value]="address.name"
              (change)="selectedAddress($event, address, i)" [checked]="selected === i">
            {{address.name}}
          </label>
        </strong>
      </div>

      <div class="textStyle1">{{address.building }}</div>
      <div class="textStyle1">{{address.streetAddress }}</div>
      <div class="textStyle1">{{address.landmark }}</div>
      <div class="textStyle1">{{address.city }}</div>
      <div class="textStyle1">{{address.state }}</div>
      <div class="textStyle1"><span>Mobile: </span>{{address.mobileNumber }}</div>
      <div class="row">
        <div class="text-center col-md-6 col-6 textStyle1" (click)="openEditAddress(address)">
          <button class="buttn buttonFont"> <mat-icon>create</mat-icon></button>
          </div>
        <div class="text-center col-md-6 col-6 textStyle1"  (click)="deleteAddressData(address._id)" >
          <button class="buttn buttonFont"> <mat-icon>delete</mat-icon></button> 
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-1">
      <div class="addButton textStyle1" (click)="openAddAddress()">
        ADD ADDRESS
    </div>
  </div>
</div>