.selected {
    border: 1px solid black
}
.addButton {
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px 5px 5px 5px;
    background-color: #28334f;
    height: 40px;
    /* width:auto;   */
    letter-spacing: 0.1em;
  }
  .buttonFont {
    /* font-family: 'HelveticaNeue'; */
    margin-left: 0px !important;
}
.buttn{
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 25px;
  width: auto;
  border-radius: 10px;
  font-size: 15px !important;
  height: 40px;
}
  .editBtn {
    color: black;
    font-size: 18px;
    cursor: pointer;
    height: 40px;
    letter-spacing: 0.1em; 
    border: 1px solid black;
  }
  .continueButton {
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px 5px 15px 5px;
    background-color: #333;
    height: 40px;
    width:60%;  
    letter-spacing: 0.1em;

   /*  display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 10px 5px 5px 5px;
    background-color: #333;
    height: 40px;
    width:40%;  
    letter-spacing: 0.1em; */
  }
  .textStyle1 {
    font-family: 'Montserrat-Regular';
    font-size: 13px;
  }