<div class="col-md-12 smallbanner container-fluid">
  
    <img  src="../../../assets/images/category/strip.png" class="img-fluid">

</div>







<!-- <div class="container gridSpace">
  <h5 class="mensColect">{{this.title}}</h5>
  <h6 class="mensCrip">{{this.description}}</h6>
  <div class="row">
    <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
      <div class="spaceCtrl">
        <img [src]="productImageUrl + firstFrame._id + '/' +firstFrame.productImageName[0]" class="imgProduct">
      </div>
      <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
        <div class="example-button-row">
          <h6 style="padding-left: 10px;">
            <button mat-mini-flat class='sizeStyle' *ngFor="let val of firstFrame.productVariant">
              <span class='textStyle'>{{val.sizeName}}</span>
            </button>
          </h6>
        </div>
        <h6 class="mEn">{{firstFrame.material}}</h6>
        <p class="proName">{{firstFrame.productName}}</p>

        <p class="priZe"> <span style="text-decoration: line-through">{{firstFrame.unPriz}}</span> ₹ {{firstFrame.price}}</p>
      </h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
      <div class="spaceCtrl">
        <img [src]="productImageUrl + secondFrame._id + '/' +secondFrame.productImageName[0]" class="imgProduct">
      </div>
      <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
        <div class="example-button-row">
          <h6 style="padding-left: 10px;">
            <button mat-mini-flat class='sizeStyle' *ngFor="let val of secondFrame.productVariant">
              <span class='textStyle'>{{val.sizeName}}</span>
            </button>
          </h6>
        </div>
        <h6 class="mEn">{{secondFrame.material}}</h6>
        <p class="proName">{{secondFrame.productName}}</p>

        <p class="priZe"> <span style="text-decoration: line-through">{{secondFrame.unPriz}}</span> ₹ {{secondFrame.price}}</p>
      </h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
      <div class="spaceCtrl">
        <img [src]="productImageUrl + thirdFrame._id + '/' +thirdFrame.productImageName[0]" class="imgProduct">
      </div>
      <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
        <div class="example-button-row">
          <h6 style="padding-left: 10px;">
            <button mat-mini-flat class='sizeStyle' *ngFor="let val of thirdFrame.productVariant">
              <span class='textStyle'>{{val.sizeName}}</span>
            </button>
          </h6>
        </div>
        <h6 class="mEn">{{thirdFrame.material}}</h6>
        <p class="proName">{{thirdFrame.productName}}</p>

        <p class="priZe"> <span style="text-decoration: line-through">{{thirdFrame.unPriz}}</span> ₹ {{thirdFrame.price}}</p>
      </h6>
    </div>
    <div class="col-md-3 col-lg-3 col-xl-3 col-6" >
      <div class="spaceCtrl">
        <img [src]="productImageUrl + forthFrame._id + '/' +forthFrame.productImageName[0]" class="imgProduct">
      </div>
      <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
        <div class="example-button-row">
          <h6 style="padding-left: 10px;">
            <button mat-mini-flat class='sizeStyle' *ngFor="let val of forthFrame.productVariant">
              <span class='textStyle'>{{val.sizeName}}</span>
            </button>
          </h6>
        </div>
        <h6 class="mEn">{{forthFrame.material}}</h6>
        <p class="proName">{{forthFrame.productName}}</p>

        <p class="priZe"> <span style="text-decoration: line-through">{{forthFrame.unPriz}}</span> ₹ {{forthFrame.price}}</p>
      </h6>
    </div>
    
  </div>
</div> -->