.dropdown-menu {
  /* padding-right: 30px;
  padding-left: 30px; */
  border-bottom: 2px solid #000;
}

.dropdown-item {
  display: block;
  width: 100%;
  font-size: 13px;
  line-height: 26px;
  text-align: center;
  color: #333;
}

.dropdownTitle {
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  line-height: 40px;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  background: #fff;
}


.displayNone {
    display: none;
  }
  