<div class="row pb-2">
  <div class="col-md-6">
    <div class="form-group float-left">
      <span>{{productModel?.length}} items</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div class="dropdown  float-right">
        <span type="button dropdownTitle" (click)="sortOrderType()" class="btn btn-defalut" data-toggle="dropdown">
          <small>Sort By - {{selectedSortVal}} <span>
              <mat-icon [ngClass]="{'displayNone': sortOrderTrue}">
                keyboard_arrow_down</mat-icon>
            </span>
            <span>
              <mat-icon [ngClass]="{'displayNone': !sortOrderTrue}">keyboard_arrow_up</mat-icon>
            </span>&nbsp;&nbsp;&nbsp;</small>

        </span>
        <div class="dropdown-menu dropdown-left" [ngClass]="{'show': sortOrderTrue }">
          <span class="dropdown-item" *ngFor="let sort of sortBy" (click)="sortType(sort, productModel)">
            {{sort.value}}</span>
        </div>
      </div>
    </div>
  </div>
