<button type="button" class="close" (click)="close()" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<mat-radio-group aria-label="Select an option" (change)="radioChange($event)">
  <mat-radio-button value="1">CM</mat-radio-button>
  <mat-radio-button [checked]="isInches === true" value="2">Inches</mat-radio-button>
</mat-radio-group>
<div class="container" *ngIf="isCm">
  <img [src]="this.sizeGuideImageUrl + data[0]._id + '/' + data[0].sizeChartCM" alt="Notebook" style="width:100%;">
</div>
<div class="container" *ngIf="isInches">
  <img [src]="this.sizeGuideImageUrl + data[0]._id + '/' + data[0].sizeChartInches" alt="Notebook" style="width:100%;">
</div>
