<nav class="navbar navbar-expand-lg navbar-light bg-warnning" style="color: black">

  <span class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
     aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav col-md-12">
       
        <li class="nav-item" style="left: 93%; position: relative;">
          <a class="nav-link nav-link1" ><b >Track Order</b></a>
        </li>
        <li class="nav-item" style="left: 95%; position: relative;">
          <a class="nav-link nav-link1" ><b >Contact Us</b></a>
        </li>
      </ul>
    </div>
  </span>
  
  </nav>
