<!-- <div class="container gridSpace space" (window:resize)="getWindowSize()">
  <div class="row spdd">
    <div class="col-md-6 col-lg-6 col-xl-6 col-12 sp1 " [ngClass]="{'sp':showMobileView}">
      <div class="space">
          <div class="newOne">
        <div class="spaceCtrl" >
            <a href="{{holderFrame1?.link}}"> -->
            <!-- <div class="boxp"> -->
             <!-- <img [src]="holderFrame1?.adsImageName" class="img img-responsive" [ngClass]="{'imgMob':showMobileView}" mat-stroked-button > -->
             <!-- <img src="../../../assets/images/1.jpg" class="img img-responsive" [ngClass]="{'imgMob':showMobileView}" mat-stroked-button > -->

             <!-- <h2 class="fashIons" style="font-family: Montserrat-RegularCn">
              {{holderFrame1?.adsTitle}}
             </h2>
            <p class="arriVals" style="font-family: Montserrat-RegularCn">
              {{holderFrame1?.adsDescription}}
            </p>
            <div class="sPosition" *ngIf="holderFrame1?.buttonContent" style="font-family: Montserrat-RegularCn">
              <button class="btnn buttonShape" style="margin-top: -25px;
              margin-right: 3px;" appHover>{{holderFrame1?.buttonContent}}</button>
            </div> -->
          <!-- </div> -->
        <!-- </a>
        </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-6 spAcE" *ngFor="let data of holder"> -->
     <!--  <div class="space"> -->
        <!-- <div class="spaceCtrl" > -->
            <!-- <a href="{{data.link}}"> -->
          <!-- <img [src]="data.adsImageName" class="img" > -->
          <!-- </a> -->
        <!-- </div> -->
   <!--    </div> -->
    <!-- </div> -->
    
    <!-- <div class="col-md-6 col-lg-6 col-xl-6 col-12 sp2" [ngClass]="{'sp':showMobileView}">
      <div class="space">
        <div class="spaceCtrl" >
            <a href="{{holderFrame2?.link}}"> -->
          <!-- <div class="boxp"> -->
          <!-- <img [src]="holderFrame2?.adsImageName" class="img" [ngClass]="{'imgMob':showMobileView}" mat-stroked-button> -->
        <!-- </div> -->
        <!-- <h2 class="fashIons1" style="font-family: Montserrat-RegularCn"> -->
          <!-- {{holderFrame2?.adsTitle}} -->
        <!-- </h2> -->
        <!-- <p class="arriVals1" style="font-family: Montserrat-RegularCn"> -->
          <!-- {{holderFrame2?.adsDescription}} -->
        <!-- </p>
        <div class="sPosition1" *ngIf="holderFrame2?.buttonContent" style="font-family: Montserrat-RegularCn">
          <button class="btnn buttonShape" style="margin-top: -25px;
          margin-right: 3px;">{{holderFrame2?.buttonContent}}</button>
        </div>
      </a>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container gridRows">
  <div class="row rowClt">
    <div class="col-md-6 col-6 ">
      <figure class="figure">
        <img class="mid" src="../../../assets/images/category/small banner1.png" class="img-fluid">
      </figure>
    </div>
    <div class="col-md-6 col-6 ">
        <figure class="figure">
      <img class="mid" src="../../../assets/images/category/small banner2.png" class="img-fluid">
      </figure>
    </div>

  </div>
</div>
<br> -->

<div class="row mainclass ">
 
    <div class="col-md-6 col-6 gridNow text-center">
        <div class="image-box">
          <img src="../../../assets/images/products/smallbanner1.jpg" class="img-fluid "></div>
      
      </div>
    <div class="col-md-6 col-6 gridNow text-center">
      <div class="image-box">
        <img src="../../../assets/images/products/smallbanner2.jpg" class="img-fluid "></div>
    </div>
</div>