.orderBtn{
    width:100%;  
    letter-spacing: 0.1em;
    color: #fff;
    background-color: #28344f;
    border: none;
    height: 40px;
  }
  .textStyle1 {
    /* font-family: 'HelveticaNeue'; */
    font-size: 13px;
  }
  .line{
    padding: 20px;
  }
  .backButton{
    margin: auto;
    display: block;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border: none;
    /* padding: 10px 5px 5px 5px; */
    background-color: #3b7bbf;
    height: 40px;
    width:100%;  
    letter-spacing: 0.1em;
    border-radius: 5px;
   

  }
