<table class="table table-striped table-hover table-bordered"  *ngIf="!showNoData" style="box-shadow: 0 4px 12px 12 rgba(0, 0, 0, 0.05);">
  <thead>
    <tr>
      
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-weight: bold; color: black;">Measurement Name</td>
      <td style="font-weight: bold; color: black;">{{holder.measurementName}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">Type</td>
      <td>{{holder.typeName}}</td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">Type Description</td>
      <td>
        {{holder.typeDescription}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">Around Bust</td>
      <td>
        {{holder.aroundBust}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">Around Above Waist</td>
      <td>
        {{holder.aroundAboveWaist}}
      </td>
      </tr>
      <tr>
      <td style="font-weight: bold; color: black;">
        Blouse Length
      </td>
      <td>
        {{holder.blouseLength}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Sleeve Length
      </td>
      <td>
        {{holder.sleeveLenth}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Around Arm
      </td>
      <td>
        {{holder.aroundArm}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Front Neck Depth
      </td>
      <td>
        {{holder.frontNeckDepth}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Bacl Neck Depth
      </td>
      <td>
        {{holder.backNeckDepth}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Front Neck Style
      </td>
      <td>
        {{holder.frontNeckStyle}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Back Neck Style
      </td>
      <td>
        {{holder.backNeckDepth}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Sleeve Style
      </td>
      <td>
        {{holder.sleeveStyle}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Closing Side
      </td>
      <td>
        {{holder.closingSide}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Closing With
      </td>
      <td>
        {{holder.closingWith}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Lining
      </td>
      <td>
        {{holder.lining}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;" >
        Special Instruction
      </td>
      <td>
        {{holder.specialInstruction}}
      </td>
    </tr>
    <tr>
      <td style="font-weight: bold; color: black;">
        Created Date
      </td>
      <td>
        {{holder.addedDate}}
      </td>
    </tr>
  </tbody>
</table>
<div *ngIf="showNoData" class="nodata"> 
  No results found</div>

<!-- ======================================================= -->
<!-- <div class="container">
  <div class="row">
    <div class="col-md-3 form-group">
      <label>Measurement Name</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.measurementName}}
    </div>
    <div class="col-md-3 form-group">
      <label>Type</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.typeName}}
    </div>
    <div class="col-md-3 form-group">
      <label>Type Description</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.typeDescription}}
    </div>
    <div class="col-md-3 form-group">
      <label>Around Bust</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.aroundBust}}
    </div>
    <div class="col-md-3 form-group">
      <label>Around Above Waist</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.aroundAboveWaist}}
    </div>
    <div class="col-md-3 form-group">
      <label>Blouse Length</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.blouseLength}}
    </div>
    <div class="col-md-3 form-group">
      <label>Sleeve Length</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.sleeveLength}}
    </div>
    <div class="col-md-3 form-group">
      <label>Around Arm</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.aroundArm}}
    </div>
    <div class="col-md-3 form-group">
      <label>Front Neck Depth</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.frontNeckDepth}}
    </div>
    <div class="col-md-3 form-group">
      <label>Bacl Neck Depth</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.backNeckDepth}}
    </div>

    <div class="col-md-3 form-group">
      <label>Front Neck Style</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.frontNeckStyle}}
    </div>
    <div class="col-md-3 form-group">
      <label>Back Neck Style</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.backNeckStyle}}
    </div>
    <div class="col-md-3 form-group">
      <label>Sleeve Style</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.sleeveStyle}}
    </div>
    <div class="col-md-3 form-group">
      <label>Closing Side</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.closingSide}}
    </div>
    <div class="col-md-3 form-group">
      <label>Closing With</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.closingWith}}
    </div>
    <div class="col-md-3 form-group">
      <label>Lining</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.lining}}
    </div>
    <div class="col-md-3 form-group">
      <label>Special Instruction</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.specialInstruction}}
    </div>
    <div class="col-md-3 form-group">
      <label>Created Date</label>
    </div>
    <div class="col-md-9 form-group">
      {{holder.addedDate}}
    </div>
  </div>
</div> -->