
<div class="container">
  <div class="row space">
    <div class="col-md-12 ctrlAll">
      <div class="productInformation">
        <div class="productText">
          <!-- <p class="productName">{{productModel?.productName}}</p> -->
          <small class="productName">{{productModel?.INTsku}}</small>
        </div>
        <div>
          Share on <br> <a class="pr-2" (click)="fb()" style="cursor: pointer"><i class="fa fa-facebook-square fa-2x social" style="color: #3B5998"></i></a>
          <a class="pr-2 twitter-share-button" href="https://twitter.com/share"><i class="fa fa-twitter-square fa-2x social" style="color: #1da1f2"></i></a>
          <a class="pr-2"  href="https://api.whatsapp.com/send?text=check out this link : {{ url }}" data-action="share/whatsapp/share">
           <i class="fa fa-whatsapp fa-2x social" style="color: #25D366"></i>
        </a>
          <a class="pr-2"  (click)="pinIt()"
          data-pin-do="buttonPin"
          data-pin-config="above"><i class="fa fa-pinterest fa-2x social" style="color: #c8232c;cursor: pointer;"></i></a>
          <!-- <a class="pr-2"><i class="fa fa-instagram fa-2x social" style="color: #8a3ab9"></i></a> -->
        </div>
        <br>
        <!-- {{productModel | json}} -->
        <!-- {{productModel | json}} -->
        <div *ngIf="productModel?.ttsPortalenable === true" class="text-center">
        <h5 class="readytoship"> Ready to Ship </h5>
        </div>
        <br>
        <div class="productPrice">

          <p class="textFam"><span style="color: #4d4d4d; font-family: 'sans-serif'"></span>
            <span class="fullPrice" *ngIf="productModel?.discount !==0">{{productModel?.totalPrice }}</span><span
              class="priceText"> <i class="fa fa-inr" aria-hidden="true"></i>{{productModel?.price}}</span>
              <span style="color: #28334f" *ngIf="productModel?.discount !==0">( {{productModel?.discount }}% OFF )</span>
          </p>
        </div>
        <div *ngIf="productModel?.tailoringService === 'Yes' && !isMeasurementApply">
          <p class="tailoringServices"> Tailoring Services:</p>
            <mat-radio-group aria-label="Apply On" formControlName="applyOn" (change)="changeApplyOn($event)" >
                <mat-radio-button value="unStitchedFabric" [checked]="true" >Unstitched Fabric + {{initialPrice | converter | localeCurrency}} </mat-radio-button> <br>
                <mat-radio-button value="madeToMeasurement" [checked]="false">Made to Measurement + {{measurementData[0]?.price * ( 100 - measurementData[0]?.discount )/100 | converter | localeCurrency}}  <span *ngIf="measurementData[0].discount !== 0 && measurementData[0].discount !== undefined">{{measurementData[0]?.discount}} %</span></mat-radio-button>
              </mat-radio-group>
              <div *ngIf="isMeaurement">
                Submit Measurement: <a style="color: #1da1f2;cursor:pointer;" (click)="getClick()">Now</a> 
                <!-- <a (click)="getHowToMeasure()"> How To Measure</a> -->
              </div>
        <!--     <mat-radio-group aria-label="Apply On" formControlName="applyOn" (change)="changeApplyOn($event)" *ngIf="readyToWearholder[0]?.price">
                <mat-radio-button value="readyToWear">Ready To wear + {{readyToWearholder[0]?.price * ( 100 - readyToWearholder[0]?.discount)/100 | converter | localeCurrency}}</mat-radio-button>
              </mat-radio-group> -->
              <br>
              <hr style="border-top: 1px solid gray;"><br>
              <!-- <div *ngIf="isReadyToWear">
                  <mat-form-field class="ps">
                      <mat-select   placeholder="Select" (selectionChange)="selectedSizeValue($event, readyToWearholder)">
                        <mat-option *ngFor="let data of readyToWearholder[0].measurement" [value]="data">
                          {{data}} {{readyToWearholder[0].serviceName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <p (click)="getSizeChart(readyToWearholder)">Size Chart</p>
              </div> -->
           
        </div>
        <div *ngIf="isMeasurementApply"> <p> Tailoring Services: {{measurementData[0]?.measurementName}}</p>
          <p>  Thank you for submitting your
            measurement </p> <br>
        </div>
        <div class="productText" *ngIf="productModel?.productDescription">
          <p class="productDescription">
            <span *ngIf="!showDescription && productModel?.productDescription?.length > 120" class="descText">
              {{productModel?.productDescription | slice:0:120}} <a (click)="readMore()"><b
                  style="cursor: pointer;">readmore</b></a>
            </span>
            <span class="spd" style="padding-bottom: 10px;" *ngIf="showDescription" class="descText">
              {{productModel?.productDescription}}<a (click)="readLess()"><b
                  style="cursor: pointer;">readless</b></a>
            </span>
            <span class="spd" *ngIf="productModel?.productDescription?.length < 120">
              {{productModel?.productDescription}}
            </span>
            <br><br>
            
          </p>
          
        </div>
    <div class="row rowCostIncludes" *ngIf="productModel?.costIncludes?.length > 0"
    >
    <h6> Cost Includes</h6>
    <div class="col-md-12" *ngIf="productModel?.costIncludes">
      <ul *ngFor="let fab of productModel?.costIncludes">
        <li>{{fab}}</li>
      </ul>
    </div>
  </div>

      
          <!-- <div style="font-size: 20px" (click)="openDialog()">Inquiry</div>  -->
        
      </div>
    </div>
  </div>
</div>