.productMoreInfo {
    /* margin: 3rem !important; */
    background-color: #f0f0f0;
    font-family:'Montserrat-RegularCn'; 
    margin-bottom: 40px;
    margin-top: 30px;
}

.nav-tabs {
  border-bottom: 1px solid #888 !important;
}

.activeClass {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  color: #666666;
  border-bottom: 3px solid #666666 !important;
}

.nav-tabs .nav-link {
  border: none;
}

@media only screen and (max-width: 900px) {
    .productMoreInfo {
        margin: 0 !important;
    }
}

.delivery h4 {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 10px;

}

.delivery h4 strong {
  font-weight: normal;
  font-size: 12px;
}

.tab-pane {
  padding: 30px 5% 10px;
}

.tabHeading {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  color: #808080;
}

.activeHeading {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
  color: #666666;
}