<!-- <div class="row" *ngFor="let super of commonCategory" >
  <div class="col-md-12" [hidden]="super._id !== cat.catId" >
    <h1 class="headerText">{{super?.categoryName}}</h1>
    <p  class="headerDescription">
      {{categoryName | json}}
      {{super?.categoryDescription}}
    </p>
    <h2 class="borderLine"><span></span></h2>
  </div>
</div> -->
<div class="container-fluid textHeader" *ngFor="let super of commonCategory">
  <div class="row" *ngIf="super?.superCatData">
    <div class="col-md-12">
        <h1 class="headerText" [ngClass]="{'headerTextMob':showMobileView === true}">{{super?.categoryName}}</h1>
        <div  class="headerDescription">
          
         <!-- <p> {{super?.categoryDescription}}</p> -->
        </div>
    </div>
  </div>
  <div class="row" *ngIf="super?.mainCatData">
    <div class="col-md-12" >
      <div class="bannerTop" >
          <h1 class="headerText">{{super?.mainCategory.mainCategoryName}}</h1>
          <div  class="headerDescription">
            {{super?.categoryDescription}}
          </div>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="!super?.subCatData" >
    <div class="col-md-12">
      <div class="bannerTop" >
          <h1 class="headerText">{{super?.mainCategory?.subCategory?.subCategoryName}}</h1>
          <p  class="headerDescription">
            {{sub?.subCategoryDescription}}
          </p>
      </div>
    </div>
  </div>
  
  <div class="row" [hidden]="!super?.brandCatData" *ngFor="let brand of brandModel">
    <div class="col-md-12" >
      
      <div class="bannerTop" [hidden]="super.brandId !== brand._id">
          <h1 class="headerText">{{brand?.brandName}}</h1>
          <p  class="headerDescription">
            {{brand?.brandDescription}}
          </p>
      </div>
    </div>
  </div>
  <div class="row" [hidden]="!super?.collectionCatData" *ngFor="let tag of tagData">
      <div class="col-md-12" *ngFor="let dec of tag.tagValue">
        
        <div class="bannerTop" [hidden]="super.collectionId !== tag._id">
            <h1 class="headerText">{{tag?.tagName}}</h1>
            <p  class="headerDescription" >
              {{dec?.tagValueName}}
            </p>
        </div>
      </div>
    </div>
    
</div>
<div class="container-fluid textHeader" [hidden]="!promotionData?.promotion && !recentProduct?.recent">
    <div class="row"  >
        <div class="col-md-12" [hidden]="!promotionData?.promotion">
          
          <div class="bannerTop" >
              <h1 class="headerText">{{promotionData?.title}}</h1>
              <p  class="headerDescription" >
                {{promotionData?.description}}
              </p>
          </div>
        </div>
        <div class="col-md-12" [hidden]="!recentProduct?.recent">
          <div class="bannerTop" >
              <h1 class="headerText">{{recentProduct?.title}}</h1>
          </div>
        </div>
      </div>
</div>

<!-- <div class="container-fluid textHeader" [hidden]="!recentProduct.recent">
  <div class="row"  >
      <div class="col-md-12"  >
        <div class="bannerTop" >
            <h1 class="headerText">{{recentProduct?.title}}</h1>
        </div>
      </div>
    </div>
</div> -->
