
mat-icon{
  font-size: 12px !important;
  height: 12px;
  width: 12px;
}
::ng-deep .c1{
  margin-top: 20px;
  width: 700px;
  height: auto;
 margin:auto;
}
.mEn {
  margin-top: 6px;
  text-align: center;
  color: #919191;
  font-family: 'experts';
  text-transform: capitalize;
  margin-top: 8px;
  margin-bottom: 0px;
  font-weight: 600;
  font-size: 14px;
}
.space {
  margin-right: auto;
    margin-left: auto;
}

.proName {
  margin-top: 6px;
  text-align: center;
  color: #919191;
  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 20;
}

.priZe {
  margin-top: 6px;
  text-align: center;
  color: #919191;

  margin-top: 8px;
  margin-bottom: 0px;
  font-size: 20;
}
.loader{
  margin-top: 100px;
  width: 100px !important;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.buTN {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 11px;
}

.star {
  width: 19px;
  padding: 2px;
}

.salZ {
  position: absolute;
  top: 8px;
  left: 16px;
  border-radius: 0px;

}



.btnStyle {

  margin: 5px;
  border: 2px solid gray;
}

.sizeStyle {

  margin: 8px;
  border: 1px solid gray;
  background-color: #EAF8FF;
}

.xsizeStyle {
  width: 32px;
  height: 21px;
  margin: 12px;
  border: 1px solid gray;
  background-color: #EAF8FF;
}

.textStyle {
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  font-family: Expert Sa;
  font-weight: bold;
}
.tex-alin {
  width: 100%;
}
.xxlStyle {
  font-size: 11px;
  text-align: center;
  margin-top: 3px;
  margin-right: 5px;
}

.imgProduct {
  width: 350;
  height: 350px 0px;
  border-radius: 0px;
  padding: 10px;
}

/* ================================================================== */
.box {
  text-align: center;
  border-radius: 0px;
  overflow: hidden;
  position: relative;
  padding-bottom: 10px;
}

.box:before,
.box:after {
  content: "";
  width: 100%;
  height: 50%;
  /* background: linear-gradient(to right top, rgba(0, 0, 0, 0.11) 49%, rgba(0, 0, 0, 0.137) 50%); */
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 0.3s ease-out 0s;
}

.box:after {
  /* background: linear-gradient(to right top, rgba(0, 0, 0, 0.116) 49%, rgba(0, 0, 0, 0.116) 50%); */
  top: 50%;
}

.box:hover:before,
.box:hover:after {
  opacity: 1;
 
}

.box img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease 0s;
  
}

.box:hover {
  border: 0;
  box-shadow: 0 0 5px 0 rgba(218, 216, 216, 0.788), 0 0 2px 0 rgba(218, 216, 216, 0.788);
}

.box .box-content {
  width: 100%;
  background: rgb(207, 204, 204);
  padding: 7px 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 2;
  transform: translateX(50%) translateY(100%);
  transition: all 0.3s ease 0s;
  border-radius: 0px;
  outline: none;
}

.box:hover .box-content {
  transform: translateX(0) translateY(0);
}

.box .title {
  font-size: 22px;
  font-weight: 700;
  color: black;
  letter-spacing: 1px;
  margin: 0;
}

.box .post {
  display: inline-block;
  font-size: 16px;
  font-style: italic;
  color: #fff;
  border-radius: 0 10px 0 10px;
}

.box .icon {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 95%;
  left: 50%;
  z-index: 2;
  transform: translateX(-30%) translateY(-50%);
  transition: all 0.3s ease 0s;
}

.box .icon li {
  font-size: 12px;
  display: inline-block;
  margin: 0 5px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.box .icon li:first-child {
  transform: translateX(-150px);
}

.box .icon li:last-child {
  transform: translateX(150px);
}

.box:hover .icon li {
  opacity: 1;
}

.box:hover .icon li:first-child {
  transform: translateX(0);
}

.box:hover .icon li:last-child {
  transform: translateX(0);
}

.box .icon li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 50%;
  background: #fff;
  border: 3px dotted transparent;
  font-size: 23px;
  color: #ff0022;
  box-shadow: 0 0 5px rgb(207, 204, 204);
  margin-bottom: 10px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.box .icon li a:hover {
  text-decoration: none;
  border-radius: 10px;
  background: rgb(207, 204, 204);
  color: #fff;
  box-shadow: none;
}

@media only screen and (max-width:990px) {
  .box {
    margin-bottom: 30px;
  }

  .title {
    font-size: 15px !important;
  }
}


.iconBtn {
  margin: 5px;
  background: rgb(207, 204, 204);
}

.newz {
  margin: 0px;

}

.img-fluid {
  margin: 0px;
}

.gridSpace {
  margin-top: 30px;
}






.box .icont {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 94%;
  left: 50%;
  z-index: 2;
  transform: translateX(-70%) translateY(-30%);
  transition: all 0.3s ease 0s;
}

.box .icont li {
  font-size: 12px;
  display: inline-block;
  margin: 0 5px;
  opacity: 0;
  transition: all 0.3s ease 0s;
}

.box .icont li:first-child {
  transform: translateX(150px);
}

.box .icont li:last-child {
  transform: translateX(-150px);
}

.box:hover .icont li {
  opacity: 1;
}

.box:hover .icont li:first-child {
  transform: translateX(0);
}

.box:hover .icont li:last-child {
  transform: translateX(0);
}

.box .icont li a {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 36px;
  border-radius: 50%;
  background: #fff;
  border: 3px dotted transparent;
  font-size: 23px;
  color: #ff0022;
  box-shadow: 0 0 5px rgb(207, 204, 204);
  margin-bottom: 10px;
  position: relative;
  transition: all 0.3s ease 0s;
}

.box .icont li a:hover {
  text-decoration: none;
  border-radius: 10px;
  background: rgb(207, 204, 204);
  color: #fff;
  box-shadow: none;
}









a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

.tab .nav-tabs {
  border: none;
  margin-bottom: 30px;
}

.tab .nav-tabs li a {
  padding: 12px 20px;
  margin-right: 15px;
  font-size: 18px;
  font-weight: 700;
  color: #4f000b;
  text-transform: uppercase;
  border-radius: 0;
  z-index: 1;
  position: relative;
}

.tab .nav-tabs li a:hover {
  color: #fff;
}

.tab .nav-tabs li.active a {
  border: none;
  color: #fff;
}

.tab .nav-tabs li a:before {
  content: "";
  width: 100%;
  height: 100%;
  border: 3px solid #4f000b;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover:before,
.tab .nav-tabs li.active a:before {
  opacity: 0;
  transform: scale(0.5);
}

.tab .nav-tabs li a:after {
  content: "";
  width: 100%;
  height: 100%;
  background: #4f000b;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  transform: scale(1.2);
  transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover:after,
.tab .nav-tabs li.active a:after {
  opacity: 1;
  transform: scale(1);
}

.tab .tab-content {
  padding: 20px 35px;
  margin: 0;
  background: #da7635;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  line-height: 25px;
  z-index: 1;
  position: relative;
}

.tab .tab-content:before,
.tab .tab-content:after {
  content: "";
  display: block;
  width: 100%;
  height: 21px;
  background: linear-gradient(-45deg, transparent 75%, #da7635 75%) 0 50%, linear-gradient(45deg, transparent 75%, #da7635 75%) 0 50%;
  background-repeat: repeat-x;
  background-size: 16px;
  position: absolute;
  bottom: -21px;
  left: 0;
}

.tab .tab-content:after {
  bottom: auto;
  top: -21px;
  transform: rotate(-180deg);
}

.tab .tab-content h3 {
  font-size: 24px;
  margin-top: 0;
}

@media only screen and (max-width: 970px) {
  .tab .nav-tabs {
    overflow: hidden;
  }

  .tab .nav-tabs li {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .tab .nav-tabs li a {
    margin-right: 0;
  }
}
