.category-name{
  margin-top: 51px;
  text-align: center;
  margin-left: 142px;
}  
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.active-cyan input[type=text] {
  border-bottom: 1px solid #4dd0e1;
  box-shadow: 0 1px 0 0 #4dd0e1;
  }
  .active-cyan .fa, .active-cyan-2 .fa {
  color: #4dd0e1;
  }
 .headerDivWrapper{
   height: 100px;
 } 
.account-icon{
  margin-left: 116px;
}
.search-icon{
  padding-right: 30px;
}
/* .search-contents{
  margin-top: 31px !important;
  height: 20px;
} */
#a{
  display: none;
}
.nav-link:hover{
color: red !important;  
}
.item{
  padding: 0px;
}
.fa-stack-2x{
  left:auto !important;
}
.fa-stack[data-count]:after{
  position:absolute;
  right:0%;
  top:0%;
  content: attr(data-count);
  font-size:40%;
  padding:.6em;
  border-radius:999px;
  line-height:.75em;
  color: white;
  /* color:#DF0000; */
  text-align:center;
  min-width:2em;
  font-weight:bold;
  background: #DF0000;
  /* border-style:solid; */
}
.fa-stack{
height: 1.4em;
/* width: 1.4em; */
}
.fa-circle {
  color:white;
  opacity: 0;
}

.blink{
  /* width:200px;
  height: 50px; */
    /* background-color: magenta; */
  /* padding: 15px;	 */
  /* text-align: center; */
  /* line-height: 50px; */
}
.span1{
  font-size: 25px;
  font-family: cursive;
  color: white;
  animation: blink 1s linear infinite;
}
@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}
::ng-deep .c1{
  margin-top: 20px;
  width: 700px;
  height: auto;
 margin:auto;
}
.search-input {
  cursor: pointer;
  height: -2px;
}
.onSearch {
  /* margin-top: 16px; */
  /* width: 200px;
  height: 30px; */
  /* margin-left: 100px !important; */
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out; 
  position: relative;
  width: 80px;
  float: right;
  outline: none;
  /* border-bottom: 1px solid rgba(0, 0, 0, .2) */
}
.hideSearch {
  /* width: 0px;
  height: 30px; */
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  position: relative;
  width: 24px;
  border-bottom: none !important;
  float: right;
  appearance: none;
  outline: none;
}
.headerwrapper__searchbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 41px;
  width: 252px;
  HEIGHT: 33PX;
  
}
.headerwrapper__searchbox input {
  width: 95%;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-size: 1.6rem;
  color: #333333;
  font-size: 15px;
  padding-right: 1rem;
  padding-left: 13px;
  background: transparent;
}
.headerwrapper__searchbox img {
  height: 1.5rem;
}
.bg-light1{
  background-color: white;
 
}
.bg-line{
  /* padding-top: 5px; */
  border-bottom: 1px solid black;
}
::ng-deep .mat-form-field-underline {
  display: none;
}
.mobile{
  display: none;
}
@media only screen and (max-device-width: 480px) {
  .mobile {
    /* font-family: 'HelveticaNeue'; */
    display: block;
    /* text-align: center; */
    padding: 10px;
    
  }
}

/* #mat-badge-content-0{
width: 18px;
    height: 18px;
    font-size: 8px;
    padding: 0px;
    margin-top: 2px;
    margin-left: -6px;
} */
.mat-badge-medium .mat-badge-content{
line-height: 18px !important;
}
.mat-badge-content {
  font-size: 9px;
  width: 16px;
  height: 16px;
  top: 0px !important;
  background-color: #f93800 !important;
}/* .mobile1{
  display: inline-block;
} */
@media only screen and (max-device-width: 480px) {
  .mobile1 {
    
    display: none;
  }
}
  .navbar-light .navbar-nav .nav-linkStart {
    font-size: 14.3 !important;
    font-weight: 100px;
    letter-spacing: 1.5px;
    line-height: 45px;
    padding: 0 16px;
    /* font-family: 'HelveticaNeue' !important; */
    /* text-shadow: 0px .25px, .25px 0px, .25px .25px; */
    /* color: #595A5C !important; */
  }
  a{
    color: inherit;
  }
  .loginClass {
    margin-bottom: 0px;
    font-size: 13px;
    position: relative;
    right: 15px;
    color: black;
    top: 5px;
  }
  .hfour {
    position: relative;
    left: 18px;
    margin: 0px;
    top: 7px;
    font-size: 30px;
    color: black;
  }

  .searchMyProduct {
    border-right: 1px solid #cccccc;
    padding-top: 10px;
  }

  .containerShow {
    animation: NavTransition .6s ease-in-out;

    cursor: default;

    float: left;

 padding-left: 40px;
    width: 100%;
  }
  .dropdown-menu{
    margin: 0px;
  }

  .navbar-light .navbar-nav .nav-linkEnd {
    font-size: 14.3 !important;
    font-weight: 100px;
    letter-spacing: 1px;
    line-height: 50px;
    padding: 0 8px;
    color: #282C3F !important;
  }

  .headerDivWrapper {
    margin-bottom: 10px;
    position: sticky;
    top: 0;
    transition: all .5s ease-in-out;
    width: 100%;
    height: auto;
    z-index: 1024;
    border-bottom: 1px solid #d6d6d0;
    background-color: #fff;
  }

  .rightSideHeaderBar {
    float: right;
    padding-right: 50px;
  }

  .leftSideHeaderBar {
    float: left;
  }


  .headerLinks {
    color: rgba(0,0,0,.8);
    margin: 8px;
    font-size: 9.5px;
    text-decoration: none;
    text-transform: capitalize;
    /* font-family: 'HelveticaNeue'; */
  }

  .headerBarNav,
  .headerBar {
    display: inline-block;
    width: 100%;
  }

  .mainHeaderWrapper {
    background: #fff;
    height: 52px;
    line-height: 52px;
    position: relative;
    width: 100%;
  }

  .poinerClass {
    cursor: pointer

  }

  .navSpace {
    padding-top: 0;
    padding-bottom: 0;
    /* height: 48px; */
    line-height: 48px;
    width: 100%;
    /* border-bottom: 1px solid black; */
    
  }

  .imageNav {
    /* height: 20px; vertical-align: middle; margin-bottom: 5px; */
        /* margin:auto; */
        display: block;
    cursor: pointer;
   

  }

  /* 
  .navbarMenuContainer {
    margin: 0 0 0 4%;
  } */

  .headerBarNav {
    background: #eee;
    text-align: center;
  }

  .headerBar {
    font-size: 11px;
    font-weight: 500;
    margin: 0 auto;
    max-width: 85%;
    padding: 4px 0 6px;
  }

  .innerNavs {

    padding: 5px 0;
    padding-left: 0px !important;

  }

  .dropdown-item {
    padding: 5px 0;
  }

  .megamenu {
    position: static;
  }


  /* .subCategoryMenu {
    overflow: visible;
    max-width: 920px;
    max-height: none;
    margin: 0 auto;
    text-align: left;
    padding-left: 0px !important;
    white-space: normal;
  } */

  .categoryMenuMain {
    /* color: #494949; */
    font-size: 14px;
    margin-bottom: 0%;
    
    text-transform: capitalize;
  }


  .aVerticalSeparator {
    border-right: 1px solid #5f656d;
    /* Border on the left */
    width: 1px;
  }

  .megamenu .dropdown-menu {
    width: calc(100% + 32px);
    border: none;
    /* top: calc(100% - 5px); */
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0;
    /* -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1); */
    /* box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1); */
    /* padding-bottom: 0;
  border-style: none solid solid;
  border-width: 0px 1px 1px;
  border-image: none 100% / 1 / 0 stretch; */

  }

  .withSubNav {
    width: 58.33333333%;
  }

  .form-control {
    width: 25%;
    height: 10%;
    background: #070617 !important;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 0px;
  }

  .bg-warning {
    background: #070617 !important;
    border-bottom: rgb(204, 204, 204) solid 1px;
  }

  .btn-outline {
    width: 4%;
    height: auto;
  }

  /* .megamenu {
    width: calc(100% + 32px);
    left: -15px;
    border: none;
        border-top-color: currentcolor;
        border-top-style: none;
        border-top-width: medium;
    top: calc(100% - 2px);
    padding-bottom: 0;

} */
  .sale {
    color: red;
    cursor: pointer;
  }

  .sale:hover {
    color: rgb(7, 6, 6);
    cursor: pointer;
  }

  .menuView {
    height: auto;
    padding: 5px 0;
    /* font-family: FH; */
    line-height: 20px;
  }


  /* .justify-content-center {
    padding-left: 250px;
    margin-left: 280px;
    padding-top: 0px;
  } */

  ::placeholder {
    color: black;
    font-size: 14px;
  }


  .logo {
    /* font-family: 'Expert Sa'; */
    color: rgb(78, 147, 226) !important;
    text-transform: uppercase;
    font-size: 23px;
  }

  .fa-search {
    color: #000000;
  }

  .img-logo {
    width: 200px;
    height: 79px;
  }
  .img-logo1 {
    width: 205px;
    height: 82px;
    display: block;
    margin-top: 4px;
    padding-bottom: 5px;
  }

  .nav-icon{
    margin-top:4px;
    font-size: 15px;
  }


  .shopIng {
    height: 20px;
    width: 20px;
    margin-top: 0px;
    cursor: pointer;
  }

  .shopIngs {
    height: 20px;
    width: 20px;
    margin-top: 3px;
    cursor: pointer;
  }
  .shopNows {
    font-size: 13px;
    margin: 0px;
    position: relative;
    top: 0px;
    left: 0px;
  color: black;
    cursor: pointer;
  }
  .shopClass {
    position: relative;
    top: 1px;
    left: 29px;
    color: black;
  }
  .hfourN {
    font-size: 13px;
    position: relative;
    top: 18px;
    text-align: center;
    left: 21px;
    color: black;

  }
  img.center {
    display: block;
    margin: 0 auto;
}


  .iconNow {
    position: relative;
    left: 34px;
    margin: 0px;
    top: 16px;
    font-size: 30px;
    color: black;
  }
  .outlineNow {
    position: relative !important;
    right: 30px !important;
    top: -12px;
  }


  .ulCtrl {
    padding-left: 600px;
  }

  @media only screen and (max-width:990px) {
    .classOneZ {
      display: none;
    }
    .linkSearch {
      display: none;
    }

    .headerBarNav {
      display: none;
    }
    .shopIngs {
      height: 20px;
      width: 20px;
      /* margin-top: 5px; */
      cursor: pointer;
      display: block;
    }

    .ulCtrl {
      padding-left: 0px !important;
    }

    .topMenu {
      margin: 10px;
      padding: 5px;
    }
    .navSpace {
      padding-top: 0;
      padding-bottom: 0;
      /* height: 70px; */
      line-height: 0px !important;
      width: 100%;

    }
    .navbar-collapse {
      flex-basis: 0%;
      flex-grow: 0.7;
      align-items: center;
      background-color: #cccccc !important;
      margin-left: -16px;
      z-index: 5;
    }
/* ---------------------- slide  ----------------- */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:#F8F9FB;
  overflow-x: hidden;
  transition: 0.5s;
  /* padding-top: 30px; */
}

.sidenav a {
  /* padding: 8px 8px 8px 32px; */
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.styleChange {
  width: 250px;
  z-index: 2;
}

/* .collapse {
  display: none;
}
.navbarMenuContainer {
  display: none;
}
.navbar-collapse {
  display: none;
} */
/* ----------------------- slide  --------------------- */

  }

  .navbar-light .navbar-toggler {
    border: none;
    outline: none !important;
    color: red;
  }


  @media only screen and (min-width:990px) {
    .shopIngs {
      display: none;
    }

    .classOness {
      display: none;

    }
  }


  .ulCtrls {
    -webkit-font-smoothing: antialiased;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

  }

  .helloOne {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;

  }

  .megaLarge {
    position: static !important;
  }

  .nav-item>a {
    color: black;
  }

  .subCategoryMenu {
    /* color: #7f7f7f; */
    font-size: 12px;
    line-height: normal;
    text-decoration: none;
    white-space: initial;
    margin-bottom: 0% !important;
    padding-left: 0% !important;
    width: 100%;
  
    letter-spacing: 1px;

  }

  .navbar .dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    width: auto;
    height: auto;
    left: auto;
    z-index: 1;
    text-align: left;
  }

  /* 
  .navbar .dropdown-menu.show {
    background-color: #FFFFFF !important;
    opacity: 1;
    
  } */

  .card-header-custom h5 {
    color: #000000;
    font-weight: 700;
    font-size: 14px;
  }

  /* @media screen and (min-width: 900px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
      min-height: 427px;
    }

  } */


  @media screen and (max-width: 900px) {

    .navItemDisplay {
      display: none;
    }

    .megamenu {
      position: relative;
    }
  }

  .innerNavs {
    padding: 5px 0;
  }

  .textSize {
    font-size: 20;
   
    color: #7f7f7f;
  }
  .sizeTop {
    text-align: right;
    padding-right: 3%;
    font-size: 12;
   
  }
  .loginSize {
    font-size: 18;
   
    cursor: pointer;
  }

  .nav-footer{
    font-size: 13px !important;
    /* font-family: 'HelveticaNeue' !important; */
    padding: 15px 20px 30px 12px !important;
    font-weight: 100;
  }
  .nav-head{
    /* padding: 2px 20px; */
    text-shadow: 0px .25px, .25px 0px, .25px .25px;
    letter-spacing: 2px;
    font-size: 20px !important;
    color: #535355;
  }
  .nav-subhead{
    /* padding: 8px 8px 8px 32px !important; */
    padding-top: 10px; 
    /* padding-left: 22px; */
    font-size: 13px;
    margin: auto;
  }
  .hiddenClass {
    font-family: Arial !important;
  }


 .navMenu{
 color: #2d2d2d !important;
 font-family: 'Solway', serif;
  cursor: pointer;
 letter-spacing: 1px;
 font-size: 16px;
 text-transform: uppercase;
 font-weight: 500;
 }

 .navMenu:hover{
   color: #055a9e  !important;
 }

 .navMenus{
  color: black !important;
  font-family:'Roboto Condensed', sans-serif !important;
  cursor: pointer;
  }

  /* input[type = text] {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 10px;
    background-color: white;
    
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 0px 0px 0px 0px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: relative;
    float: right;
  }  */
  /* input[type=text]:focus {
    width: 200px;
    float: right;
  } */
  .onSearch {
    /* margin-top: 16px; */
    /* width: 200px;
    height: 30px; */
    /* margin-left: 100px !important; */
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out; 
    position: relative;
    width: 200px;
    float: right;
    /* border-bottom: 1px solid rgba(0, 0, 0, .2) */
  }
  .hideSearch {
    /* width: 0px;
    height: 30px; */
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    position: relative;
    width: 22px;
    border-bottom: none;
    float: right;
    appearance: none;
  }
  .mat-form-field-underline {
    border-bottom: 0px;
  }
  .linkSearch {
    margin-top: 10px;
    /* margin-left: 285px; */
    float: right;
  }
  .listArrange {
    /* font-family: 'HelveticaNeue' !important; */
    /* padding: 0.1rem 0.8rem !important; */
    font-size: 14px;
    padding: 15px;
  }
  .boxShape {
    box-shadow: 0px !important;
    border-radius: 0px !important;
    margin-top: -15px;
  }
  .boxAlign {
    top: 17px;
    position: relative;
  }
  