.myModal {
position: fixed;
top: 0px;
right: 0;
bottom: 0;
left: 0;
background: #fff;
z-index: 100;
overflow: hidden;
}

/* 
.imageZoomContainer {
  position: absolute;
  top: 10%;
  left: 0;
  bottom: 0px;
  right: 0px;
} */
.thumbImageContainer {
  position: fixed;
  top: 12%;
  left: 20px;
  width: 30px;
}
.thumbImageContainerButton {
  outline: 0px;
  margin-bottom: 5px;
  border: 0px;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0);
}
.thumbImage {
  border: 1px solid #D5D6D9;
  width: 40px;
  height: 40px;
}
.active {
  border: 1px solid red;
  width: 40px;
  height: 40px;
}
.imageZoomContainer {
  position: relative;
  padding: 70px;
  height: 100%;
}

.desktop-image-zoom-thumbnail {
  border: 1px solid #D5D6D9;
  width: 40px;
  height: 40px;
}



.zoomHeader {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #000;
  background: #fff;
}

.modelClose {
  text-transform: uppercase;
  position: fixed;
  top: 0;
  right: 0;
  height: 65px;
  font-size: 30px;
  padding: 0 22px;
  line-height: 65px;
  cursor: pointer;
}

.prevSlider{
padding: 10px 17px 8px 16px;
position: fixed;
top: 50%;
left: 10px;
cursor: pointer;
}

.nextSlider {
  padding: 10px 17px 8px 17px;
  position: fixed;
  top: 50%;
  right: 30px;
  cursor: pointer;
}
mat-icon { 
  font-size: 50px;
}
.zoomPop {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: auto;
  position: fixed;
  background: #fff;
  opacity: 1; }

.zoomWrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
 }
.displayBlock{
  display: block;
}
.displayNone{
  display: none;
}


  .zoomScaler img {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
}

button.zoomClose,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

.zoomClose {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  


.zoomScaler {
  width: 100%;
  height: 0;
  overflow: auto;
  padding-top: 56.25%;
 }
  .zoomScaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000;
   }

