<!-- <div class="myModal" tabindex="-1" [ngClass]="zoom?.displayClass">
  <div class="zoomHeader">
    <span class="modelClose" (click)="closeZoom()">&times;</span>
  </div>
  <div class="modalContent">
    <div class="imageZoomContainer"  *ngFor="let image of zoom.imageData" [ngClass]="image.display">
      <img class="img-fluid" [src]="productImageUrl + productModel._id + '/' + image.name">
    </div>
    <div class="thumbImageContainer">
      <button class="thumbImageContainerButton" (click)="clickCenter(zoom.imageData, i)"
      [ngClass]="{'active': slideIndex === i }"
       *ngFor="let image of zoom.imageData; let i = index">
          <img class="thumbImage" [src]="productImageUrl + productModel._id + '/' + image.name">
        </button>  
    </div>
  </div>
  <div>
    <a class="prevSlider" (click)="clickLeft(zoom.imageData, slideIndex)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <a class="nextSlider" (click)="clickRight(zoom.imageData, slideIndex)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
  </div>
</div> -->
<div [ngClass]="zoom?.displayClass" class="zoomPop">
    
</div>

<div [ngClass]="zoom?.displayClass" class="zoomPop" tabindex="-1"
  >
  <div class="zoomHeader">
      <span class="modelClose" (click)="closeZoom()">&times;</span>
    </div>

  <div  class="modalContent col-md-12 col-12">
    <div class="imageZoomContainer"  *ngFor="let image of zoom.imageData" [ngClass]="image.display">
      <img class="img-fluid" [src]="image.productImageName">
    </div>
    <div class="thumbImageContainer">
      <button class="thumbImageContainerButton" (click)="clickCenter(zoom.imageData, i)"
      [ngClass]="{'active': slideIndex === i }"
       *ngFor="let image of zoom.imageData; let i = index">
          <img class="thumbImage" [src]="image.productImageName">
        </button>  
    </div>
  </div>
  <div>
    <a class="prevSlider" (click)="clickLeft(zoom.imageData, slideIndex)">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </a>
    <a class="nextSlider" (click)="clickRight(zoom.imageData, slideIndex)">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </a>
  </div>
</div>


 <!-- <div class="backdrop" [ngStyle]="{'display': block}"></div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display': block}">

  <div class="modal-dialog" role="document">

    <div class="modal-content">

      <div class="modal-header">

        <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title">Model Title</h4>

      </div>

      <div class="modal-body">

        <p>Model body text</p>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Close</button>

      </div>

    </div>

  </div>

</div> -->
