



<div class="container pt-2" (window:resize)="getWindowSize()">
  <div class="row">
      <div class="col-md-3 col-sm-6 pt-3" *ngFor="let product of productModel">
          <div class="product-grid" [class.open]="product?.display" (click)="getProduct(product)">
              <div class="product-image" [ngClass]="{'opacityEnable': product.quantityCheck === 0}">
                  <a class="image">
                      <!-- <img [hidden]="!imageLoader" src="../../../../assets/images/Untitled-1 (1).gif" class="loader"/> -->
                      <img class="halfsize" [src]="product.productImage[0]?.productImageName"
                      title="{{product.productName}}" alt="{{product.productName}}" class="grumpy-image"
                      [hidden]="imageLoader" 
                     (load)="onLoad()">
                  </a>
                  <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                  <a class="add-to-cart" href="">add to cart</a>
              </div>
              <div class="product-content">
                  <h3 class="title"><a >{{product.productName}}</a></h3>
                  <!-- <p  class="text-center textShape">
                    <span class="fullPrice" *ngIf="product.discount !== 0">{{product.totalPrice }}</span>
                    <span style="color: red" > &nbsp; 
                    {{ product.price }} 
                  </span></p> -->
              </div>
          </div>
      </div>
</div>
</div>





<!-- 
<div class="row pt-3" (window:resize)="getWindowSize()">
  <div class="col-md-4 col-sm-4 col-6 pr-0" *ngFor="let product of productModel">
   <div class="productBox" [class.open]="product?.display" (click)="getProduct(product)"> 
      <div class="productImg" [ngClass]="{'opacityEnable': product.quantityCheck === 0}">
      
          <div class="grumpy-image-wrapper">
       
          <img class="halfsize" [src]="product.productImage[0]?.productImageName"
             title="{{product.productName}}" alt="{{product.productName}}" class="grumpy-image"
             [hidden]="imageLoader" 
            (load)="onLoad()"> 
        
          </div>
 
      <div class="productDetails">
        <h3 class="productName" style="font-size: 12px;">{{product.productName}}</h3>
        <div class="productPrice">
            <p  class="text-center textShape">
              <span class="fullPrice" *ngIf="product.discount !== 0">{{product.totalPrice | converter | localeCurrency}}</span>
              <span style="color: red" > &nbsp; 
              {{ product.price | converter | localeCurrency }} 
            </span></p> <p class="text-center" *ngIf="product.discount !== 0"> You Save: <span>{{product.savePrice | converter | localeCurrency}}</span></p>
        
        </div>
      </div>
    </div>
   </div>

     
  </div>

 
</div> -->

<div class="row">
  <div class="col-md-12 p-0">
    <h2><span></span></h2>

  </div>
  <div class="col-md-12" >
 
 
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination ">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="getPage(1)"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
          </a>
      </li>

      <li [ngClass]="{disabled:pager.currentPage === 1}">
          <a (click)="getPage(pager.currentPage - 1)"><i class="fa fa-angle-left" aria-hidden="true"></i>
          </a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page, 'selectedPage': pager.currentPage === page}">
          <a (click)="getPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="getPage(pager.currentPage + 1)"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <a (click)="getPage(pager.totalPages)"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
      </li>
  </ul>

  </div>
  
</div>
