::ng-deep .c1{
  margin-top: 20px;
  width: 700px;
  height: auto;
 margin:auto;
}
.top{
  margin-top: 60px;
}
.topMob{
  margin-top: 70px;
}
.filterMainClass{
  height: 90px;
  overflow: hidden;
  /* display: none; */
}
.filterMainClassMob{
  height: 40px;
  overflow: hidden;
  /* display: none; */
}

.filterValueRow{
  margin-left: 2px;
}
.ClearAll{
  border: 1px solid #d1d1d1;
background-color: #e7e7e7;
width:fit-content;
border-radius: 5px;
color: #b51817;
padding: 2px 5px;
float: right;
margin: 5px 0px 0px 4px;
}
.SelectedFilterValue{
border: 1px solid #d1d1d1;
background-color: #e7e7e7;
width:fit-content;
border-radius: 5px;
padding:2px 5px;
margin: 5px 0px 0px 4px;
}
.shape {
  left: 15px;
  position: relative;
  }
  .shapeMob{
    left: 0px !important;
    padding-left:13px;
    width: 100%;
  }
.rowh{
  border-bottom:0px solid #6D6E70; 
  margin-left: -30px !important; 
  margin-right:-30px !important;
  margin-top: 5px;
  margin-bottom: -40px;
}
.rowy{
  margin-top:-1px;
  margin-bottom: 2px;
  margin-left: -30px !important; 
  margin-right:-30px !important;
}
.sort{
  color: #808285;
  padding-left: 15px;
  list-style-type: none;
  font-family: 'Montserrat-Light' !important;
  font-size: 12px;
}
ul{
  list-style-type: none !important;
  padding-inline-start: 0px;
  margin-block-end: 0px;

}
.view{
  display: block;
}
.hide{
  display: none;
}
.gridContainer {
  background: #ebebeb;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.abtn {
  display: block;
  width: 80%;
  margin: 0 auto;
  line-height: 38px;
  letter-spacing: 0.025em;
  color: #000;
  border: 1px solid #000;
  text-align: center;
  background: transparent;
}


.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}

.sidebar-item {
	position: static;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;	
}


.sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 79px;
}
@media screen and (min-width: 992px){
  
}
.prodCol {
  width: 95%;
}
.rightCol {
  width: 5%;
}
.rowCol {
  width: 100%;
}
.mainCol {
  width: 100%;
}
.left-Col {
  width: 30%;
}
.right-Col {
  width: 70%;
}
.col-6{
  text-align: center;
}
.modal-dialog{
  margin-top: 38px;
}
.modal-header{
  padding: 10px;
}
.modal-footer{
  padding: 10px;
}
.modal-body{
  padding: 0px;
}