<div class="container" *ngIf="showMobileView1">
  <hr class="rowy">
  <div class="row topMob">
    <div class="col-6">
      <div class="dropdown show">
        <button type="button" class="btn"  (click)="openModal()">
          Filter
        </button>
        <!-- <div class="dropdown-menu" [ngClass]="{'show':showMobileView}"> -->
          <!-- <app-side-bar [filter]="filter"
           [cat]="cat" 
            [productOption]="productOptionModel"
            [subCategoryData]="mainCategory" 
            [brandModel]="brandModel"
            (allFilterData)="filterMultiAll($event)"
            [color]="color" [superCategory]="superCategory" [mainCategory]="singleSuperCategory?.mainCategory"
            (close)="toggleDropdown()">
          </app-side-bar> -->

          <!-- open a modal window by clicking button  basic bootstrap-->


<!-- <button type="button" class="btn btn-info btn-lg" (click)="openModal()">click to open</button> -->
<div class="backdrop" [ngStyle]="{'display':display}"></div>

<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">

 <div class="modal-dialog" role="document">

   <div class="modal-content">

     <div class="modal-header">

       <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span aria-hidden="true">&times;</span></button>

<!--        <h4 class="modal-title">Model Title</h4> -->

     </div>

     <div class="modal-body">
  <app-filter-options 
  (filterOptionData)="filterOptionsDataEvent($event)"
  (fieldAttributePush)="fieldAttributePush($event)"
  [commonFilter]="commonResult"
  [isDispatch]="isDispatch"
  [filterOptionsModel]="filterOptions" 
 
 ></app-filter-options>
          <app-attribute-filter 
    (attributeFilterData)="filterAttributeMultiAll($event)"
     [fieldAttributePush]="fieldAttributePush"

     [attributeModel]="attributeModel"
                      
   ></app-attribute-filter>

     </div>

     <div class="modal-footer">

       <button type="button" class="btn btn-default" (click)="onCloseHandled()" >Apply</button>

     </div>

   </div><!-- /.modal-content -->

 </div><!-- /.modal-dialog -->

</div><!-- /.modal !-->

          
         
        <!-- </div> -->
      </div>
    </div>
    

    <div class="col-6">
      <div class="dropdown show">
        <a class="btn" data-toggle="dropdown" (click)="toggleDropdown1()">
          Sort</a>
        <div class="dropdown-menu" [ngClass]="{'show':showMobileView2}">
          <ul>
            <li class="sort"><a href="#" style="color: #808285;">New</a></li>
            <hr>
            <li class="sort"><a href="#" style="color: #808285;">Price Low to High</a></li>
            <hr>
            <li class="sort"><a href="#" style="color: #808285;">Price High to Low</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <hr class="rowh">
   <div  class="filterMainClassMob" style="margin-top: 40px;" *ngIf="displayAttribute.length !==0 ">      
        <!-- <div  class="filterMainClass" >       -->
        <div class=" text-right" >
            <div *ngFor="let data of displayAttribute">
              <div  *ngIf="data" class="ClearAll" >
              ClearAll
                  <i class="fa fa-times-circle" (click)="remove()"></i>

              </div>
            </div>
          </div>
         <div class="row filterValueRow" >
            <div *ngFor="let data of displayAttribute[0]?.fabric">
              <div  *ngIf="data" class="SelectedFilterValue" >
                  {{data}} 
                  <i class="fa fa-times-circle "  (click)="removeFabric(data)">
                    
                  </i>

              </div>
            </div>
          </div>
          
          <div class="row filterValueRow">
            <div *ngFor="let data of displayAttribute[0]?.workType" >
                <div  *ngIf="data" class="SelectedFilterValue">
                    {{data}} 
                    <i class="fa fa-times-circle" (click)="removeWorkType(data)"></i>
                </div>
              </div>
         </div>   

         <div class="row filterValueRow">
              <div *ngFor="let data of displayAttribute[0]?.occasion" >
                  <div  *ngIf="data"class="SelectedFilterValue">
                      {{data}} 
                      <i class="fa fa-times-circle" (click)="removeOccasion(data)"></i>
                  </div>
                </div>
          </div> 

          <div class="row filterValueRow">
          <div *ngFor="let data of displayAttribute[0]?.Color" >
                    <div  *ngIf="data" class="SelectedFilterValue">
                        {{data}} 
                        <i class="fa fa-times-circle" (click)="removeColor(data)"></i>
                    </div>
             </div>
            </div>

            <div class="row filterValueRow">    
             <div *ngFor="let data of displayAttribute" >
                <div  *ngIf="data?.maxPrice" class="SelectedFilterValue">
                    {{data?.minPrice  | converter | localeCurrency}}- {{data?.maxPrice  | converter | localeCurrency}} 
                    <i class="fa fa-times-circle" (click)="removeMaxPrice(data.maxPrice)"></i>
                </div>
              </div>  
            </div>

            <div class="row filterValueRow">        
              <div *ngFor="let data of displayAttribute" >
                  <div  *ngIf="data?.discount" class="SelectedFilterValue">
                      {{data?.discount}}% or More
                      <i class="fa fa-times-circle" (click)="removeDiscount(data.discount)"></i>
                  </div>
              </div>
          </div>

          <div class="row filterValueRow">  
           <div *ngFor="let data of displayAttribute" >
              <div  *ngIf="data?.dispatch" class="SelectedFilterValue">
              Within {{data?.dispatch}} days
                  <i class="fa fa-times-circle" (click)="removeDispatch(dispatch)"></i>
              </div>
             </div>
         </div>
  </div>
  
</div>


<div class="container-fluid">
  <!-- <div class="row"> -->
  <div class="col-md-12 p-0 top">
    <!-- <div [ngClass]="'view' : showMobileView , 'hide': !showMobileView"> -->
      
        <!-- <app-breadcrumb [superCatName]="breadCrumbDetails"></app-breadcrumb> -->
    <!-- <app-product-category [cat]="cat" [commonCategory]="commonCategory" [tagData]="tagData"
    [brandModel]="brandModel" [promotionData]="promotionData" [recentProduct]="recentProduct">
    </app-product-category> -->
  </div>
  <!-- <div class="col-md-1 p-0"></div> -->
  <div class="row" [ngClass]="{'shapeMob':showMobileView1, 'shape':!showMobileView1}">
    <div class="col-md-2" (window:resize)="getWindowSize()">
      <!-- <div class="mainCol">
      <div class="left-Col"></div>
      <div class="right-Col">-->
      <div class="sticky" *ngIf="showMobileView1===false">
          <!-- <mat-form-field class="example-chip-list" *ngFor="let data of displayAttribute">
              <mat-chip-list #chipList aria-label="Fruit selection" *ngIf="data?.fabric" >
                <mat-chip  [selectable]="selectable" 
                         [removable]="removable" (removed)="remove(fruit)">
                       
                     {{data?.fabric}} 
                       
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
               
              </mat-chip-list>
            </mat-form-field> -->
            <!-- {{displayAttribute | json}} -->
            <!-- <div class="row filterValueRow">  
              <div *ngFor="let data of displayAttribute " >
                 <div  *ngIf="data?.displayAttribute" class="SelectedFilterValue">
                   {{data.fieldName}} :
                   {{data.fieldValue}}
                     <i class="fa fa-times-circle" (click)="removeDispatch(dispatch)"></i>
                 </div>
                </div>
            </div> -->
    <div  class="filterMainClass" *ngIf="displayAttribute.length !==0 ">      
        <!-- <div  class="filterMainClass" >       -->
        <div class=" text-right" >
            <div *ngFor="let data of displayAttribute">
              <div  *ngIf="data" class="ClearAll" >
              ClearAll
                  <i class="fa fa-times-circle" (click)="remove()"></i>

              </div>
            </div>
          </div>
         <div class="row filterValueRow" >
            <div *ngFor="let data of displayAttribute[0]?.fabric">
              <div  *ngIf="data" class="SelectedFilterValue" >
                  {{data}} 
                  <i class="fa fa-times-circle "  (click)="removeFabric(data)">
                    
                  </i>

              </div>
            </div>
          </div>
          
          <div class="row filterValueRow">
            <div *ngFor="let data of displayAttribute[0]?.workType" >
                <div  *ngIf="data" class="SelectedFilterValue">
                    {{data}} 
                    <i class="fa fa-times-circle" (click)="removeWorkType(data)"></i>
                </div>
              </div>
         </div>   

         <div class="row filterValueRow">
              <div *ngFor="let data of displayAttribute[0]?.occasion" >
                  <div  *ngIf="data"class="SelectedFilterValue">
                      {{data}} 
                      <i class="fa fa-times-circle" (click)="removeOccasion(data)"></i>
                  </div>
                </div>
          </div> 

          <div class="row filterValueRow">
          <div *ngFor="let data of displayAttribute[0]?.Color" >
                    <div  *ngIf="data" class="SelectedFilterValue">
                        {{data}} 
                        <i class="fa fa-times-circle" (click)="removeColor(data)"></i>
                    </div>
             </div>
            </div>

            <div class="row filterValueRow">    
             <div *ngFor="let data of displayAttribute" >
                <div  *ngIf="data?.maxPrice" class="SelectedFilterValue">
                    {{data?.minPrice  | converter | localeCurrency}}- {{data?.maxPrice  | converter | localeCurrency}} 
                    <i class="fa fa-times-circle" (click)="removeMaxPrice(data.maxPrice)"></i>
                </div>
              </div>  
            </div>

            <div class="row filterValueRow">        
              <div *ngFor="let data of displayAttribute" >
                  <div  *ngIf="data?.discount" class="SelectedFilterValue">
                      {{data?.discount}}% or More
                      <i class="fa fa-times-circle" (click)="removeDiscount(data.discount)"></i>
                  </div>
              </div>
          </div>

          <div class="row filterValueRow">  
           <div *ngFor="let data of displayAttribute" >
              <div  *ngIf="data?.dispatch" class="SelectedFilterValue">
              Within {{data?.dispatch}} days
                  <i class="fa fa-times-circle" (click)="removeDispatch(dispatch)"></i>
              </div>
             </div>
         </div>
  </div>    
    <!--     <app-side-bar [filter]="filter" [cat]="cat" [productOption]="productOptionModel"
          [attributeModel]="attributeModel"
          [subCategoryData]="mainCategory" [brandModel]="brandModel"
           (allFilterData)="filterMultiAll($event)"
          [color]="color" [superCategory]="superCategory" 
          [mainCategory]="singleSuperCategory?.mainCategory"
          *ngIf="!showMobileView1">
        </app-side-bar> -->
   
         
          <app-filter-options 
          (filterOptionData)="filterOptionsDataEvent($event)"
          (fieldAttributePush)="fieldAttributePush($event)"
          [commonFilter]="commonResult"
          [isDispatch]="isDispatch"
          [filterOptionsModel]="filterOptions" 
          (close)="toggleDropdown()"
         ></app-filter-options>
        <app-attribute-filter 
         (attributeFilterData)="filterAttributeMultiAll($event)"
        (selectedAttribute)="selectedValues($event)"
          [fieldAttributePush]="fieldAttributePush"
                            [attributeModel]="attributeModel"
        ></app-attribute-filter>
      </div>
      <!-- </div> -->
      <!-- </div>
    </div> -->
    </div>
    <div class="col-md-10 p-0">
      <!-- <div class="rowCol">
    <div class="prodCol"> -->
      <router-outlet></router-outlet>
      <!-- </div>
    <div class="rightCol">

    </div>
  </div> -->
    </div>
    <!-- <div class="col-md-1 p-0">
    
  </div> -->
  </div>

  <!-- <div class="row">
  <div class="col-md-12 gridContainer">
    <div class="row">
      <div class="col-md-4 col-8">
        <div class="form-group mt-3">
          <a class="abtn"> Sign up for the latest updates</a>
        </div>
      </div>
      <div class="col-md-4 col-2">

      </div>
      <div class="col-md-4 col-2">
        <div class="form-group float-right mt-3">
          STORES
        </div>
      </div>
    </div>
  </div>
</div> -->


</div>