<div class="row">
  <div class="col-md-12">
    <div class="col-md-3">

    </div>
<div class="col-md-8 pt-5 productDetails">

  <div class="row pt-3" (window:resize)="getWindowSize()">
  
    <div class="col-md-4 col-sm-4 col-6 pr-0" *ngFor="let product of productModel">
     <div class="productBox" [class.open]="product?.display" (click)="getProduct(product)"> 
        <div class="productImg" [ngClass]="{'opacityEnable': product.quantityCheck === 0}">
         
            <div class="grumpy-image-wrapper">
            <img [hidden]="!imageLoader" src="../../../../assets/images/Untitled-1 (1).gif" class="loader"/>
         
            <img class="halfsize" [src]="product.productImage[0]?.productImageName"
               title="{{product.productName}}" alt="{{product.productName}}" class="grumpy-image"
               [hidden]="imageLoader" 
              (load)="onLoad()"> 
              <img src="../../../../assets/images/ucchal leaf 2.png"  class="imgleaf">
                <p class="discountcount" [ngClass]="{'discountcountMob':showMobileView===true}">{{product.discount}}%</p>
                <p class="discountcountoff" [ngClass]="{'discountcountoffMob':showMobileView===true}">  OFF</p>
            </div>
           
          
        <div class="productDetails">
          <h3 class="productName" style="font-size: 12px;">{{product.productName}}</h3>
          <div class="productPrice">
              <p  class="text-center textShape">
                <span class="fullPrice" *ngIf="product.discount !== 0">{{product.totalPrice | converter | localeCurrency}}</span>
                <span style="color: red" > &nbsp; 
                {{ product.price | converter | localeCurrency }} 
              </span></p> <p class="text-center" *ngIf="product.discount !== 0"> You Save: <span>{{product.savePrice | converter | localeCurrency}}</span></p>
        
          </div>
        </div>
      </div>
     </div>
  
       
    </div>
  
   
  </div>
  
  <div class="row">
    <div class="col-md-12 p-0">
      <h2><span></span></h2>
  
    </div>
    <div class="col-md-12" >
  
   
    <ul class="pagination" >
         <li ><i class="fa fa-backward"></i></li>
        <li >Prev</li>
        <li *ngFor="let item of noOfPages" (click)="getPage(item)">{{item}}</li>
        <li >Next</li>
        <li ><i class="fa fa-forward"></i></li>
      </ul>
      
   
    </div>
    
  </div>






</div>




  </div>
</div>

