<div class="container pt-5">
  <div class="row" *ngFor="let main of holder?.mainCategory">
    <div class="col-md-12">
      <label>{{main.mainCategoryName}}</label>
      <div class="row">

        
        <div class="col-md-4" *ngFor="let sub of main?.subCategory">
          <div class="productBox" routerLink="/product/supercategory/{{holder?._id}}/maincategory/{{main._id}}/subcategory/{{sub._id}}">
              <div class="productImg">
                  <div class="grumpy-image-wrapper">
          <img [src]="imageUrl + sub._id + '/' + sub.subCategoryImageName"
          class="grumpy-image" class="halfsize">
          <div class="productDetails">
              <h3 class="productName" style="font-size: 12px;">{{sub.subCategoryName}}</h3>
          </div>
          </div>
          </div>
        </div>
        </div>


      </div>
    </div>
  </div>
</div>