<!-- <div class="container gridSpace space row" *ngFor="let prod of productValue">
  <h5 class="mensColect" style="font-family: Montserrat-RegularCn">{{prod.title}}</h5>
  <p class="mensCrip tex-alin" style="font-family: Montserrat-RegularCn">VIEW ALL</p>

        
          <app-carousel-item>
            
    <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6"
     *ngFor="let img of prod.productDetails" >
        
        <div (click)="getView(img.productId)" >
      <div class="spaceCtrl">
        <div class="box">
          <img [src]="productImageUrl + img.productId + '/' + img.productImageName" class="imgProduct">
          <ul class="icon">
            <li>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
            </li>
          </ul>
          <ul class="icont">
              <li>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              </li>
            </ul>
          
          
          <p class="proName" style="font-family: Montserrat-RegularCn">{{img.productName}}</p>
          <p class="priZe" style="font-family: Montserrat-RegularCn"> <span style="text-decoration: line-through;font-family: Montserrat-RegularCn" >{{img.unPriz}}</span> ₹
            {{img.price}}</p>
        </div>
      </div>
</div>


      <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
   
      </h6>
    </div>

</app-carousel-item>

</div>
 -->

<!-- <div class="container gridainr" [ngClass]="{'gridainrMob':showMobileView}" (window:resize)="getWindowSize()" *ngFor="let prod of productValue">
  <p class="mensColect">{{prod.title}}</p>
  <p class="mensCrip tex-alin"(click)="getViewAll()">{{prod.description}}</p> -->
  <!-- <div class="row pt-3"> -->
    <!-- <app-carousel-item> -->
      <!-- appCarouselItem -->
      <!-- <div appCarouselItem class="col-md-3 col-6 pr-2 pl-2" *ngFor="let img of prod.productDetails"
       >
          <div class="productBox"  appHover>
            <div class="productImg"> -->

              <!-- <div style="width: 100%; padding-top: 120%; background: rgb(247, 246, 249);
               cursor: pointer;"> -->
               <!-- <div class="grumpy-image-wrapper">
                <img class="grumpy-image" [src]="img?.productImageName"
                (click)="getView(img.productId)">
              </div>
              <div *ngFor="let prodVal of productStore">
                <div class="productTesting" *ngIf="prodVal._id === img.productId" [class.displayNone]="img.display !== true" 
          [class.displayBlock]="img.display === true">
            <div (click)="closeToBag(img.productId)" class="sizeHeader  pull-right">
              <mat-icon>clear</mat-icon>
            </div>
            <div class="sizeTesting">
              <button class="oneSize" [disabled]="size.sizeQuantity === 0" (click)="skuProductAddToCart(prodVal, size)" *ngFor="let size of prodVal.child">
                <span >{{size.sizeVariant}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="productActionLeft" (click)="checkLoginUser(img)" [ngClass]="{'changeMatIconColor': img.wishList, 'wishProductMob':showMobileView===true}" 
        [style.display]="'none'" >
         <span class="wishProduct " [ngClass]="{'wishProductMob':showMobileView===true}"><span
             class="alignedRelative">Wishlist</span></span>
       </div>
       <div class="productActionRight"  
        [style.display]="'none'" (click)="addToBag(img.productId)" [ngClass]="{'wishProductMob':showMobileView===true}">
         <span class="addtoProduct"  [ngClass]="{'wishProductMob':showMobileView===true}"><span class="alignedRelative" >Add To Bag</span></span>
       </div>
            </div>
            <div class="productDetails">
              <h3 class="productName">{{img.productName}}</h3>
              <div class="productPriceBox">
                <h6 class="productPrice">{{img.price  | converter | localeCurrency }}
                </h6>
              </div>
            </div>
          </div>
        </div>
    </app-carousel-item> -->
<!--   </div> -->
  <!-- </div> -->

  <!-- <div class="header-text">
     
    <h2> <hr>TOP PICKS <hr></h2>
   
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-6 ">
        <img src="../../../assets/images/category/dress1 (1).png" class="img-fluid">
      </div>
      <div class="col-md-3 col-6 ">
          <img src="../../../assets/images/category/dress1 (2).png" class="img-fluid">
      </div>
      <div class="col-md-3 col-6 ">
          <img src="../../../assets/images/category/dress1 (3).png" class="img-fluid">
      </div>
      <div class="col-md-3 col-6 ">
          <img src="../../../assets/images/category/dress1 (4).png" class="img-fluid">
      </div>
  
    </div>
  </div> -->


<!-- 
  <div class="text-left header-text">
      <h3> TOP PICKS  </h3>
      

    </div>
  
    <app-carousel-item>
    <div appCarouselItem class="container-fluid gridRows">
  
      <div class="row mainclass">
        <div   class="col-md-3 col-4 gridNow text-center">
          <div class="image-box">
          <img src="../../../assets/images/category/dress1 (1).png" class="img-fluid "></div>
          <div class="productDetails">
            <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
            <div class="productPriceBox">
                <h6 class="productPrice">
                    <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                    <span><i class="fa fa-inr"></i> 4500  |</span>  
                    <span class="yousavetext" > 20% OFF</span> 
                </h6>       
              
            </div>
          </div>
        </div>
        <div class="col-md-3 col-4 gridNow text-center">
            <div class="image-box">
            <img src="../../../assets/images/category/dress1 (2).png" class="img-fluid "></div>
            <div class="productDetails">
              <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
              <div class="productPriceBox">
                  <h6 class="productPrice">
                      <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                      <span><i class="fa fa-inr"></i> 4500  |</span>  
                      <span class="yousavetext" > 20% OFF</span> 
                  </h6>        
              </div>
            </div>
        </div>
        <div class="col-md-3 col-4 gridNow text-center">
            <div class="image-box">
            <img src="../../../assets/images/category/dress1 (3).png" class="img-fluid "></div>
            <div class="productDetails">
              <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
              <div class="productPriceBox">
                  <h6 class="productPrice">
                      <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                      <span><i class="fa fa-inr"></i> 4500  |</span>  
                      <span class="yousavetext" > 20% OFF</span> 
                  </h6>        
              </div>
            </div>
        </div>
        <div class="col-md-3 col-4 gridNow text-center">
            <div class="image-box">
            <img src="../../../assets/images/category/dress1 (4).png" class="img-fluid "></div>
            <div class="productDetails">
              <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
              <div class="productPriceBox">
                  <h6 class="productPrice">
                      <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                      <span><i class="fa fa-inr"></i> 4500  |</span>  
                      <span class="yousavetext" > 20% OFF</span> 
                  </h6>        
           
              </div>
            </div>
        </div>
     
    
      </div>
    </div>
  </app-carousel-item> -->
  
  <div class="text-left header-text">
      <h3> TOP PICKS  </h3>
    </div>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/products1.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <!-- <a class="product-quick-view" href="#"><i class="far fa-eye"></i></a> -->
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Printed Fabric</a></h3>
                      <!-- <div class="price">$28.50</div> -->
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/products2.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <!-- <a class="product-quick-view" href="#"><i class="far fa-eye"></i></a> -->
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Satin Fabric</a></h3>
                      <!-- <div class="price">$21.50</div> -->
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/products3.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <!-- <a class="product-quick-view" href="#"><i class="far fa-eye"></i></a> -->
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Printed Fabric</a></h3>
                      <!-- <div class="price">$21.50</div> -->
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/products5.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <!-- <a class="product-quick-view" href="#"><i class="far fa-eye"></i></a> -->
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Cotton Fabric</a></h3>
                      <!-- <div class="price">$21.50</div> -->
                  </div>
              </div>
          </div>
      </div>
  </div>
