

  .colorBox {
    margin-top: 10px;
}
.colorVariantBlock {
    /* -ms-transform: rotate(140deg); */
    /* border-radius: 50px; */
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    /* transform: rotate(140deg); */
    width: 50px;
}
.colorbttn {
    border: 1px solid #ebebeb;
    float: left;
    margin: 0 15px 15px 0;
}

.backgroundColorImage {
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  /* transform: rotate(140deg); */
  width: 50px;
  border: 1px solid #ff4081;
}