<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
  </nav>
  
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Library</a></li>
      <li class="breadcrumb-item active" aria-current="page">Data</li>
    </ol>
  </nav> -->


  <p *ngIf="!showMobileView1">
    <a [routerLink]="['/home/welcome']">HOME <i class="fa fa-caret-right"></i> </a>
    <a (click)="supCatLink()" *ngIf="superCatName.length > 0">  {{ superCatName | uppercase }} </a>
    <!-- <a *ngIf="subCatName == null"> <i class="fa fa-caret-right"></i>  {{mainCatName}} </a> -->
    <a *ngIf="subCatName == null"> <i class="fa fa-caret-right"></i> {{productName | uppercase}}</a>
  </p>