<div class="row" (appSwipe)="swiper()">
  
    <a href="{{bannerModel?.link}}">
        <div class="col-md-12 col-lg-12 col-xl-12 col-12 gridCtrl" [ngClass]="{'gridCtrlMob':showMobileView}">

            <!-- <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" data-interval="2000">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleCaptions" data-slide-to="0" class=""></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselExampleCaptions" data-slide-to="2" class=""></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <img class="d-block w-100" alt="First slide [800x400]" src="../../../assets/images/1.jpg" data-holder-rendered="true">
                   
                    </div>
                    <div class="carousel-item active">
                      <img class="d-block w-100" alt="Second slide [800x400]" src="../../../assets/images/2 (1).jpg" data-holder-rendered="true">
                    
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" alt="Third slide [800x400]" src="../../../assets/images/Banner3.jpg" data-holder-rendered="true">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div> -->
    
            <!-- <img src="../../../assets/images/Banner.jpg"  class="imgages"> -->
            <!-- <div class="slider imgages" style="overflow: hidden;">
                <div  [@slideAnimation]="currentIndex">
                    <ng-template ngFor [ngForOf]="bannerModel" let-slide let-i="index">
                      <img class=" slide slide-animation nonDraggableImage img-fluid "
                           *ngIf="isCurrentSlideIndex(i)"
                           [src]="slide.bannerImageName">
                    </ng-template>
                  </div>
  
            <h1 class="fashIons" style="font-family: BebasKai">
              {{bannerModel?.bannerTitle}}
            </h1>
            <h5 class="arriVals" style="font-family: HelveticaNeuelLTStd-Roman">
              {{bannerModel?.bannerSubTitle}}
            </h5>
            <p class="banDesc" style="font-family: Montserrat-RegularCn">
              {{bannerModel?.bannerDescription}}
            </p>
            <div class="buttonPosition" *ngIf="bannerModel?.buttonContent" style="font-family: Montserrat-RegularCn">
              <button class="btnn btn-primary">{{bannerModel?.buttonContent}}</button>
            </div>
          </div> -->


          <img src="../../../assets/images/category/slidebanner.webp">
        </div>
    </a>
</div>


