<!-- <h1 class="ourCetego gridSpac">BROWSE OUR CATEGORIES</h1>
<div class="container gridSpace" *ngFor="let data of categoryModel;">
  
    
    <div class="row" *ngFor="let val of data.mainCategory;let i = index">
        <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6" 
        *ngFor="let image of val.subCategory">
          <a (click)="detailView(data._id)" routerLink="/product/supercategory/{{data._id}}/maincategory/{{val._id}}/subcategory/{{image._id}}">
            <div class="box">
              <a (click)='getimage(image._id)'>
           <img [src]='productImageUrl + image._id + "/" + image.subCategoryImageName' class="img-fluid hvr-float-shadow">
          </a>
            </div>
           
          </a>
        </div>
    </div>
  </div> -->

<!-- <div class="container-fluid gridSpace space-fram">
  <div class="row">
    <div class="col-md-6 space-fram">
      <img src='../../../assets//images/4.jpg' style="height: 700px" class="img-fluid">
      <h2 class="fashIons2" style="font-family: Montserrat-RegularCn">
        New Arrivals
      </h2>
    </div>
    <div class="col-md-6 space-fram fram">
      <div class="row">
        <div class="col-md-6 space-fram fram ">
          <a routerLink="/product/supercategory/{{firstFrame?._id}}">
            <img [src]='productImageUrl + firstFrame?._id + "/" + firstFrame?.categoryImageName' style="height: 350px"
              class="img-fluid">
            <h2 class="fashIons" style="font-family: Montserrat-RegularCn">
              {{firstFrame?.categoryName}}
            </h2>
          </a>
        </div>
        <div class="col-md-6 space-fram fram ">
          <a routerLink="/product/supercategory/{{secondFrame?._id}}">
            <img [src]='productImageUrl + secondFrame?._id + "/" + secondFrame?.categoryImageName' style="height: 350px"
              class="img-fluid">
            <h2 class="fashIons" style="font-family: Montserrat-RegularCn">
              {{secondFrame?.categoryName}}
            </h2>
          </a>
        </div>
        <div class="col-md-12 space-fram fram ">
          <a routerLink="/product/supercategory/{{thirdFrame?._id}}">
            <img src='../../../assets/images/7.jpg' style="height: 350px" class="img-fluid">
            <div class="buttonVal text-center">
              <div class="fashIons1 " style="font-family: Montserrat-RegularCn">
                Our Story
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div> -->
<!--Static images-->
<!-- <div class="container-fluid space-fram" (window:resize)="getWindowSize()" *ngIf="!showMobileView">
  <div class="row">
    <div class="col-md-4 space-fram">
        <div class="row">
            <div class="col-md-12 space-fram">
            <img src='../../../assets/images/category/4.jpg' style=" padding:15px; padding-left: 40px;" class="img-fluid">
            </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <img src='../../../assets/images/category/5.jpg' style="padding:15px;padding-left: 30px;" class="img-fluid">
                </div>
                </div> -->
      <!-- <h2 class="fashIons2" style="font-family: Montserrat-RegularCn">
        New Arrivals
      </h2> -->
    <!-- </div>
    <div class="col-md-4 space-fram fram">
      <div class="row">
        <div class="col-md-12 space-fram fram ">
          
            <img src='../../../assets/images/AA.jpg' height="500px" style="padding:15px; "
              class="img-fluid"> -->
           <!--  <h2 class="fashIons" style="font-family: Montserrat-RegularCn">
              Men's Arrivals
            </h2> -->
        <!-- </div></div> -->
        <!-- <div class="row">
            <div class="col-md-12 space-fram fram ">
              
                <img src='../../../assets/images/category/6.jpg' style="padding:15px; "
                  class="img-fluid">
                  </div>
                  </div> -->
      
      <!-- </div> -->
        <!-- <div class="col-md-6 space-fram fram ">
            <img src='../../../assets/images/category/5.jpg' style="height: 350px;padding:15px;padding-right: 30px;"
              class="img-fluid">
            <h2 class="fashIons" style="font-family: Montserrat-RegularCn">
          
            </h2>
        </div> -->
        <!-- <div class="col-md-4 space-fram fram">
            <div class="row">
              <div class="col-md-12">
            <img src='../../../assets/images/category/4.jpg' style="padding:15px;padding-left: 30px;" class="img-fluid">
            </div>
            
        </div>
        <div class="row">
            <div class="col-md-12 space-fram">
                <img src='../../../assets/images/category/3.jpg' style=" padding:15px; padding-left: 40px;" class="img-fluid">
                </div>
            
    </div>
    </div>
    </div> -->
  
    <div class="col-md-12">
        <div class="text-left header-text">
            <h3> OUR CATEGORIES </h3>
          </div>
    <div class="container-fluid ">
        <div class="row" >
            <div class="col-md-12">
                <img src="../../../assets/images/category/Suiting Fabric.jpg" class="imageOne">
                <div class="category-name1 text-center ">
                    <h2 class="cattext">SHIRTING FABRIC</h2>
            </div>
          <div class="col-md-12">
              <img src="../../../assets/images/category/Plain Fabric.jpg" class="imageOne">
              <span class="category-name2 text-center ">
                  <h2 class="cattext">SUITING FABRIC</h2>
              </span>
          </div>
    

        </div>
    </div>
  </div>
    <!-- <div class="container space-fram" (window:resize)="getWindowSize()" >
      <div class="row" >
        <div class="col-md-4 col-12 space-fram">
          <div class="row"  *ngFor="let p of ProductHolder">
            
            <div class="col-md-12 col-12 " *ngIf="p.imagePosition === 1">
              <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imageOne">
              </a>
            </div>
          </div>
          <div class="row" *ngFor="let p of ProductHolder">
            <div class="col-md-12 col-12 " *ngIf="p.imagePosition === 3">
                <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imageOne"> </a>
            </div>
          </div>
          <div class="row" *ngFor="let p of ProductHolder">
            <div class="col-md-12 col-12" *ngIf="p.imagePosition === 6">
                <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imageOne">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 space-fram">
          <div class="row" *ngFor="let p of ProductHolder">
            <div class="col-md-12 col-12 "  *ngIf="p.imagePosition === 2">
                <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imageOne img-responsive" [ngClass]="{'img-responsiveMob':showMobileView === true}">
            </a>
            </div>
          </div>
          <div class="row" *ngFor="let p of ProductHolder">
            <div class="col-md-12 col-12 "  *ngIf="p.imagePosition === 7">
                <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imageTwo">
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-12 space-fram ">
          <div class="row" *ngFor="let p of ProductHolder">
            <div class="col-md-12 col-12"  *ngIf="p.imagePosition === 4">
                <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imgFour">
              </a>
            </div>
          </div>
          <div class="row" *ngFor="let p of ProductHolder">
            <div class="col-md-12 col-12 " *ngIf="p.imagePosition === 5">
                <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imgFour">
              </a>
            </div>
          </div>
          <div class="row" *ngFor="let p of ProductHolder">
            <div class="col-md-12 col-12 " *ngIf="p.imagePosition === 8">
                <a href={{p.link}}>
              <img [src]='productImageUrl + p._id + "/" + p.imageName' class="imgFour">
              </a>
            </div>
          </div>
        </div>
      </div>
      
    

    </div> -->
    
   

<!-- <div class="container-fluid gridSpace space-fram sfram" (window:resize)="getWindowSize()" *ngIf="showMobileView">
  <div class="row">
    <div class="col-md-6 col-6 space-fram sfram">
      <img src='../../../assets/images/category/3.jpg' class="img-fluid"> -->
      <!-- <h2 class="fashIonsMob" style="font-family: Montserrat-RegularCn">
        New Arrivals
      </h2> -->
    <!-- </div>
    <div class="col-md-6 col-6 space-fram fram sfram">
      <a routerLink="/product/supercategory/{{firstFrame?._id}}">
        <img src='../../../assets/images/category/4.jpg' class="img-fluid"> -->
        <!-- <h2 class="fashIonsMob" style="font-family: Montserrat-RegularCn">
          {{firstFrame?.categoryName}}
        </h2> -->
      <!-- </a>
    </div>
    <div class="col-md-6 col-6 space-fram sfram">
      <a routerLink="/product/supercategory/{{secondFrame?._id}}">
        <img src='../../../assets/images/category/5.jpg' class="img-fluid"> -->
        <!-- <h2 class="fashIonsMob" style="font-family: Montserrat-RegularCn">
          {{secondFrame?.categoryName}}
        </h2> -->
      <!-- </a>
    </div>
    <div class="col-md-6 col-6 space-fram sfram">
      <a routerLink="/product/supercategory/{{thirdFrame?._id}}">
        <img src='../../../assets/images/category/6.jpg' class="img-fluid" >
        <div class="buttonVal text-center"> -->
          <!-- <div class="fashIonsMob" style="font-family: Montserrat-RegularCn">
            Our Story
          </div> -->
        <!-- </div>
      </a>
    </div>
    </div>
    </div> -->
