<div>
    <mat-card class="text-center">
    <h2>Order Has been placed Succesfully!<mat-icon style="font-size: 30px">done</mat-icon></h2>
    <h4>Thank You for shopping with us!</h4>
    <button class="continueShopping" routerLink="/home/welcome">Continue To Shopping</button>
    </mat-card>
</div> 
