.text-plain {
    color: cadetblue;
    font-size: 30px;
    font-variant-caps: all-petite-caps;
}
.date-plain {
    color: midnightblue;
    font-size: 17px;
    font-variant-caps: all-small-caps;
}

.review-plain {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
}

.rating {
    float:left;
    /* float: center; */
    
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0.1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
}

/* .rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
} */

/* 
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
} */

.col.md-3{
 padding-left: 0px;
 padding-right: 0px;
}

.background{
    background-color:#F2F3F4;
    box-shadow: 0 1px 0 0 rgba(182,196,210,0.4);
    padding-top: 2px;
    padding-bottom: 10px;
}