<div class="container">
    <h5 class="text-center" *ngIf="holder.length > 0"> Customer Reviews</h5>
    <app-carousel-item>
    <div appCarouselItem class="col-md-3 col-12 text-left background" *ngFor="let d of holder">
            <!-- <div class="form-group text-left"> -->
               <div class="row">
                   <div class="col-md-12">
                    <fieldset class="rating">
                        <input type="radio"  [checked]="d.rating===5" />
                        <label title="Rocks!" >5 stars</label>
                      
                        <input type="radio"  [checked]="d.rating===4" />
                        <label title="Pretty good" >4 stars</label>
                      
                        <input type="radio"  [checked]="totalRating===3" />
                        <label title="Ok" >3 stars</label>
                      
                        <input type="radio"  [checked]="totalRating===2" />
                        <label title=" bad" >2 stars</label>
                      
                        <input type="radio"  [checked]="totalRating===1" />
                        <label title="Very bad" >1 star</label>
                      </fieldset>  
                     </div>
                     <div class="col-md-12" style="padding-left: 22px;">
                            {{d.review}} <br>
                            <!-- {{d.country}} <br> -->
                            {{d.createdDate | date}} 
                     </div>
                </div>
                </div>
    </app-carousel-item>
  
</div>