
<app-banner></app-banner>
<br>
<app-strip></app-strip>
<br>
<app-category-content></app-category-content>
<br>
 <div >
 <app-promotion1></app-promotion1>
</div>
<br>

<app-small-banner></app-small-banner>
<br>
<br>
<br>
<div>
    <app-promotion2></app-promotion2>
</div>
<!-- <div *ngIf="this.showPromotion3 === true">
<app-promotion3></app-promotion3>
</div> -->
<!-- <br>

<br><br> -->
<!-- <div *ngIf="this.showPromotion2 === true">
<app-promotion2></app-promotion2>
</div> -->
<!-- <br> -->
<!-- <app-video></app-video> -->
<!-- <br> -->
<!-- <div *ngIf="this.showPromotion4 === true">
<app-promotion4></app-promotion4>
</div> -->
<!-- <div *ngIf="this.showPromotion5 === true">
<app-promotion5></app-promotion5>
</div> -->
<!-- <br>

<app-review></app-review>
<br> -->
<BR>
    <br>
<app-promotion3></app-promotion3>
<br>

<!-- <app-subscribe></app-subscribe> -->
<!-- <br>
<app-product-review></app-product-review>
<br> -->

