<form [formGroup]="measurementForm"   >
  <div class="container pt-5 text-center">
    <div class="row" *ngIf="!showReview">
        <div class="col-md-4"></div>
        <div class="col-md-4 form-group text-center">
            <mat-form-field>
                <mat-label>Measurement Name</mat-label>
                <mat-select (selectionChange)="measurmentSelected($event)">
                  <mat-option value="createNew">Create New</mat-option>
                  <mat-option *ngFor="let data of container" [value]="data">
                    {{data.measurementName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-4"></div>
        
      <div class="col-md-12 text-center pa colr">
        <h4>Measurement Fit</h4>
      </div>
      <div class="col-md-6 pa bor1"  *ngFor="let data of measurementData?.measurementType;let i of index" >
          <mat-radio-group (change)="changeEventType($event, data , measurementData?.measurementType)" aria-label="Select an option"
          [ngModel]="measurementModel?.typeName"  formControlName="typeName" required >
              <mat-radio-button [checked]="data.checked" [value]="data"><h6  class="pt-2">{{data.typeName}}</h6></mat-radio-button> <br>
              {{data.typeDescription}}
            </mat-radio-group>
            
            <!-- <p> {{data.typeDescription}} </p> -->
            
      </div>
      <div class="bg" *ngIf="measurementForm.controls['typeName'].errors?.required && measurementForm.dirty" >Select Measurement Type</div>
      <br>
      <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="colr">
            <mat-panel-title >
             
                <h4 class="text-center">Choli Measurement</h4>
             
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
          </mat-expansion-panel-header>
           
      <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.choliMeasurement[0].aroundBust">
        <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Bust</label> <br>
        <!-- <mat-error *ngIf="measurementForm.controls['aroundBust'].errors?.required">
                 <strong>required</strong> </mat-error> -->
                 <div class="col-md-12">
        <label>{{data.min}}</label> &nbsp;&nbsp;
          <mat-slider   thumbLabel formControlName="aroundBust" 
           [ngModel]="measurementModel?.aroundBust || aroundB"
          min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundB" required></mat-slider> 
           &nbsp;&nbsp; <label>{{data.max}}</label>  
           &nbsp;&nbsp;
          <input  class="text-center" formControlName="aroundBust" type="text" [value]="aroundB || null" 
           (keyup)="inputBF($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
          
          &nbsp;&nbsp; <button class="btn" (click)="view()"><mat-icon>info</mat-icon></button> 
          
          <div class="bg" *ngIf="aroundBIn=== true ">Not within Range</div>
          
          
        <div [hidden]="!show">
          <div class="row">
            <div class="col-md-6">
                <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
            </div>
            <div class="col-md-6 mauto">
                {{data.description}}
            </div>
          </div>
          </div>
        </div>
      </div>
      <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.choliMeasurement[0].aroundAboveWaist">
          <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Above Waist</label> <br>
          <div class="col-md-12">
          <label>{{data.min}}</label> &nbsp;&nbsp;
            <mat-slider   thumbLabel formControlName="aroundAboveWaist" [ngModel]="measurementModel?.aroundAboveWaist || aroundAbWaist"
            min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundAbWaist" required></mat-slider>
             &nbsp;&nbsp; <label>{{data.max}}</label> 
            &nbsp;&nbsp;
            <input class="text-center" type="text" [value]="aroundAbWaist || null" (keyup)="inputW($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
            <button class="btn" (click)="view1()"><mat-icon>info</mat-icon></button> 
            <div class="bg" *ngIf="aroundWaistIn=== true">Not within Range</div>
            <div [hidden]="!show1">
                <div class="row">
                    <div class="col-md-6">
                        <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                    </div>
                    <div class="col-md-6 mauto">
                        {{data.description}}
                    </div>
                  </div>
              </div>
              </div>
        </div>
        <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.choliMeasurement[0].choliLength">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Choli Length</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="choliLength" [ngModel]="measurementModel?.choliLength || choliLenLeng"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="choliLenLeng" required></mat-slider>
               &nbsp;&nbsp; <label>{{data.max}}</label> 
               &nbsp;&nbsp;
              <input class="text-center" type="text" [value]="choliLenLeng || null" (keyup)="inputB($event, data.max,data.min)"  style="width: 50px;padding: 5px;" required>  &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view2()"><mat-icon>info</mat-icon></button> 
              <div class="bg" *ngIf="blouseIn=== true">Not within Range</div>
              <div [hidden]="!show2">
                  <div class="row">
                      <div class="col-md-6">
                          <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                      </div>
                      <div class="col-md-6 mauto">
                          {{data.description}}
                      </div>
                    </div>
                </div>
                </div>
          </div>
         
          <div class="row bor mx-auto form-group" >
              <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Front Neck Style</label> <br>
            <div class="col-md-12">
               <div class="row">
              <app-carousel-item>
              <div appCarouselItem class="col-md-3 mx-auto" *ngFor="let data of measurementData?.choliMeasurement[0].frontNeckStyle; let i of index">
                <div class="row">
                  <div class="col-md-12">
                      <img  [src]="data.imageName" style="width: 120px;">
                  </div>
                  <div class="col-md-12">
                      <mat-radio-group (change)="changeEvent($event, data)" formControlName="frontNeckStyle"
                      [ngModel]="measurementModel?.frontNeckStyle"
                      aria-labelledby="example-radio-group-label" class="example-radio-group">
                      <mat-radio-button class="example-radio-button" [value]="data.title" 
                      [checked]="data.title === ratioCheckEvent"
                      >
                        {{data.title}}
                      </mat-radio-button>
                    </mat-radio-group>
                    </div>
                </div>
                  
              
            </div>
            </app-carousel-item>
            </div>
            </div>
            
          </div>
        
            <div class="row bor mx-auto form-group" >
                <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Back Neck Style</label> <br>
                <div class="col-md-12">
                  <div class="row">
                    <app-carousel-item>
                  <div appCarouselItem class="col-md-3"  *ngFor="let data of measurementData?.choliMeasurement[0].backNeckStyle">
                  
                      <div class="row">
                          <div class="col-md-12">
                              <img  [src]="data.imageName" style="width: 120px;">
                          </div>
                          <div class="col-md-12">
                              <mat-radio-group (change)="changeEvent1($event, data)" [ngModel]="measurementModel?.choliMeasurement[0].backNeckStyle" formControlName="backNeckStyle"
                      
                              aria-labelledby="example-radio-group-label" class="example-radio-group">
                              <mat-radio-button class="example-radio-button" [value]="data.title" 
                              [checked]="data.title === ratioCheckEvent1"
                              >
                                {{data.title}}
                              </mat-radio-button>
                            </mat-radio-group>
                            </div>
                        </div>
                      </div>
                </app-carousel-item>
                </div>
                </div>
                
              </div>
             
                <div class="row bor mx-auto form-group" >
                    <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Sleeve Style</label> <br>
                    <div class="col-md-12">
                      <div class="row">
                        <app-carousel-item>
                      <div appCarouselItem class="col-md-4"  *ngFor="let data of measurementData?.choliMeasurement[0].sleeveStyle">
                          <div class="row">
                              <div class="col-md-12">
                                  <img  [src]="data.imageName" style="width: 120px;">
                              </div>
                              <div class="col-md-12">
                                  <mat-radio-group (change)="changeEvent2($event, data)" formControlName="sleeveStyle"
                                  [ngModel]="measurementModel?.sleeveStyle"
                                  aria-labelledby="example-radio-group-label" class="example-radio-group">
                                  <mat-radio-button class="example-radio-button" [value]="data.title" 
                                  [checked]="data.title === ratioCheckEvent2"
                                  >
                                    {{data.title}}
                                  </mat-radio-button>
                                </mat-radio-group>
                                </div>
                            </div>
                          </div>
                      
                    </app-carousel-item>
                    </div>
                    
                    </div>
                    
                  </div>
                
                      <div class="row bor mx-auto ">
                        <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Choli Closing Side</label> <br>
                        <div class="col-md-12"> 
                        <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.choliClosingSide" aria-label="Select an option" formControlName="choliClosingSide" 
                          >
                              <mat-radio-button  class="pa" *ngFor="let data of measurementData?.choliMeasurement[0].choliClosingSide" [value]="data">{{data}}</mat-radio-button>
                            </mat-radio-group>
                            </div>
                      </div>
                      <br>
                      <div class="row bor mx-auto ">
                          <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Choli Closing With</label> <br>
                          <div class="col-md-12">  
                          <mat-radio-group  class="pa float-left" [ngModel]="measurementModel?.choliClosingWith" aria-label="Select an option" formControlName="choliClosingWith" >
                                <mat-radio-button  class="pa" *ngFor="let data of measurementData?.choliMeasurement[0].choliClosingWith" [value]="data">{{data}}</mat-radio-button>
                              </mat-radio-group>
                          </div>
                        </div> 
                        <br>
                        <div class="row bor mx-auto ">
                          <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Choli Closing With</label> <br>
                          <div class="col-md-12">  
                          <mat-radio-group  class="pa float-left" [ngModel]="measurementModel?.lining" aria-label="Select an option" formControlName="lining" >
                                <mat-radio-button  class="pa" *ngFor="let data of measurementData?.choliMeasurement[0].lining" [value]="data">{{data}}</mat-radio-button>
                              </mat-radio-group>
                            </div>
                        </div> 
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="colr">
            <mat-panel-title>
              <h4>Lehenga Measurement</h4>
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.lehengaMeasurement[0].aroundWaist">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Waist</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundWaist" 
              [ngModel]="measurementModel?.aroundWaist || aroundW"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundW" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundW || null" 
               (keyup)="inputWaist($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view8()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundWIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show8">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
         
          
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.lehengaMeasurement[0].aroundHip">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Hip</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundHip" 
                [ngModel]="measurementModel?.aroundHip || aroundT"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundT" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundT || null" 
               (keyup)="inputThigh($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view9()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundTIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show9">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.lehengaMeasurement[0].lehengaLength">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Lehenga Length</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="lehengaLength" 
               [ngModel]="measurementModel?.lehengaLength || aroundK"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundK" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundK || null" 
               (keyup)="inputKnee($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view10()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundKIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show10">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
        
          <div class="row bor mx-auto ">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Lehenga Closing Side</label>
            <div class="col-md-12">    
            <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.lehengaClosingSide" aria-label="Select an option" formControlName="lehengaClosingSide" 
              >
                  <mat-radio-button  class="pa" *ngFor="let data of measurementData?.lehengaMeasurement[0].lehengaClosingSide" [value]="data">{{data}}</mat-radio-button>
                </mat-radio-group>
                </div>
          </div>
        
          <div class="row bor mx-auto ">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Lehenga Closing With</label> <br>
            <div class="col-md-12">    
            <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.lehengaClosingWith" aria-label="Select an option" formControlName="lehengaClosingWith" 
              >
                  <mat-radio-button  class="pa" *ngFor="let data of measurementData?.lehengaMeasurement[0].lehengaClosingWith" [value]="data">{{data}}</mat-radio-button>
                </mat-radio-group>
                </div>
          </div>
          <br>
         
        </mat-expansion-panel>
      </mat-accordion>
      </div>





     
                          
      <div class="col-md-12 form-group mt-4">
        <label><h4><b class="float-left">Special Comment</b></h4></label>
          <mat-form-field >
            <textarea class="bor" matInput cols="30" [ngModel]="measurementModel?.specialInstruction" formControlName="specialInstruction" rows="10"></textarea>
          </mat-form-field>
      </div>
                         
      <div class=" col-md-12 mb-2 bg" *ngIf="ale === true">Enter all the Details</div>
                        
      <div class="col-md-12">
        <button class="btn btn-primary float-left" (click)="goBack()">Cancel/Return</button>
        <button class="btn btn-primary float-right" *ngIf="!isSaved" (click)="getReview()">Review & Submit</button>
        <button class="btn btn-primary float-right" *ngIf="isSaved" (click)="getReviewBySaved()">Review & Submit</button>
      </div>
                       
    </div>
  
    <div class="row" *ngIf="showReview">
        <div class="col-md-12 form-group">
            <mat-form-field class="measurementname">
                <mat-label>Enter Measurement Name</mat-label>
                <input  matInput placeholder="Measurement Name" #measuName>
                <p class="measurementnameEx">ex:(Blouse Measurement)</p>
              </mat-form-field>
              
        </div>
      <div class="col-md-4 form-group">
        <label>Type</label>
      </div>
      <div class="col-md-8 form-group">
        {{temp?.typeName.typeName}}
      </div>
      <div class="col-md-4 form-group">
          <label>Around Bust</label>
        </div>
        <div class="col-md-8 form-group">
          {{temp?.aroundBust}}
        </div>
        <div class="col-md-4 form-group">
            <label>Around Abve Waist</label>
          </div>
          <div class="col-md-8 form-group">
            {{temp?.aroundAboveWaist}}
          </div>
          <div class="col-md-4 form-group">
              <label>Around Hip</label>
            </div>
            <div class="col-md-8 form-group">
              {{temp?.aroundHip}}
            </div>
            <div class="col-md-4 form-group">
              <label>Choli Length</label>
            </div>
            <div class="col-md-8 form-group">
              {{temp?.choliLength}}
            </div>
            <div class="col-md-4 form-group">
                <label>Front Neck Style</label>
              </div>
              <div class="col-md-8 form-group">
                  <img [src]="temp.frontNeckStyle.imageName" style="width: 100px">
                  {{temp?.frontNeckStyle?.title}}
              </div>
              <!-- <div class="col-md-4 form-group">
                  <label>Front Neck Depth</label>
                </div>
                <div class="col-md-8 form-group">
                  {{temp?.frontNeckDepth}}
                </div> -->
                <div class="col-md-4 form-group">
                    <label>Back Neck Style</label>
                  </div>
                  <div class="col-md-8 form-group">
                      <img [src]="temp.backNeckStyle.imageName" style="width: 100px">
                      {{temp?.backNeckStyle?.title}}
                  </div>
                 <!--  <div class="col-md-4 form-group">
                      <label>Back Neck Depth</label>
                    </div>
                    <div class="col-md-8 form-group">
                      {{temp?.backNeckDepth}}
                    </div> -->
                    <div class="col-md-4 form-group">
                        <label>Sleeve Style</label>
                      </div>
                      <div class="col-md-8 form-group">
                          <img [src]="temp.sleeveStyle.imageName" style="width: 100px">
                          {{temp?.sleeveStyle?.title}}
                      </div>
                      <div class="col-md-4 form-group">
                          <label>Lehenga Length</label>
                        </div>
                        <div class="col-md-8 form-group">
                          {{temp?.lehengaLength}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Around Waist</label>
                          </div>
                          <div class="col-md-8 form-group">
                            {{temp?.aroundWaist}}
                          </div>
                          <div class="col-md-4 form-group">
                              <label>Choli Closing Side</label>
                            </div>
                            <div class="col-md-8 form-group">
                              {{temp?.choliClosingSide}}
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Choli Closing With</label>
                              </div>
                              <div class="col-md-8 form-group">
                                {{temp?.choliClosingWith}}
                              </div>
                              <div class="col-md-4 form-group">
                                <label>Lining</label>
                              </div>
                              <div class="col-md-8 form-group">
                                 
                                  {{temp?.lining}}
                              </div>
                              <div class="col-md-4 form-group">
                                  <label>Lehenga Closing Side</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.lehengaClosingSide}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Lehenga Closing With</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.lehengaClosingWith}}
                                </div>
                                
                               
                                
                                <div class="col-md-4 form-group">
                                    <label>Special Comments</label>
                                  </div>
                                  <div class="col-md-8 form-group">
                                    {{temp?.specialInstruction}}
                                  </div>
                                 
                                  <div class="col-md-12 form-group">
                                      <button class="btn btn-primary" (click)="onChange()"> Back</button>
                                    <button class="btn btn-primary" (click)="onSave(measuName.value)"> save</button>
                                  </div>
    </div>
    </div>
  </form>
  