mat-slider {
    width: 600px;
  }
 .pa{
  padding: 15px;
 }
 .measurementname{
   backface-visibility: visible;
 }
 /* input:focus {
  background-color: rgb(241, 241, 237);
 } */
 .measurementnameEx{
   padding-top: 5px;
   color: gray;
 }
 .colr{
   background-color:#ffb500 ;
 }
 ::ng-deep .mat-slider-thumb{
   background-color: #ffb500 !important;
 }
 ::ng-deep .mat-slider-thumb-label{
  background-color: #ffb500 !important;
 }
 .bor{
   border: 1px solid #E7E7E7;
   border-radius: 20px;
   padding: 15px;
 }
 .bor1{
  border: 1px solid #E7E7E7;
  /* border-radius: 20px; */
  padding: 40px;
}
 .btn:focus{
   outline: none !important;
 }
 .row{
   margin-left: 0px !important;
   margin-right: 0px !important;
 }
 .mauto{
   margin: auto;
   display: block;
 }
 mat-icon{
   color: #28334f;
 }
.bg{
  background-color: #f93800;
  color: white;
}
.col-md-12{
  padding-left: 0px ;
  padding-right: 0px ;
} 
mat-expansion-panel-header:hover{
  background-color:#ffb500 !important;
}
