<form [formGroup]="measurementForm" novalidate  >
  <div class="container pt-5 text-center">
    <div class="row" *ngIf="!showReview">
        <div class="col-md-4"></div>
        <div class="col-md-4 form-group text-center">
            <mat-form-field>
                <mat-label>Measurement Name</mat-label>
                <mat-select (selectionChange)="measurmentSelected($event)">
                  <mat-option value="createNew">Create New</mat-option>
                  <mat-option *ngFor="let data of container" [value]="data">
                    {{data.measurementName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-4"></div>
      <div class="col-md-12 text-center pa colr">
        <h4>Measurement Fit</h4>
      </div>
      <div class="col-md-6 pa bor1"  *ngFor="let data of measurementData?.measurementType;let i of index" >
          <mat-radio-group (change)="changeEventType($event, data , measurementData?.measurementType)" aria-label="Select an option"
          [ngModel]="measurementModel?.typeName"  formControlName="typeName" required >
              <mat-radio-button [checked]="data.checked" [value]="data"><h6  class="pt-2">{{data.typeName}}</h6></mat-radio-button> <br>
              {{data.typeDescription}}
            </mat-radio-group>
            
           
            
      </div>
      <div class="bg" *ngIf="measurementForm.controls['typeName'].errors?.required && measurementForm.dirty" >Select Measurement Type</div>
      <div class="col-md-12">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="colr">
            <mat-panel-title>
              <h4>Kameez Measurement</h4>
            </mat-panel-title>
            <mat-panel-description>
            
            </mat-panel-description>
          </mat-expansion-panel-header>
      
          <div class="row bor  form-group"  *ngFor="let data of measurementData?.kameezMeasurement[0].aroundBust">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Bust</label>
            <!-- <mat-error *ngIf="measurementForm.controls['aroundBust'].errors?.required">
                     <strong>required</strong> </mat-error> -->
                     <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundBust" 
               [ngModel]="measurementModel?.aroundBust || aroundB"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundB" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input  class="text-center" formControlName="aroundBust1" type="text" [value]="aroundB || null" 
               (keyup)="inputBF($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              
              &nbsp;&nbsp; <button class="btn" (click)="view()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundBIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <div class="row bor form-group" *ngFor="let data of measurementData?.kameezMeasurement[0].aroundAboveWaist">
              <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Above Waist</label>
              <div class="col-md-12">
              <label>{{data.min}}</label> &nbsp;&nbsp;
                <mat-slider   thumbLabel formControlName="aroundAboveWaist" [ngModel]="measurementModel?.aroundAboveWaist || aroundAbWaist"
                min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundAbWaist" required></mat-slider>
                 &nbsp;&nbsp; <label>{{data.max}}</label> 
                &nbsp;&nbsp;
                <input class="text-center" type="text" [value]="aroundAbWaist || null" (keyup)="inputW($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
                <button class="btn" (click)="view1()"><mat-icon>info</mat-icon></button> 
                <div class="bg" *ngIf="aroundWaistIn=== true">Not within Range</div>
                <div [hidden]="!show1">
                    <div class="row">
                        <div class="col-md-6">
                            <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                        </div>
                        <div class="col-md-6 mauto">
                            {{data.description}}
                        </div>
                      </div>
                  </div>
                  </div>
            </div>
            <div class="row bor form-group" *ngFor="let data of measurementData?.kameezMeasurement[0].aroundHip">
                <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Hip</label>
                <div class="col-md-12">
                <label>{{data.min}}</label> &nbsp;&nbsp;
                  <mat-slider   thumbLabel formControlName="aroundHip" [ngModel]="measurementModel?.aroundHip || aroundHipLeng"
                  min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundHipLeng" required></mat-slider>
                   &nbsp;&nbsp; <label>{{data.max}}</label> 
                   &nbsp;&nbsp;
                  <input class="text-center" type="text" [value]="aroundHipLeng || null" (keyup)="inputB($event, data.max,data.min)"  style="width: 50px;padding: 5px;" required>  &nbsp; &nbsp; inches
                  &nbsp;&nbsp; <button class="btn" (click)="view2()"><mat-icon>info</mat-icon></button> 
                  <div class="bg" *ngIf="blouseIn=== true">Not within Range</div>
                  <div [hidden]="!show2">
                      <div class="row">
                          <div class="col-md-6">
                              <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                          </div>
                          <div class="col-md-6 mauto">
                              {{data.description}}
                          </div>
                        </div>
                    </div>
                    </div>
              </div>
              <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.kameezMeasurement[0].kameezLength">
                <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Kameez Length</label> <br>
                <div class="col-md-12">
                <label>{{data.min}}</label> &nbsp;&nbsp;
                  <mat-slider   thumbLabel formControlName="kameezLength" [ngModel]="measurementModel?.kameezLength || kameezLeng"
                  min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="kameezLeng" required></mat-slider>
                   &nbsp;&nbsp; <label>{{data.max}}</label> 
                   &nbsp;&nbsp;
                  <input class="text-center" type="text" [value]="kameezLeng || null" (keyup)="inputK($event, data.max,data.min)"  style="width: 50px;padding: 5px;" required>  &nbsp; &nbsp; inches
                  &nbsp;&nbsp; <button class="btn" (click)="view3()"><mat-icon>info</mat-icon></button> 
                  <div class="bg" *ngIf="kameezIn=== true">Not within Range</div>
                  <div [hidden]="!show3">
                      <div class="row">
                          <div class="col-md-6">
                              <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                          </div>
                          <div class="col-md-6 mauto">
                              {{data.description}}
                          </div>
                        </div>
                    </div>
                    </div>
              </div>
              <div class="row bor mx-auto form-group" >
                  <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Front Neck Style</label> <br>
                <div class="col-md-12">
                   <div class="row">
                  <app-carousel-item>
                  <div appCarouselItem class="col-md-3 mx-auto" *ngFor="let data of measurementData?.kameezMeasurement[0].frontNeckStyle; let i of index">
                    <div class="row">
                      <div class="col-md-12">
                          <img  [src]="data.imageName" style="width: 120px;">
                      </div>
                      <div class="col-md-12">
                          <mat-radio-group (change)="changeEvent($event, data)" formControlName="frontNeckStyle"
                          [ngModel]="measurementModel?.frontNeckStyle"
                          aria-labelledby="example-radio-group-label" class="example-radio-group">
                          <mat-radio-button class="example-radio-button" [value]="data.title" 
                          [checked]="data.title === ratioCheckEvent"
                          >
                            {{data.title}}
                          </mat-radio-button>
                        </mat-radio-group>
                        </div>
                    </div>
                      
                  
                </div>
                </app-carousel-item>
                </div>
                </div>
                
              </div>
              <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.kameezMeasurement[0].frontNeckDepth">
                  <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Front Neck Depth</label> <br>
                  <div class="col-md-12">
                  <label>{{data.min}}</label> &nbsp;&nbsp;
                    <mat-slider   thumbLabel formControlName="frontNeckDepth" [ngModel]="measurementModel?.frontNeckDepth || frontNeckDep"
                    min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="frontNeckDep" required ></mat-slider>
                      &nbsp;&nbsp; <label>{{data.max}}</label> 
                      &nbsp;&nbsp; 
                      <input class="text-center" type="text" [value]="frontNeckDep || null" (keyup)="inputFN($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
                    &nbsp;&nbsp; <button class="btn" (click)="view4()"><mat-icon>info</mat-icon></button> 
                    <div class="bg" *ngIf="fnIn=== true">Not within Range</div>
                    <div [hidden]="!show4">
                        <div class="row">
                            <div class="col-md-6">
                                <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                            </div>
                            <div class="col-md-6 mauto">
                                {{data.description}}
                            </div>
                          </div>
                      </div>
                      </div>
                </div>
                <div class="row bor mx-auto form-group" >
                    <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Back Neck Style</label> <br>
                    <div class="col-md-12">
                      <div class="row">
                        <app-carousel-item>
                      <div appCarouselItem class="col-md-3"  *ngFor="let data of measurementData?.kameezMeasurement[0].backNeckStyle">
                      
                          <div class="row">
                              <div class="col-md-12">
                                  <img  [src]="data.imageName" style="width: 120px;">
                              </div>
                              <div class="col-md-12">
                                  <mat-radio-group (change)="changeEvent1($event, data)" [ngModel]="measurementModel?.kameezMeasurement[0].backNeckStyle" formControlName="backNeckStyle"
                          
                                  aria-labelledby="example-radio-group-label" class="example-radio-group">
                                  <mat-radio-button class="example-radio-button" [value]="data.title" 
                                  [checked]="data.title === ratioCheckEvent1"
                                  >
                                    {{data.title}}
                                  </mat-radio-button>
                                </mat-radio-group>
                                </div>
                            </div>
                          </div>
                    </app-carousel-item>
                    </div>
                    </div>
                    
                  </div>
                  <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.kameezMeasurement[0].backNeckDepth">
                      <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Back Neck Depth</label> <br>
                      <div class="col-md-12">
                      <label>{{data.min}}</label> &nbsp;&nbsp;
                        <mat-slider   thumbLabel formControlName="backNeckDepth" [ngModel]="measurementModel?.backNeckDepth || backNeckDep"
                        min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="backNeckDep" required></mat-slider>
                        &nbsp;&nbsp; <label>{{data.max}}</label> 
                        &nbsp;&nbsp;
                        <input class="text-center" type="text" [value]="backNeckDep || null" (keyup)="inputBN($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
                        &nbsp;&nbsp; <button class="btn" (click)="view5()"><mat-icon>info</mat-icon></button>
                        <div class="bg" *ngIf="bnIn=== true">Not within Range</div>
                        <div [hidden]="!show5">
                            <div class="row">
                                <div class="col-md-6">
                                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                                </div>
                                <div class="col-md-6 mauto">
                                    {{data.description}}
                                </div>
                              </div>
                          </div>
                          </div>
                    </div>
                    <div class="row bor mx-auto form-group" >
                        <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Sleeve Style</label> <br>
                        <div class="col-md-12">
                          <div class="row">
                            <app-carousel-item>
                          <div appCarouselItem class="col-md-3"  *ngFor="let data of measurementData?.kameezMeasurement[0].sleeveStyle">
                              <div class="row">
                                  <div class="col-md-12">
                                      <img  [src]="data.imageName" style="width: 120px;">
                                  </div>
                                  <div class="col-md-12">
                                      <mat-radio-group (change)="changeEvent2($event, data)" formControlName="sleeveStyle"
                                      [ngModel]="measurementModel?.sleeveStyle"
                                      aria-labelledby="example-radio-group-label" class="example-radio-group">
                                      <mat-radio-button class="example-radio-button" [value]="data.title" 
                                      [checked]="data.title === ratioCheckEvent2"
                                      >
                                        {{data.title}}
                                      </mat-radio-button>
                                    </mat-radio-group>
                                    </div>
                                </div>
                              </div>
                          
                        </app-carousel-item>
                        </div>
                        
                        </div>
                        
                      </div>
                      <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.kameezMeasurement[0].sleeveLength">
                          <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Sleeve Length</label> <br>
                          <div class="col-md-12">
                          <label>{{data.min}}</label> &nbsp;&nbsp;
                            <mat-slider   thumbLabel formControlName="sleeveLength" [ngModel]="measurementModel?.sleeveLength || sleevLen"
                            min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="sleevLen" required></mat-slider>
                            &nbsp;&nbsp; <label>{{data.max}}</label> 
                            &nbsp;&nbsp;
                            <input class="text-center" type="text" [value]="sleevLen || null" (keyup)="inputSleeve($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
                            &nbsp;&nbsp; <button class="btn" (click)="view6()"><mat-icon>info</mat-icon></button> 
                            <div class="bg" *ngIf="sleeveIn=== true">Not within Range</div>
                            <div [hidden]="!show6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                                    </div>
                                    <div class="col-md-6 mauto">
                                        {{data.description}}
                                    </div>
                                  </div>
                              </div>
                              </div>
                        </div>
                        <div class="row bor mx-auto form-group" *ngFor="let data of measurementData?.kameezMeasurement[0].aroundArm">
                            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Arm</label> <br>
                            <div class="col-md-12">
                            <label>{{data.min}}</label> &nbsp;&nbsp;
                              <mat-slider   thumbLabel formControlName="aroundArm" [ngModel]="measurementModel?.aroundArm || aroundAr"
                              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundAr" required></mat-slider>
                              &nbsp;&nbsp; <label>{{data.max}}</label> 
                              &nbsp;&nbsp;
                              <input class="text-center" type="text" [value]="aroundAr || null" (keyup)="inputArm($event, data.max,data.min)" style="width: 50px;padding: 5px;" required>&nbsp; &nbsp; inches
                              &nbsp;&nbsp; <button class="btn" (click)="view7()"><mat-icon>info</mat-icon></button>  
                              <div class="bg" *ngIf="armIn=== true">Not within Range</div>
                              <div [hidden]="!show7">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                                      </div>
                                      <div class="col-md-6 mauto">
                                          {{data.description}}
                                      </div>
                                    </div>
                                </div>
                                </div>
                          </div>
                          <div class="row bor mx-auto ">
                            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Kameez Closing Side</label> <br>
                            <div class="col-md-12">  
                            <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.kameezClosingSide" aria-label="Select an option" formControlName="kameezClosingSide" 
                              >
                                  <mat-radio-button  class="pa" *ngFor="let data of measurementData?.kameezMeasurement[0].kameezClosingSide" [value]="data">{{data}}</mat-radio-button>
                                </mat-radio-group>
                                </div>
                          </div>
                          <br>
                          <div class="row bor mx-auto ">
                              <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Kameez Closing With</label> <br>
                              <div class="col-md-12">    
                              <mat-radio-group  class="pa float-left" [ngModel]="measurementModel?.kameezClosingWith" aria-label="Select an option" formControlName="kameezClosingWith" >
                                    <mat-radio-button  class="pa" *ngFor="let data of measurementData?.kameezMeasurement[0].kameezClosingWith" [value]="data">{{data}}</mat-radio-button>
                                  </mat-radio-group>
                                  </div>
                            </div> 
           
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header class="colr">
            <mat-panel-title>
              <h4>Bottom Measurement</h4>
            </mat-panel-title>
            <mat-panel-description>
              
            </mat-panel-description>
          </mat-expansion-panel-header>
        
          <div class="row bor mx-auto form-group" >
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Bottom Style</label> <br>
            <div class="col-md-12">
                <div class="row">
                <app-carousel-item>
              <div appCarouselItem class="col-md-3"  *ngFor="let data of measurementData?.bottomMeasurement[0].bottomStyle">
              
                  <div class="row">
                      <div class="col-md-12">
                          <img  [src]="data.imageName" style="width: 120px;">
                      </div>
                      <div class="col-md-12">
                          <mat-radio-group (change)="changeEvent3($event, data)" [ngModel]="measurementModel?.bottomMeasurement[0].bottomStyle" formControlName="bottomStyle"
                  
                          aria-labelledby="example-radio-group-label" class="example-radio-group">
                          <mat-radio-button class="example-radio-button" [value]="data.title" 
                          [checked]="data.title === ratioCheckEvent3"
                          >
                            {{data.title}}
                          </mat-radio-button>
                        </mat-radio-group>
                        </div>
                    </div>
                  </div>
            </app-carousel-item>
            </div>
            </div>
            
          </div>
          <br>
          <div class="row bor mx-auto ">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Fit Option</label> <br>
            <div class="col-md-12"> 
            <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.fitOption" aria-label="Select an option" formControlName="fitOption" 
              >
                  <mat-radio-button  class="pa" *ngFor="let data of measurementData?.bottomMeasurement[0].fitOption" [value]="data">{{data}}</mat-radio-button>
                </mat-radio-group>
                </div>
          </div>
          <br>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.bottomMeasurement[0].aroundWaist">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Waist</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundWaist" 
              [ngModel]="measurementModel?.aroundWaist || aroundW"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundW" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundW || null" 
               (keyup)="inputWaist($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view8()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundWIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show8">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.bottomMeasurement[0].aroundThigh">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Thigh</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundThigh" 
                [ngModel]="measurementModel?.aroundThigh || aroundT"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundT" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundT || null" 
               (keyup)="inputThigh($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view9()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundTIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show9">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.bottomMeasurement[0].aroundKnee">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Knee</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundKnee" 
               [ngModel]="measurementModel?.aroundKnee || aroundK"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundK" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundK || null" 
               (keyup)="inputKnee($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view10()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundKIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show10">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.bottomMeasurement[0].aroundCalf">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Calf</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundCalf" 
               [ngModel]="measurementModel?.aroundCalf || aroundC"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundC" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundC || null" 
               (keyup)="inputCalf($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view11()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundCIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show11">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.bottomMeasurement[0].aroundBottom">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Around Bottom</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="aroundBottom" 
               [ngModel]="measurementModel?.aroundBottom || aroundBot"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="aroundBot" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="aroundBot || null" 
               (keyup)="inputBottom($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view12()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="aroundBotIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show12">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bor mx-auto form-group"  *ngFor="let data of measurementData?.bottomMeasurement[0].bottomLength">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Bottom Length</label> <br>
            <div class="col-md-12">
            <label>{{data.min}}</label> &nbsp;&nbsp;
              <mat-slider   thumbLabel formControlName="bottomLength" 
                [ngModel]="measurementModel?.bottomLength || bottomL"
              min="{{data.min}}" max="{{data.max}}" step="1" [(ngModel)]="bottomL" required></mat-slider> 
               &nbsp;&nbsp; <label>{{data.max}}</label>  
               &nbsp;&nbsp;
              <input class="text-center"type="text" [value]="bottomL || null" 
               (keyup)="inputABottom($event, data.max,data.min)" style="width: 50px;padding: 5px;" required> &nbsp; &nbsp; inches
              &nbsp;&nbsp; <button class="btn" (click)="view13()"><mat-icon>info</mat-icon></button> 
              
              <div class="bg" *ngIf="bottomLIn=== true ">Not within Range</div>
              
              
            <div [hidden]="!show13">
              <div class="row">
                <div class="col-md-6">
                    <img [src]="measurmentUrl + measurementData._id + '/' + data.imageName" style="width: 400px;">
                </div>
                <div class="col-md-6 mauto">
                    {{data.description}}
                </div>
              </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bor mx-auto ">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Waist Closing Side</label> <br>
            <div class="col-md-12">    
            <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.waistClosingSide" aria-label="Select an option" formControlName="waistClosingSide" 
              >
                  <mat-radio-button  class="pa" *ngFor="let data of measurementData?.bottomMeasurement[0].waistClosingSide" [value]="data">{{data}}</mat-radio-button>
                </mat-radio-group>
                </div>
          </div>
          <br>
          <div class="row bor mx-auto ">
            <label style="float: left;font-weight: bold;"><span style="color: #f93800;font-size: 15px;">*</span>Waist Closing With</label> <br>
            <div class="col-md-12">    
            <mat-radio-group class="pa float-left" [ngModel]="measurementModel?.waistClosingWith" aria-label="Select an option" formControlName="waistClosingWith" 
              >
                  <mat-radio-button  class="pa" *ngFor="let data of measurementData?.bottomMeasurement[0].waistClosingWith" [value]="data">{{data}}</mat-radio-button>
                </mat-radio-group>
                </div>
          </div>
          
        </mat-expansion-panel>
      </mat-accordion>
      </div>


                          <div class="col-md-12 form-group mt-4">
                            <label><h4><b class="float-left">Special Comment</b></h4></label>
                              <mat-form-field >
                                <textarea class="bor" matInput cols="30" [ngModel]="measurementModel?.specialInstruction" formControlName="specialInstruction" rows="10"></textarea>
                              </mat-form-field>
                          </div>
                          <div class=" col-md-12 mb-2 bg" *ngIf="ale === true">Enter all the Details</div>
                          
                          <div class="col-md-12">
                            <button class="btn btn-primary float-left" (click)="goBack()">Cancel/Return</button>
                            <button class="btn btn-primary float-right" *ngIf="!isSaved" (click)="getReview()">Review & Submit</button>
                            <button class="btn btn-primary float-right" *ngIf="isSaved" (click)="getReviewBySaved()">Review & Submit</button>
                          </div>
                       
    </div>
  
    <div class="row" *ngIf="showReview">
        <div class="col-md-12 form-group">
            <mat-form-field class="measurementname">
                <mat-label>Enter Measurement Name</mat-label>
                <input  matInput placeholder="Measurement Name" #measuName>
                <p class="measurementnameEx">ex:(Blouse Measurement)</p>
              </mat-form-field>
              
        </div>
      <div class="col-md-4 form-group">
        <label>Type</label>
      </div>
      <div class="col-md-8 form-group">
        {{temp?.typeName.typeName}}
      </div>
      <div class="col-md-4 form-group">
          <label>Around Bust</label>
        </div>
        <div class="col-md-8 form-group">
          {{temp?.aroundBust}}
        </div>
        <div class="col-md-4 form-group">
            <label>Around Abve Waist</label>
          </div>
          <div class="col-md-8 form-group">
            {{temp?.aroundAboveWaist}}
          </div>
          <div class="col-md-4 form-group">
              <label>Around Hip</label>
            </div>
            <div class="col-md-8 form-group">
              {{temp?.aroundHip}}
            </div>
            <div class="col-md-4 form-group">
              <label>Kameez Length</label>
            </div>
            <div class="col-md-8 form-group">
              {{temp?.kameezLength}}
            </div>
            <div class="col-md-4 form-group">
                <label>Front Neck Style</label>
              </div>
              <div class="col-md-8 form-group">
                  <img [src]="temp.frontNeckStyle.imageName" style="width: 100px">
                  {{temp?.frontNeckStyle?.title}}
              </div>
              <div class="col-md-4 form-group">
                  <label>Front Neck Depth</label>
                </div>
                <div class="col-md-8 form-group">
                  {{temp?.frontNeckDepth}}
                </div>
                <div class="col-md-4 form-group">
                    <label>Back Neck Style</label>
                  </div>
                  <div class="col-md-8 form-group">
                      <img [src]="temp.backNeckStyle.imageName" style="width: 100px">
                      {{temp?.backNeckStyle?.title}}
                  </div>
                  <div class="col-md-4 form-group">
                      <label>Back Neck Depth</label>
                    </div>
                    <div class="col-md-8 form-group">
                      {{temp?.backNeckDepth}}
                    </div>
                    <div class="col-md-4 form-group">
                        <label>Sleeve Style</label>
                      </div>
                      <div class="col-md-8 form-group">
                          <img [src]="temp.sleeveStyle.imageName" style="width: 100px">
                          {{temp?.sleeveStyle?.title}}
                      </div>
                      <div class="col-md-4 form-group">
                          <label>Sleeve Length</label>
                        </div>
                        <div class="col-md-8 form-group">
                          {{temp?.sleeveLength}}
                        </div>
                        <div class="col-md-4 form-group">
                            <label>Around Arm</label>
                          </div>
                          <div class="col-md-8 form-group">
                            {{temp?.aroundArm}}
                          </div>
                          <div class="col-md-4 form-group">
                              <label>Kameez Closing Side</label>
                            </div>
                            <div class="col-md-8 form-group">
                              {{temp?.kameezClosingSide}}
                            </div>
                            <div class="col-md-4 form-group">
                                <label>Kameez Closing With</label>
                              </div>
                              <div class="col-md-8 form-group">
                                {{temp?.kameezClosingWith}}
                              </div>
                              <div class="col-md-4 form-group">
                                <label>Bottom Style</label>
                              </div>
                              <div class="col-md-8 form-group">
                                  <img [src]="temp.bottomStyle.imageName" style="width: 100px">
                                  {{temp?.bottomStyle?.title}}
                              </div>
                              <div class="col-md-4 form-group">
                                  <label>Fit Option</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.fitOption}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Around Waist</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.aroundWaist}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Around Thigh</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.aroundThigh}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Around Knee</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.aroundKnee}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Around Calf</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.aroundCalf}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Around Bottom</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.aroundBottom}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Bottom Length</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.bottomLength}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Waist Closing Side</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.waistClosingSide}}
                                </div>
                                <div class="col-md-4 form-group">
                                  <label>Waist Closing With</label>
                                </div>
                                <div class="col-md-8 form-group">
                                  {{temp?.waistClosingWith}}
                                </div>
                                <div class="col-md-4 form-group">
                                    <label>Special Comments</label>
                                  </div>
                                  <div class="col-md-8 form-group">
                                    {{temp?.specialInstruction}}
                                  </div>
                                  
                                  <div class="col-md-12 form-group">
                                      <button class="btn btn-primary" (click)="onChange()"> Back</button>
                                    <button class="btn btn-primary" (click)="onSave(measuName.value)"> save</button>
                                  </div>
    </div>
    </div>
  </form>
  