<div class="container-fluid" style="margin-top: 60px">
    <h2 class="text-center"> Payment Policy</h2><br>

    <p>
        At Ucchal Fashion™, our motto is to make our customers enjoy shopping, which is why we offer a range of payment options.
    
        Payment is to be made in advance by purchasing the product or service that you need through our secure shopping cart. 
        In some rare cases, we can send a money request via Paypal, but we prefer to have the order go through our shopping cart to generate a work order.
    </p>
    <p>
        Once payment is received, your purchase will be scheduled to be completed and you will receive an email to that effect.
    By placing your order on our website, you agree to our terms and conditions mentioned in the Ucchal Fashion™ website.
    If you use PayPal - Customer Support can be reached at +91-6366815455. 
    If you are unable to check out using PayPal Credit, we would have no idea what the problem might be, so would not be able to help you.</p>
      <br>
    <p>
        <i class="fa fa-credit-card-alt" aria-hidden="true"></i>
        <span> &nbsp; Credit Cards, Debit Cards, UPI or EMI* </span><br> 
We accept MasterCard, VISA, Discover, JCB, American Express, Diners Club cards and Maestro cards. EMI details and T&C's will be available on the payment gateway website.

    </p>

    <br>
    <p>
        <i class="fa fa-mobile" aria-hidden="true"></i>
        <span> &nbsp; Net Banking / Debit Card</span><br> 
        We support net banking with SBI, ICICI, HDFC, Citibank, Kotak, Axis Bank and Others.
    </p>
    <p>
        <i class="fa fa-building" aria-hidden="true"></i>
        <span> &nbsp; Net Banking / Debit Card</span><br> 
        Payment via bank account must be paid within 3 days upon order made. Once paid, inform customer service with payment details.
    </p>

    <br>
    <p>
        Our Account details are as follows:- <br>
        Account Name: Banasuri Enterprises<br>
        Account Number: 917020064229727<br>
        Bank Name:  AXIS BANK LTD <br>
        Bank IFSC Code:  UTIB0001151 <br> 
        Address: CAUVERY BHAVAN BRANCH, BANGALORE.<br>
        
    </p>
    <br>
    <p>
        Safe Shopping: <br>
        We have taken several steps to ensure that payments made on Ucchal Fashion™ are safe and secure. 
        At no point will anyone from Ucchal Fashion ask you to share your Credit Card, Bank Account or Ucchal My Account details or PIN, OTP, Passwords, etcvia email or call. We request that you do not share these details with anyone under any circumstances. 
        
    </p>
    <p>
        Please Note:<br>
        An order may be cancelled if information provided by a customer is found incomplete. 
        The customer will be notified within 24-72 hours in such an event. It will be the customer's responsibility to furnish correct information and re-place the order within 48 hours.
        <br>You can also E-Mail us “customercare@ucchalfashion.com“ to immediately get the best possible solutions and information.
        
    </p>

    <br>
    <h4>Billing & Payments (Banasuri Enterprise)</h4>
    <p>Uchhal Fashion enables online verification and authorisation of payments through three payment services: 
      PayPal <a href="https://www.paypal.com" target="_blank">(https://www.paypal.com)</a>. <a href="https://www.ucchalfashion.com" target="_blank">https://www.ucchalfashion.com </a> is a VeriSign secured site with 128 bit SSL encryption.</p>
  
      <ol>
        <li>
            The following payment methods are accepted through the CCAvenue/PayU/Rozer Pay payment gateway:
        </li>
        <ul>
          <li>Credit Cards: Domestic and International Visa, MasterCard and American Express credit cards.</li>
          <li>Debit Cards: Debit cards issued by most of the major banks.</li>
          <li>Net banking: We allow net banking transactions from nearly 50 major Indian banks.</li>
          <li>UPI</li>
          <li>Loyalty Points</li>
          Note: Your billing amount will be shown in Indian Rupees on the payment gateway. This is equivalent to your order value.
        </ul>
        <li>Uchhal Fashion also accepts payments made via Paypal.</li>
        International customers can pay from their PayPal account if they have a PayPal account. 
        They can also choose to use their credit card to pay if they do not have a PayPal account. 
        This option is not available to Indian residents as per RBI regulations.
      </ol>
      <div class="m-auto">
        <img class="mx-auto" src="../../../assets/images/payment.jpg">
      </div>
    </div>