
.productAction {
    left: 0;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 7%;
    padding-right: 7%;
    right: 0;
    bottom: 0;
    width: 100%;
    color: #ffff;
    background: #28334f;
    cursor: pointer;
  }
  

  .colorBox {
    margin-top: 10px;
}
.colorVariantBlock {
    /* -ms-transform: rotate(140deg); */
    /* border-radius: 50px; */
    cursor: pointer;
    height: 50px;
    overflow: hidden;
    /* transform: rotate(140deg); */
    width: 50px;
}
.colorbttn {
    border: 1px solid #ebebeb;
    float: left;
    margin: 0 15px 15px 0;
}

.backgroundColorImage {
  cursor: pointer;
  height: 50px;
  overflow: hidden;
  /* transform: rotate(140deg); */
  width: 50px;
  border: 1px solid #ff4081;
}