<div class="container" style="margin-top: 60px;">
<h3 class="text-center">FAQ's</h3>
<div *ngFor="let p of faq">
    <h3>{{ p.faqHeading}}</h3>
    <div class="row">
    <div class="col-md-6 col-12" *ngFor="let pp of p?.faqDetails">
      <p>  {{pp.faqQuestion}} </p>
      <p>  {{pp.faqAnswers}} </p>
      </div>
      </div>
  </div>
</div>
