/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~material-icons/iconfont/material-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/commonStyle.css";
@import "./assets/styles/angularStyle.css";
@import "./assets/styles/bootstrapOverride.css";
@import '~font-awesome/css/font-awesome.css'; 
@font-face {
    font-family: 'HelveticaNeue';
    src: url('./assets/fonts/HelveticaNeue/HelveticaNeue.otf');
  }
/* @font-face {
    font-family: 'BebasKai';
    src: url('./assets/fonts/BebasKai.ttf');
  }
   @font-face {
    font-family: 'HelveticaNeuelLTStd-Bd';
    src: url('./assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Bd.otf');
  }
@font-face {
    font-family: 'HelveticaNeuelLTStd-LtCn';
    src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
  }
  @font-face {
    font-family: 'HelveticaNeuelLTStd-Lt';
    src: url('./assets/fonts/Helvetica-Neue-LT-Std/HelveticaNeueLTStd-Lt.otf');
  }

@font-face {
    font-family: 'HelveticaNeuelLTStd-Roman';
    src: url('./assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.otf');
  }
  @font-face {
    font-family: 'HelveticaNeues';
    src: url('./assets/fonts/HelveticaNeue/HelveticaNeue.otf');
  }
  @font-face {
    font-family: 'HelveticaNeuelLTStd-Md';
    src: url('./assets/fonts/Helvetica-Neue-LT-Std/HelveticaNeueLTStd-Md.otf');
  } */
  @font-face {
    font-family: 'Montserrat-Regular';
    src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
  }
  @font-face {
    font-family: 'Montserrat-RegularCn';
    src: url('./assets/fonts/montserrat/Montserrat-Regular.otf');
  }
  @font-face {
    font-family: 'Montserrat-Light';
    src: url('./assets/fonts/montserrat/Montserrat-Light.otf');
  }
  @font-face {
    font-family: 'Montserrat-Thin';
    src: url('./assets/fonts/montserrat/Montserrat-Thin.otf');
  }
  @font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./assets/fonts/montserrat/Montserrat-SemiBold.otf');
  }
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('./assets/fonts/montserrat/MontserratAlternates-Medium.otf');
  }
  @font-face {
    font-family: 'BebasKai';
    src: url('./assets/fonts/BebasKai.ttf');
  }
  @font-face {
    font-family: 'HelveticaNeuelLTStd-Roman';
    src: url('./assets/fonts/HelveticaNeue/HelveticaNeueLTStd-Roman.otf');
  }

  .cdk-overlay-container{
    z-index: 1300;
  }
  .cdk-global-overlay-wrapper {
    display: flex;
    position: absolute;
    z-index: 1000;
    overflow: auto;
    pointer-events: auto;  
  }