.mat-form-field {
    display: block !important;
  }

  
.displayBlock{
  display: block;
}
.displayNone{
  display: none;
}
.discountStyle {
  text-decoration: line-through;
}
.discountNone{
  display: none;
}