<!-- <div class="container space gridSpace row" *ngFor="let prod of productValue">
  <h5 class="mensColect" style="font-family: Montserrat-RegularCn">{{prod.title}}</h5>
  <p class="mensCrip tex-alin" style="font-family: Montserrat-RegularCn">VIEW ALL</p>
  
          
            <app-carousel-item>
              
      <div appCarouselItem class="col-md-1 col-lg-3 col-xl-3 col-6" *ngFor="let img of prod.productDetails" >
          
          <div (click)="getView(img.productId)" >
        <div class="spaceCtrl">
          <div class="box"  >
            
          
            <img [src]="productImageUrl + img.productId + '/' + img.productImageName" class="imgProduct">
        
            <ul class="icon">
                <li>
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                </li>
              </ul>
              <ul class="icont">
                  <li>
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                  </li>
                </ul>
              <h6 class="mEn">{{img.material}}</h6>
              
              <p class="proName" style="font-family: Montserrat-RegularCn">{{img.productName}}</p>
              <p class="priZe" style="font-family: Montserrat-RegularCn"> <span style="text-decoration: line-through;font-family: Montserrat-RegularCn" >{{img.unPriz}}</span> ₹
                {{img.price}}</p>
          </div>
        </div>
  </div>
  
  
        <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
            <div class="example-button-row row" >
                <h6 style="padding-left: 1px;" class="col-xl" *ngFor="let da of img.sizeName">
                  <button mat-mini-flat class='sizeStyle'>
                    <span class='textStyle'>{{da}}</span>
                  </button>
                </h6>
              </div>
          <h6 class="mEn">{{img.material}}</h6>
          <p class="proName">{{img.productName}}</p>
  
          <p class="priZe"> <span style="text-decoration: line-through">{{img.unPriz}}</span> ₹
            {{img.price}}</p>
        </h6>
      </div>
  
  </app-carousel-item>
  
  </div>
  
  
    
          
    -->
    <!-- <div class="container gridSpace space row" *ngFor="let prod of productValue">
  <h5 class="mensColect" style="font-family: Montserrat-RegularCn">{{prod.title}}</h5>
  <p class="mensCrip tex-alin" style="font-family: Montserrat-RegularCn">VIEW ALL</p>

        
          <app-carousel-item>
            
    <div appCarouselItem class="col-md-3 col-lg-3 col-xl-3 col-6"
     *ngFor="let img of prod.productDetails" >
        
        <div (click)="getView(img.productId)" >
      <div class="spaceCtrl">
        <div class="box">
          <img [src]="productImageUrl + img.productId + '/' + img.productImageName" class="imgProduct">
          <ul class="icon">
            <li>
                  <i class="fa fa-heart-o" aria-hidden="true"></i>
            </li>
          </ul>
          <ul class="icont">
              <li>
                    <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              </li>
            </ul>
          
          
          <p class="proName" style="font-family: Montserrat-RegularCn">{{img.productName}}</p>
          <p class="priZe" style="font-family: Montserrat-RegularCn"> <span style="text-decoration: line-through;font-family: Montserrat-RegularCn" >{{img.unPriz}}</span> ₹
            {{img.price}}</p>
        </div>
      </div>
</div>


      <h6 style="text-align: center; margin-top: 8px; margin: 2px; ">
   
      </h6>
    </div>

</app-carousel-item>

</div>
 -->

 
 <!-- <div class="container topSet gridSpace"  *ngFor="let prod of productValue">
  <h5 class="mensColect">{{prod.title}}</h5>
  <p class="mensCrip tex-alin" (click)="getViewAll()">{{prod.description}}</p>
  
    <app-carousel-item>
      <div appCarouselItem class="col-md-3 col-6 pr-2 pl-2" *ngFor="let img of prod.productDetails" >
          
          <div class="productBox"  appHover>
            <div class="productImg">
              
                <div class="grumpy-image-wrapper">
                <img [hidden]="!imageLoader" src="../../../../assets/images/Untitled-1 (1).gif" class="loader"/>
                <img [src]="img.productAll?.productImage[0].productImageName"
                 class="grumpy-image" (click)="getView(img.productAll._id, img.productAll.superCategoryId, img.productAll.subCategoryId)"  [hidden]="imageLoader" 
                 (load)="onLoad()">
              </div>
              <div *ngFor="let prodVal of productStore">
                <div class="productTesting" *ngIf="prodVal._id === img.productId" 
                [class.displayNone]="img.display !== true" 
          [class.displayBlock]="img.display === true">
            <div (click)="closeToBag(img.productAll?._id)" class="sizeHeader  pull-right">
              <mat-icon>clear</mat-icon>
            </div>
            <div class="sizeTesting">
              <button class="oneSize" [disabled]="img.productAll?.quantityCheck  === 0"
               (click)="skuProductAddToCart(prodVal, size)"
              *ngFor="let size of img.productAll?.child">
                <span >{{size.sizeVariant}}</span>
              </button>
            </div>
          </div>
        </div>
        <div class="productActionLeft" (click)="checkLoginUser(img)"
         [ngClass]="{'changeMatIconColor': img.wishList, 'wishProductMob':showMobileView===true}" 
        [style.display]="'none'" >
         <span class="wishProduct " [ngClass]="{'wishProductMob':showMobileView===true}"><span
             class="alignedRelative">Wishlist</span></span>
       </div>
     
            </div>
            <div class="productDetails">
              <h3 class="productName">{{img?.productAll?.productName}}</h3>
              <div class="productPriceBox">
                  
                <h6 class="productPrice">{{img?.productAll?.price * ( (100 + rateModel.incRate) / 100) | converter | localeCurrency}}
                    <span class="fullPrice" >{{(img?.productAll?.sp * ((100 + rateModel.incRate) / 100)) * (100 / (100 - img?.productAll?.discount)) | converter | localeCurrency}}</span>
                </h6>
                <p class="text-center">You Save: <span>{{(img?.productAll?.sp * ( (100 + rateModel.incRate) / 100)) * (img?.productAll?.discount / (100 - img?.productAll?.discount)) | converter | localeCurrency}}</span></p>
              </div>
            </div>
          </div>
        </div>
    </app-carousel-item>
  </div> -->
  <!-- <div class="text-left header-text">
   <h3> FEATURED PRODUCTS </h3>
  
    </div>
    <app-carousel-item>
    <div appCarouselItem class="container-fluid gridRows">
  
      <div class="row mainclass ">
        <div   class="col-md-3 col-4 gridNow text-center">
          <div class="image-box">
          <img src="../../../assets/images/category/dress1 (1).png" class="img-fluid "></div>
          <div class="productDetails">
            <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
            <div class="productPriceBox">
                <h6 class="productPrice">
                    <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                    <span><i class="fa fa-inr"></i> 4500  |</span>  
                    <span class="yousavetext" > 20% OFF</span> 
                </h6>       
              
            </div>
          </div>
        </div>
        <div class="col-md-3 col-4 gridNow text-center">
            <div class="image-box">
            <img src="../../../assets/images/category/dress1 (2).png" class="img-fluid "></div>
            <div class="productDetails">
              <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
              <div class="productPriceBox">
                  <h6 class="productPrice">
                      <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                      <span><i class="fa fa-inr"></i> 4500  |</span>  
                      <span class="yousavetext" > 20% OFF</span> 
                  </h6>        
              </div>
            </div>
        </div>
        <div class="col-md-3 col-4 gridNow text-center">
            <div class="image-box">
            <img src="../../../assets/images/category/dress1 (3).png" class="img-fluid "></div>
            <div class="productDetails">
              <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
              <div class="productPriceBox">
                  <h6 class="productPrice">
                      <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                      <span><i class="fa fa-inr"></i> 4500  |</span>  
                      <span class="yousavetext" > 20% OFF</span> 
                  </h6>        
              </div>
            </div>
        </div>
        <div class="col-md-3 col-4 gridNow text-center">
            <div class="image-box">
            <img src="../../../assets/images/category/dress1 (4).png" class="img-fluid "></div>
            <div class="productDetails">
              <h3 class="productName">Wilson Grand Slam XL Tennis Racquet</h3>
              <div class="productPriceBox">
                  <h6 class="productPrice">
                      <span class="fullPrice" ><i class="fa fa-inr"></i> 5000</span>
                      <span><i class="fa fa-inr"></i> 4500  |</span>  
                      <span class="yousavetext" > 20% OFF</span> 
                  </h6>        
           
              </div>
            </div>
        </div>
     
    
      </div>
    </div>
  </app-carousel-item> -->


   
  <div class="text-left header-text">
      <h3>  FEATURED PRODUCTS  </h3>
    </div>
  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/product2.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Printed Fabric</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/product3.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Satin Fabric</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/product4.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Printed Fabric</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/products/product5.jpg">
                      </a>
                      <a class="product-like-icon" href="#"><i class="fa fa-heart"></i></a>
                      <a class="add-to-cart" href="">add to cart</a>
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Cotton Fabric</a></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- <div class="text-left header-text">
      <h3>  FEATURED PRODUCTS  </h3>
    </div>

  <div class="container">
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/category/dress1 (1).png">
                          <img class="pic-2" src="../../../assets/images/category/dress1 (2).png">
                      </a>
                  
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Women's T-Shirt</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/category/dress1 (3).png">
                          <img class="pic-2" src="../../../assets/images/category/dress1 (4).png">
                      </a>
                    
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Men's jacket</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/category/dress1 (2).png">
                          <img class="pic-2" src="../../../assets/images/category/dress1 (1).png">
                      </a>
                    
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Men's jacket</a></h3>
                  </div>
              </div>
          </div>
          <div class="col-md-3 col-sm-6">
              <div class="product-grid">
                  <div class="product-image">
                      <a href="#" class="image">
                          <img class="pic-1" src="../../../assets/images/category/dress1 (4).png">
                          <img class="pic-2" src="../../../assets/images/category/dress1 (3).png">
                      </a>
                   
                  </div>
                  <div class="product-content">
                      <h3 class="title"><a href="#">Men's jacket</a></h3>
                  </div>
              </div>
          </div>
      </div>
  </div>  -->