<!-- 
<footer class="page-footer font-small unique-color-dark" style="border:1px solid rgb(168, 163, 163);background-color: darkgray;">
 
  <div class="container footerNow ">
    <div class="row mt-3 ">
      <div class="col-md-12 col-lg-12 col-sm-12 col-6  mb-2 text-center" >
          <a class="navbar-brand  imageNav d-sm-black d-md-black d-xs-black mr-auto" routerLink="/home/welcome">
            <img src="../../../assets/images/logo/Zinc Cotton Logo (1).png" class="img-logo" [ngClass]="{'img-logoMob':showMobileView}">
          </a>

      </div>
      <div class="col-md-12 col-lg-12 col-sm-12 col-6 mx-auto mb-2 text-center" >
        <h6 class="footerTopic">CONTACT US</h6>

      </div>
      <div class="col-md-12 col-lg-12 col-xl-12 col-12 mx-auto mb-2 text-center" [ngClass]="{'text-center':showMobileView}">
        
        <p class="text-center" > +91 8899776655 </p>
        <p class="text-center">(Mon-Sat 9.30 AM -5.30 PM)</p>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12 col-6 mx-auto mb-3 text-center">
       <ul>
          <li>
              <a class="footpara" routerLink='/info/contactus'>Privacy Policy</a>
          </li>
            <li>
              <a class="footpara" routerLink='/info/contactus'>Terms & Condition</a>
            </li>
            <li>
              <a class="footpara" routerLink='/info/contactus'>Business Enquiries</a>
            </li>
            <li>
              <a class="footpara" routerLink='/info/contactus'>No Return Policy</a>
            </li>
            
            <li>
              <a class="footpara" routerLink="info/faq">FAQ</a>
            </li>
       </ul>
      
      
      </div>

      <div class="col-md-12 col-6 col-lg-12 col-xl-12 text-center mb-3">
        <h6 class="footerTopic">FOLLOW US</h6>
        <ul>
            <li>
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </li>
              <li>
                  <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </li>
              <li>
                  <i class="fa fa-pinterest-square" aria-hidden="true"></i>
              </li>
           
         </ul>
        
      </div>
    </div>
  </div>
</footer> -->


<!-- <footer class="page-footer font-small unique-color-dark" style="border:1px solid rgb(168, 163, 163);background-color: darkgray;">

<div class="container-fluid">
    <div class="row justify-content-center align-center">
        <div class="col-lg-2 col-md-3 pb-3">
          <div class="logo-section align-left">
              <h3 class="mbr-fonts-style mbr-section-title mbr-white align-left display-7">
                  FOLLOW ON
              </h3>
          </div>
          <div class="social-media align-left">
             <ul>
                <li>
                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </li>
                  <li>
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                  </li>
                  <li>
                      <i class="fa fa-pinterest-square" aria-hidden="true"></i>
                  </li>
               
               
             </ul>
          </div>
          <h3 class="mbr-fonts-style mbr-text mbr-white align-left display-4">Powered by <a class="text-secondary" href="https://mobirise.com/">Mobirise</a>
          </h3>
        </div>
        <div class="col-lg-2 col-md-3 pb-3">
          <h3 class="mbr-fonts-style mbr-section-title mbr-white align-left display-7">
              MEN
          </h3>
          <ul class="mbr-fonts-style mbr-list align-left display-4">
            <li>
              <a class="text-success" href="#">All men</a>
            </li>
            <li>
              <a class="text-success" href="#">Shorts
              </a>
            </li>
            <li>
              <a class="text-success" href="#">Shirts</a>
            </li>
            <li>
              <a class="text-success" href="#">Boardshirts</a>
            </li>
            <li>
              <a class="text-success" href="#">Jackets</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 pb-3">
            <h3 class="mbr-fonts-style mbr-section-title mbr-white align-left display-7">
                WOMAN
            </h3>
            <ul class="mbr-fonts-style mbr-list align-left display-4">
              <li>
                <a class="text-success" href="#">All men</a>
              </li>
              <li>
                <a class="text-success" href="#">Shorts</a>
              </li>
              <li>
                <a class="text-success" href="#">Shirts</a>
              </li>
              <li>
                <a class="text-success" href="#">Boardshirts</a>
              </li>
              <li>
                <a class="text-success" href="#">Jackets</a>
              </li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 pb-3">
            <h3 class="mbr-fonts-style mbr-section-title mbr-white align-left display-7">ABOUT</h3>
            <ul class="mbr-fonts-style mbr-list align-left display-4">
              <li>
                <a class="text-success" href="#">All men</a>
              </li>
              <li>
                <a class="text-success" href="#">Shorts</a>
              </li>
              <li>
                <a class="text-success" href="#">Shirts</a>
              </li>
              <li>
                <a class="text-success" href="#">Boardshirts</a>
              </li>
              <li>
                <a class="text-success" href="#">Jackets</a>
              </li>
            </ul>
        </div>
        <div class="col-lg-4 col-md-8 pb-3">
            <h3 class="mbr-fonts-style mbr-section-title mbr-white align-left display-7">
                SUBSCRIBE
            </h3>
            <h3 class="mbr-fonts-style mbr-offer mbr-white align-left display-4">Subscribe to get special offers, free giveaways, and once-in-a-lifetime deals
            </h3>
            <div class="form-wrap" data-form-type="formoid">
              <div data-form-alert="" hidden="">
                  Thanks for filling out the form!
              </div>
              <form class="mbr-form form-active" action="https://mobirise.com/" method="post" data-form-title="My Mobirise Form"><input type="hidden" data-form-email="true" value="jHaDch6+QOOxXOxrtAWENEBWJVWV47hvLCuBzvDBdPHJmR5WvmtRcSlNIfykD2Szoo+K1DLAznv5AkPND2l01kUQKYAjyAcRJ57koNMIR7hpP5SCTshINLS4IyCevLRL">
                    <button class="icon-btn" type="submit" href="#">
                       <span class="mbri-letter mbr-iconfont mbr-white" media-simple="true"></span>
                    </button>
                    <input type="email" class="field" name="email" data-form-field="Email" placeholder="Enter your email" required="" id="email-footer7-6x">
              </form>
            </div>
        </div>
    </div>
</div>
</footer> -->



<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4" style="border:1px solid rgb(168, 163, 163);background-color: rgb(226, 225, 226);">

    <!-- Footer Links -->
    <div class="container text-center text-md-left col-md-12">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
       
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 mx-auto">
  
      
            <h5 class="font-weight-bold text-uppercase mt-3 mb-3">FOLLOW US</h5>
    
            <ul class="list-unstyled social-icon">
                <li>
                    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
                </li>
                  <li>
                      <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>
                  </li>
                  <li>
                      <i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i>
                  </li>
               
            </ul>
    
          </div>
        <!-- Grid column -->
      
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-3 mx-auto">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-3">CONTACT US</h5>
  
          <ul class="list-unstyled">
            <li class="mb-1">
              <a href="#!">+91 9999999999</a>
            </li>
            <li class="mb-1">
              <a href="#!">(Mon-Sat 9.30 AM -5.30 PM)</a>
            </li>
            <!-- <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li> -->
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <div class="col-md-3 mx-auto ">
  
            <!-- Links -->
            <h5 class="font-weight-bold text-uppercase mt-3 mb-3 policy-text">POLICIES</h5>
    
            <ul class="list-unstyled policy-link">
                <li class="mb-1">
                    <a class="footpara" routerLink='/info/contactus'>Privacy Policy</a>
                </li>
                  <li class="mb-1">
                    <a class="footpara" routerLink='/info/contactus'>Terms & Condition</a>
                  </li>
                  <li class="mb-1">
                    <a class="footpara" routerLink='/info/contactus'>Business Enquiries</a>
                  </li>
                  <li class="mb-1">
                    <a class="footpara" routerLink='/info/contactus'>No Return Policy</a>
                  </li>
                  
                  <li class="mb-1">
                    <a class="footpara" routerLink="info/faq">FAQ</a>
                  </li>
             </ul>
    
          </div>
        

        <div class="col-md-4 mx-auto">
            <h4> Subscribe to Newsletter</h4>
            <form class="input-group">
              <input type="text" class="form-control form-control-sm" placeholder="Your email" aria-label="Your email"
                aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-sm btn-outline-white my-0" type="button">Sign up</button>
              </div>
            </form>
          </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <hr>
    
    <ul class="list-unstyled text-center social-icon">
        <!-- <h5 class="font-weight-bold text-uppercase mt-3 mb-4">FOLLOW US</h5> -->
     
    </ul>
     <div class="footer-copyright text-center ">© 2019 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> zinccotton.com</a>
      </div> 
    <hr>
  
    <!-- Social buttons -->
    <!-- <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fa fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fa fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fa fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fa fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fa fa-dribbble"> </i>
        </a>
      </li>
    </ul> -->
    <!-- Social buttons -->
  
    <!-- Copyright -->
    <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div> -->
    <!-- Copyright -->
  
  </footer>


