<mat-icon (click)="close()" style="cursor: pointer;float:right;">clear</mat-icon>
<h6 class="text-center">Inquiry Form</h6>

<form [formGroup]="InquiryForm" >
<mat-dialog-content>
        <div class="row">
                <div class="col-md-6">
<!-- <p class="text-center"> We will get back to you soon</p> -->
<mat-form-field>
<!-- <p>Name:</p> -->
<input matInput placeholder="Name" type="text" formControlName="Name" > 
</mat-form-field>
<br>
<mat-form-field>
<!-- <p>Country</p> -->
<mat-select matInput placeholder="Country" formControlName="country" (selectionChange)="getState($event)" required>
    <mat-option *ngFor ="let dis of country" [value]="dis.name">{{dis.name}}</mat-option>
  </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
<!-- <p>Email:</p> -->
    <input matInput placeholder="Email" formControlName="email" type="text" >
    </mat-form-field>
<br>
<mat-form-field>
    <!-- <p>Inquiry:</p> -->
        <textarea matInput placeholder="inquiry" formControlName="inquiry"></textarea>
</mat-form-field>
        </div>
        </div>
        <div class="col-md-6">
            
        </div>
</mat-dialog-content>
</form>

<mat-dialog-actions>
    <button (click)="saveInquiry()">Submit</button>
</mat-dialog-actions>